Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Fix ONNX converter
  tools/converter/onnx-converter
  tools/converter/onnx-converter.py
Due: none

Add scikit-learn experiment
  setup.py
  src/pickle.js
  src/sklearn-metadata.json
  src/sklearn-model.js
  src/view-browser.html
  src/view-electron.html
  src/view.js
Due: eslint

Add numpy int64 serialization
  src/numpy.js
  src/view.js
Due: eslint

PyTorch function default
  src/pytorch-model.js
Due: eslint

scikit-learn function default
  src/sklearn-model.js
Due: eslint

Add scikit-learn metadata script
  src/sklearn-metadata.json
  src/sklearn-model.js
  tools/metadata/keras-metadata.py
  tools/metadata/sklearn-metadata.py
  tools/metadata/sklearn-update
  tools/metadata/update
Due: eslint

Update keras-metadata.json
  src/keras-metadata.json
Due: none

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Mark nanoid/async second argument as optional (#79)
  async.js
Due: eslint

Update dependencies
  package.json
  yarn.lock
Due: none

Release 1.2.3 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update caffe2.js and caffe2-metadata.json
  src/caffe2-metadata.json
  src/caffe2.js
Due: eslint

Inline CSS styles during SVG export (#144)
  src/view-render.css
  src/view.js
Due: eslint

Fix HDF5 exception message
  src/hdf5.js
Due: eslint

scikit-learn scalar loader
  src/pickle.js
  src/sklearn-metadata.json
  src/sklearn-model.js
Due: eslint

Update to latest electron-builder
  package.json
Due: none

Add .lite file extension
  src/app.js
  src/tflite-model.js
Due: eslint

Update to 2.1.0
  package.json
Due: none

Fix link
  README.md
Due: yaspeller-ci

Update coreml.js
  src/coreml.js
Due: eslint

scikit-learn pipeline support
  src/sklearn-metadata.json
  src/sklearn-model.js
  tools/metadata/sklearn-update
Due: eslint

scikit-learn null defaults
  src/sklearn-metadata.json
  tools/metadata/sklearn-metadata.py
Due: none

scikit-learn _reconstruct unescape
  src/sklearn-model.js
  src/view.js
Due: eslint

Update README.md (#145)
  README.md
Due: yaspeller-ci

Move to setup.py console_scripts (#146)
  DEVELOPMENT.md
  netron
  setup.cfg
  setup.py
  src/__init__.py
  src/netron
Due: yaspeller-ci

Update to 2.1.1
  package.json
Due: none

Python 3 scikit-learn support
  src/pickle.js
  src/sklearn-model.js
Due: eslint

Rename netron.py
  setup.py
  src/__init__.py
  src/server.py
Due: none

Fix browser version handler
  src/view-browser.js
Due: eslint

scikit-learn pickle functions
  src/sklearn-metadata.json
  src/sklearn-model.js
Due: eslint

PyTorch pickle functions
  src/pytorch-model.js
Due: eslint

Add pkl and joblib extensions
  src/app.js
  src/sklearn-metadata.json
  src/sklearn-model.js
  src/view-browser.html
  tools/metadata/sklearn-metadata.py
Due: eslint
