Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Release 3.1.20 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update mslite.js (#641)
  source/mslite.js
  test/models.json
Due: eslint

Document Expo SDK v39 behavior (#231)
  README.md
  index.browser.js
  package.json
Due: yaspeller-ci, eslint

Remove old Expo advice
  README.md
  index.browser.js
  package.json
  test/async.test.js
Due: yaspeller-ci, eslint

Skip ONNX script on macOS arm64 (#627)
  tools/onnx
Due: none

Fix branch name
  README.md
Due: yaspeller-ci

Update tf-metadata.json
  source/tf-metadata.json
Due: none

Darknet .weights detection (#395)
  source/darknet.js
  source/pytorch-metadata.json
  source/view.js
  test/models.json
Due: eslint

Update pytorch.js
  source/pytorch.js
Due: eslint

Update Keras script
  tools/keras-script.py
Due: none

Update keras-metadata.json
  source/keras-metadata.json
Due: none

Update tf.js
  source/tf.js
Due: eslint

Update TensorFlow script
  tools/tf
Due: none

Update scikit-learn script
  tools/sklearn
Due: none

Skip ONNX script on macOS (#627)
  tools/onnx
Due: none

Update mslite-schema.js
  source/mslite-schema.js
Due: eslint

Detect invalid content (#458)
  source/view.js
Due: eslint

Update pytorch-metadata.json
  source/pytorch-metadata.json
Due: none

Workaround pytorch/vision#3111
  tools/pytorch
Due: none

Update ONNX script
  tools/onnx
Due: none

Update to d3 6.3.0
  package.json
Due: none

Fix Windows app not closing properly (#322) (#645)
  source/app.js
Due: eslint

Update barracuda.js
  source/barracuda.js
Due: eslint

Workaround onnx/onnx#3129 (#627)
  tools/onnx
Due: none

TensorFlow Event File inputs (#638)
  source/tf.js
Due: eslint

Update mslite.js
  source/mslite.js
Due: eslint

Update Makefile
  Makefile
Due: none

Update to 4.6.5
  package.json
Due: none

Add PyTorch NNAPI test file (#644)
  source/pytorch-metadata.json
  source/pytorch.js
  test/models.json
Due: eslint

Update to eslint 7.15.0
  package.json
Due: none

Workaround tensorflow/tensorflow#44485 (#627)
  tools/tf
Due: none

Update mxnet-metadata.json
  source/mxnet-metadata.json
Due: none

Fix no-unused-vars
  .eslintrc.json
  source/armnn.js
  source/caffe.js
  source/cntk.js
  source/coreml.js
  source/darknet.js
  source/dlc.js
  source/dnn.js
  source/electron.js
  source/flatbuffers.js
  source/mediapipe.js
  source/mlnet.js
  source/mnn-schema.js
  source/mnn.js
  source/mslite-schema.js
  source/mslite.js
  source/paddle.js
  source/pytorch.js
  source/sklearn.js
  source/tf.js
  source/tflite-schema.js
  source/view.js
  source/weka.js
  tools/flatc.js
Due: eslint

Update json.js
  source/json.js
Due: eslint

Update npz.js
  source/npz.js
Due: eslint

Add NumPy header reader
  source/numpy.js
Due: eslint

Electron renderer code coverage (jprichardson/electron-mocha#176)
  Makefile
  source/electron.js
Due: eslint

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
