Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Update TensorFlow script
  tools/tf
Due: none

Add Keras test file (#75)
  source/hdf5.js
  source/keras.js
  test/models.json
Due: eslint

Update launch.json
  .vscode/launch.json
Due: none

Update view.js
  source/view.js
Due: eslint

Update to electron 13.2.0
  package.json
Due: none

Update mslite-schema.js
  source/mslite-schema.js
Due: eslint

Update test error logging
  test/models.js
Due: eslint

Update tf-proto.js
  source/tf-proto.js
Due: eslint

Update to electron 13.2.1
  package.json
Due: none

Update to xmldom 0.7.2
  package.json
  test/models.js
Due: eslint

Update tf.js
  source/tf.js
Due: eslint

Update to 5.1.5
  package.json
Due: none

Update caffe2-proto.js
  source/caffe2-proto.js
Due: eslint

Acuity shape inference (#614) (#787)
  source/acuity.js
Due: eslint

Update xmodel.js
  electron-builder.yml
  source/xmodel.js
  test/models.json
Due: eslint

Update imgdnn.js
  source/imgdnn.js
Due: eslint

Update bigdl.js
  source/bigdl.js
Due: eslint

Update dl4j.js
  source/dl4j.js
Due: eslint

Update lasagne.js
  source/lasagne.js
Due: eslint

Update msllite-schema.js
  source/mslite-schema.js
Due: eslint

Update acuity.js
  source/acuity.js
Due: eslint

Update onnx.js
  source/onnx.js
Due: eslint

Detect invalid content (#458)
  source/view.js
Due: eslint

Update ncnn.js
  source/ncnn.js
Due: eslint

Add DaVinci OM prototype (#786)
  Makefile
  source/om-metadata.json
  source/om-proto.js
  source/om.js
  source/view.js
  test/models.json
  tools/om
Due: eslint

Update to electron 13.2.2
  package.json
Due: none

Update paddle-proto.js
  source/paddle-proto.js
Due: eslint

Update ONNX script
  tools/onnx
Due: none

Update scikit-learn script
  tools/sklearn
Due: none

Update PyTorch script
  tools/pytorch
Due: none

Update tf-metadata.json
  source/tf-metadata.json
Due: none

Add DaVinci OM prototype (#786)
  electron-builder.yml
  source/app.js
  source/index.html
  source/om.js
Due: eslint

Update TensorFlow script (#789)
  source/tf-proto.js
  tools/tf
Due: eslint

Update TensorFlow Event File support (#638) (#789)
  source/tf.js
Due: eslint

Fix TensorFlow control dependencies (#617)
  source/om.js
  source/tf.js
  source/view.js
Due: eslint

Update LightGBM prototype (#669)
  source/lightgbm.js
  source/python.js
Due: eslint

Update DEVELOPMENT.md
  DEVELOPMENT.md
Due: yaspeller-ci

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
