Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Update to electron 8.0.1
  package.json
Due: none

Update .pbtxt array test files (#139)
  test/models.json
Due: none

MediaPipe support (#423)
  README.md
  setup.py
  src/mediapipe.js
  src/pytorch.js
  test/models.json
Due: yaspeller-ci, eslint

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Fix Caffe2 script
  tools/caffe2-script.py
Due: none

Update pytorch.js
  src/pytorch.js
Due: eslint

Update to 3.9.1
  package.json
Due: none

Update onnx-proto.js
  src/onnx-proto.js
Due: eslint

Add ML.NET test files (#170)
  src/mlnet.js
  test/models.json
Due: eslint

Update to electron-updater 4.2.2
  package.json
Due: none

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Update pytorch-metadata.json (#432)
  src/pytorch-metadata.json
  src/pytorch.js
  test/models.json
Due: eslint

Update caffe2-metadata.json
  src/caffe2-metadata.json
Due: none

TorchScript for and slice support (#430)
  src/app.js
  src/pytorch-metadata.json
  src/pytorch.js
  test/models.json
  tools/pytorch-script.py
Due: eslint

Update tflite-schema.js
  src/tflite-schema.js
Due: eslint

Update to 3.9.2
  package.json
Due: none

Move to ES2016 and drop IE support
  README.md
  async/format.browser.js
  async/format.js
  async/generate.js
  async/index.browser.js
  async/index.js
  async/random.browser.js
  async/random.js
  async/random.rn.js
  format.browser.js
  format.js
  generate.js
  index.browser.js
  index.js
  non-secure/generate.js
  non-secure/index.js
  package.json
  random.browser.js
  random.js
  test/async-generate.test.js
  test/ie.test.js
  url.js
  yarn.lock
Due: yaspeller-ci, eslint

Handle Caffe compression field
  src/caffe.js
Due: eslint

Chore (#175)
  README.md
  async/random.js
  img/logo.svg
  non-secure/generate.js
Due: yaspeller-ci, eslint

Update README.md
  README.md
  src/index.js
  src/view-sidebar.js
  test/models.json
  tools/pytorch-script.py
Due: yaspeller-ci, eslint

Update documentation code
  src/armnn.js
  src/bigdl.js
  src/caffe.js
  src/caffe2.js
  src/chainer.js
  src/cntk.js
  src/coreml.js
  src/darknet.js
  src/dl4j.js
  src/flux.js
  src/keras.js
  src/mediapipe.js
  src/mlnet.js
  src/mnn.js
  src/mxnet.js
  src/ncnn.js
  src/onnx-metadata.json
  src/onnx.js
  src/openvino.js
  src/paddle.js
  src/pytorch.js
  src/sklearn.js
  src/tf-metadata.json
  src/tf.js
  src/tflite.js
  src/torch.js
  src/view-sidebar.css
  src/view-sidebar.js
  src/view.js
  test/test.js
  tools/onnx-script.py
  tools/tf-script.py
Due: eslint

Update to electron 8.0.2
  package.json
Due: none

Update sklearn.js
  src/sklearn.js
Due: eslint

Update mnn-schema.js
  src/mnn-schema.js
Due: eslint

Update caffe2-proto.js
  src/caffe2-proto.js
Due: eslint

Fix ONNX Caffe2 attribute strings (#119)
  src/onnx.js
  src/tflite.js
  test/models.json
Due: eslint

Update to 3.9.3
  package.json
Due: none

Update dependencies
  package.json
  yarn.lock
Due: none

Update RN docs
  README.md
  index.browser.js
  test/react-native.test.js
Due: yaspeller-ci, eslint

Run test coverage only on first Node.js version
  package.json
  yarn.lock
Due: none

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
