Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Update openvino.js
  source/tf-proto.js
Due: eslint

Update README.md
  README.md
  setup.py
Due: yaspeller-ci

Core ML Model Package .bin detection (#751)
  source/coreml.js
  source/openvino.js
  source/view.js
Due: eslint

Update to eslint 7.29.0
  package.json
Due: none

Update mslite-schema.js
  source/mslite-metadata.json
  source/mslite-schema.js
Due: eslint

Update tf-proto.js
  source/tf-proto.js
Due: eslint

Update tf.js
  source/tf.js
Due: eslint

Update TensorFlow script
  tools/tf-script.py
Due: none

Update to 4.9.8
  package.json
Due: none

Core ML Model Package support (#751)
  electron-builder.yml
Due: none

Update sklearn.js
  source/python.js
Due: eslint

Update keras-metadata.json
  source/keras-metadata.json
Due: none

Update tf-metadata.json
  source/tf-metadata.json
Due: none

Update zip.js
  source/zip.js
Due: eslint

Update tar.js
  source/tar.js
Due: eslint

Update gzip.js
  source/gzip.js
Due: eslint

Update base.js
  source/base.js
Due: eslint

Update protobuf.js
  source/bigdl.js
  source/caffe.js
  source/caffe2.js
  source/cntk.js
  source/coreml.js
  source/darknet.js
  source/dnn.js
  source/json.js
  source/lightgbm.js
  source/mediapipe.js
  source/ncnn.js
  source/onnx.js
  source/openvino.js
  source/paddle.js
  source/protobuf.js
  source/tf.js
  source/tnn.js
  source/uff.js
  source/view.js
  source/xmodel.js
Due: eslint

Update flatc.js
  source/armnn.js
  source/flatbuffers.js
  source/mnn.js
  source/mslite.js
  source/tflite.js
Due: eslint

Update view.js
  source/coreml.js
  source/dl4j.js
  source/flux.js
  source/hdf5.js
  source/json.js
  source/keras.js
  source/npz.js
  source/python.js
  source/pytorch.js
  source/rknn.js
  source/view.js
  source/zip.js
Due: eslint

Update to electron 13.1.3
  package.json
Due: none

Update tflite-schema.js
  source/tflite-metadata.json
  source/tflite-schema.js
Due: eslint

Detect invalid content (#458) (#748)
  source/protobuf.js
  source/view.js
  test/models.json
Due: eslint

Update to electron 13.1.4
  package.json
Due: none

Update pytorch.js
  source/pytorch.js
Due: eslint

Detect invalid content (#458)
  source/onnx.js
  source/tf.js
  source/view.js
Due: eslint

Update tflite-schema.js
  source/tflite-schema.js
Due: eslint

PaddlePaddle support (#198)
  source/paddle.js
  source/view.js
Due: eslint

Fix TensorFlow Lite argument name (#757)
  source/tflite.js
Due: eslint

Add TorchScript test file (#758)
  source/pytorch-metadata.json
  source/pytorch.js
  test/models.json
Due: eslint

Update caffe2-metadata.json
  source/caffe2-metadata.json
Due: none

Update onnx.js
  source/onnx.js
Due: eslint

Update to 4.9.9
  package.json
Due: none

Update winget.js
  Makefile
  publish/cask.js
  publish/winget.js
Due: eslint

Update ncnn.js
  source/ncnn.js
Due: eslint

Add nnabla test file (#759)
  source/hdf5.js
  source/keras.js
  test/models.json
Due: eslint

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
