Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Update benchmark results
  README.id-ID.md
  README.md
  README.ru.md
  README.zh-CN.md
Due: yaspeller-ci

Update python.js
  source/python.js
Due: eslint

Update tnn.js
  source/tnn.js
Due: eslint

Add HDF5 weights test file (#467)
  source/hdf5.js
  test/models.json
Due: eslint

Update to 5.5.1
  package.json
Due: none

Update to 5.5.2
  package.json
Due: none

doc: Fixed Typo (#335)
  CHANGELOG.md
Due: yaspeller-ci

Update vite
  package.json
  pnpm-lock.yaml
Due: none

Update to 5.5.3
  package.json
Due: none

Add CITATION.cff (#866)
  CITATION.cff
Due: none

Update README.md logo (#651)
  README.md
Due: yaspeller-ci

Allows passing size or custom alphabet via cli as args (#334)
  README.md
  README.ru.md
  bin/nanoid.cjs
  bin/nanoid.test.js
  bin/utils/index.js
Due: yaspeller-ci, eslint

Update dependencies
  package.json
  pnpm-lock.yaml
Due: none

Simplify new binary tool
  README.md
  README.ru.md
  bin/nanoid.cjs
  bin/nanoid.test.js
  bin/utils/index.js
  test/bin.test.js
Due: yaspeller-ci, eslint

Remove TS test tools
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

Release 3.2 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update Nano ID in dependencies
  pnpm-lock.yaml
Due: none

Update pytorch.js
  source/pytorch.js
Due: eslint

Update dagre.js
  source/dagre.js
Due: eslint

Detect invalid content (#458)
  source/view.js
Due: eslint

Update to eslint 8.7.0
  package.json
Due: none

Fix attribute string formatting (#868)
  source/view-sidebar.js
Due: eslint

Update onnx-metadata.json
  source/onnx-metadata.json
Due: none

Update pytorch-metadata.json (#870)
  source/pytorch-metadata.json
Due: none

Update tf-proto.js
  source/tf-proto.js
Due: eslint

Update sklearn-metadata.json
  source/sklearn-metadata.json
Due: none

Update pytorch-metadata.json
  source/pytorch-metadata.json
Due: none

Update keras-metadata.json
  source/keras-metadata.json
Due: none

Update to 5.5.4
  package.json
Due: none

Update ncnn detection (#296)
  source/ncnn.js
  source/view.js
Due: eslint

Update TensorRT detection (#725)
  source/tensorrt.js
  source/view.js
Due: eslint

Update flatbuffers.js
  source/flatbuffers.js
Due: eslint

Add base binary reader
  source/base.js
Due: eslint

Add kmodel experiment (#871)
  source/kmodel.js
  source/view.js
  test/models.json
Due: eslint

Update om.js
  source/om.js
Due: eslint

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
