Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Add Deeplearning4j test files (#303)
  src/dl4j-metadata.json
  src/dl4j.js
  test/models.json
Due: eslint

Handle cloudpickle._builtin_type
  src/sklearn.js
Due: eslint

Caffe phase support (#276)
  src/caffe.js
Due: eslint

Remove unnecessary dependency
  package.json
  yarn.lock
Due: none

Update eletron to 6.0.1
  package.json
Due: none

Update coreml-proto.js
  src/coreml-proto.js
Due: eslint

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Recover for unsupported TorchScript code (#313)
  src/torchscript.js
Due: eslint

Update sklearn-metadata.json
  src/sklearn-metadata.json
  tools/sklearn
Due: none

Update to showMessageBoxSync
  src/app.js
  src/electron.js
Due: eslint

Update tf-metadata.json
  src/tf-metadata.json
Due: none

PyTorch state dict detection (#133)
  src/pytorch.js
  test/models.json
Due: eslint

Update tf-proto.js
  src/tf-proto.js
Due: eslint

Zoom prototype update
  src/view.js
Due: eslint

Update to 3.3.1
  package.json
Due: none

Use new Size Limit
  package.json
  yarn.lock
Due: none

Fix pacage keys order
  package.json
Due: none

Update zoom shortcuts
  src/app.js
  src/index.js
Due: eslint

Scrollbars prototype (#24)
  src/electron.html
  src/index.html
  src/view.css
  src/view.js
Due: eslint

Allow react-native alternative for a async random number generator (#136)
  async/random.reactnative.js
  package.json
Due: eslint

Update to electron 6.0.2
  package.json
Due: none

Add basic TensorFlow function support and test files (#318)
  src/tf.js
  test/models.json
Due: eslint

Add Torch test file
  src/torch.js
  test/models.json
Due: eslint

Update sklearn-metadata.json
  src/sklearn-metadata.json
  tools/sklearn-script.py
Due: none

Fix prototxt map reader (#320)
  src/tf-proto.js
  test/models.json
Due: eslint

Fix PyTorch storage reader (#321)
  src/pytorch.js
Due: eslint

Add missing word on README (#137)
  README.md
Due: yaspeller-ci

Update onnx-metadata.json
  src/onnx-metadata.json
  tools/onnx-script.py
Due: none

Update onnx-proto.js
  src/onnx-proto.js
Due: eslint

Update scikit-learn script
  tools/sklearn-script.py
Due: none

Update tflite-schema.js
  src/tflite-schema.js
Due: eslint

Update to 3.3.2
  package.json
Due: none

ML.NET prototype (#170)
  Makefile
  README.md
  setup.py
  src/dl4j.js
  src/mlnet-metadata.json
  src/mlnet.js
  src/mxnet.js
  src/torchscript.js
  src/view.js
  test/models.json
  tools/mlnet
Due: yaspeller-ci, eslint

Update tf-metadata.json
  src/tf-metadata.json
  tools/tf-script.py
Due: none

Update to d3 5.10.0
  package.json
Due: none

Update to eslint 6.2.0
  package.json
Due: none
