Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Fix scikit-learn script
  tools/sklearn-script.py
Due: none

Update sklearn-metadata.json
  src/sklearn-metadata.json
Due: none

Try to fix React Native support
  index.browser.js
  test/ie.test.js
  test/index.test.js
  test/react-native-polyfill.test.js
  test/react-native.test.js
Due: eslint

Update caffe2-metadata.json
  src/caffe2-metadata.json
Due: none

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Update dependecnies
  package.json
  yarn.lock
Due: none

Release 3.1.6 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Typo in README (#218)
  README.md
Due: yaspeller-ci

Update to eslint 7.0.0
  package.json
Due: none

Update pytorch-metadata.json
  src/pytorch-metadata.json
Due: none

Update to 4.1.5
  package.json
Due: none

Add Barracuda prototype #486
  README.md
  electron-builder.yml
  setup.py
  src/app.js
  src/armnn-metadata.json
  src/barracuda.js
  src/index.html
  src/view.js
  test/models.json
Due: yaspeller-ci, eslint

Fix ESLint issues
  .eslintrc.json
  src/app.js
  src/armnn.js
  src/base.js
  src/bigdl.js
  src/bson.js
  src/caffe.js
  src/caffe2.js
  src/chainer.js
  src/cntk.js
  src/coreml.js
  src/darknet.js
  src/dl4j.js
  src/electron.js
  src/flux.js
  src/hdf5.js
  src/index.js
  src/keras.js
  src/mediapipe.js
  src/mlnet.js
  src/mnn.js
  src/mxnet.js
  src/ncnn.js
  src/numpy.js
  src/onnx.js
  src/openvino.js
  src/paddle.js
  src/pickle.js
  src/python.js
  src/pytorch.js
  src/sklearn.js
  src/tar.js
  src/tengine.js
  src/tf.js
  src/tflite.js
  src/torch.js
  src/view-grapher.js
  src/view-sidebar.js
  src/zip.js
  test/test.js
Due: eslint

Remove .gitattributes
  .gitattributes
Due: none

Update to const
  src/paddle.js
  src/python.js
Due: eslint

Update pytorch.js
  src/pytorch.js
Due: eslint

BigDL input support
  src/bigdl-metadata.json
  src/bigdl.js
  test/models.json
Due: eslint

Remove CNTK test file
  test/models.json
Due: none

TensorFlow Lite JSON support (#487)
  src/tflite.js
  src/view.js
  test/models.json
Due: eslint

Update to 4.1.6
  package.json
Due: none

Remove MXNet test file
  test/models.json
Due: none

Fix ncnn inputs (#488)
  src/ncnn-metadata.json
  src/ncnn.js
Due: eslint

Update dev tools
  .npmignore
  async/index.browser.js
  async/index.d.ts
  async/index.js
  index.browser.js
  index.d.ts
  index.js
  non-secure/index.js
  package.json
  test/async.test.js
  test/demo/index.js
  test/ie.test.js
  test/index.test.js
  test/non-secure.test.js
  tsconfig.json
  yarn.lock
Due: eslint

Release 3.1.7 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update to const
  src/bigdl.js
  src/cntk.js
  src/dl4j.js
  src/electron.js
  src/hdf5.js
  src/mxnet.js
Due: eslint

Add expo-random support to nanoid/async
  async/index.browser.js
  async/index.js
  async/random/index.browser.js
  async/random/index.d.ts
  async/random/index.js
  async/random/index.native.js
  package.json
  test/async.test.js
Due: eslint

Darknet .model detection
  src/darknet.js
  src/view.js
  test/models.json
Due: eslint

Update armnn-schema.js
  src/armnn-schema.js
Due: eslint

Update sklearn.js
  src/sklearn.js
Due: eslint

Add vk_swiftshader_icd.json detection
  src/view.js
Due: eslint

Update to electron 8.3.0
  package.json
Due: none

Update tflite-schema.js
  src/tflite-schema.js
Due: eslint

Update openvino.js
  src/openvino.js
Due: eslint
