Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Update to 4.0.3
  package.json
Due: none

Update Keras detection
  src/keras.js
  src/view.js
Due: eslint

Update TensorFlow Lite detection
  src/tflite.js
Due: eslint

Check argument id
  src/armnn.js
  src/bigdl.js
  src/caffe.js
  src/caffe2.js
  src/chainer.js
  src/coreml.js
  src/darknet.js
  src/dl4j.js
  src/keras.js
  src/mediapipe.js
  src/mlnet.js
  src/mxnet.js
  src/ncnn.js
  src/onnx.js
  src/paddle.js
  src/pytorch.js
  src/sklearn.js
  src/tf.js
  src/torch.js
  test/models.json
Due: eslint

Update OpenVINO support (#191)
  src/openvino-metadata.json
  src/openvino.js
Due: eslint

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Update to 4.0.4
  package.json
Due: none

Update to URLSearchParams (#460)
  src/index.js
Due: eslint

Update sklearn.js
  src/sklearn.js
Due: eslint

Handle empty file content
  src/view.js
Due: eslint

Handle Keras HDF5 with .pth extension
  src/keras.js
  src/view.js
Due: eslint

Update to electron 8.2.1
  package.json
Due: none

Workaround tensorflow/tensorflow#38338
  src/tflite-schema.js
  src/tflite.js
Due: eslint

Update tf-metadata.json
  src/tf-metadata.json
  tools/tf-script.py
Due: none

Update pytorch.js
  src/pytorch.js
Due: eslint

Update keras.js
  src/keras.js
Due: eslint

Sort attributes alphabetically (#459)
  src/view-sidebar.js
  src/view.js
Due: eslint

Update OpenVINO support (#191)
  src/openvino-metadata.json
  src/openvino.js
  test/models.json
Due: eslint

Update tflite-metadata.json
  src/tflite-metadata.json
Due: none

Update coreml-metadata.json
  src/coreml-metadata.json
Due: none

Update tf.js
  src/tf.js
Due: eslint

Update Caffe2 test files (#126)
  src/caffe2.js
  test/models.json
Due: eslint

Update dependencies
  package.json
  yarn.lock
Due: none

Add bindary
  bin/index.js
  bin/index.test.js
  package.json
Due: eslint

Add CLI to docs
  README.md
Due: yaspeller-ci

Release 3.1 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update dual-publish
  package.json
  yarn.lock
Due: none

Release 3.1.1 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Add shebang to CLI
  bin/nanoid.js
  bin/nanoid.test.js
  package.json
Due: eslint

Release 3.1.2 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Use CommonJS in bin
  bin/nanoid.cjs
  bin/nanoid.test.js
  package.json
Due: eslint

Release 3.1.3 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Fix Core ML quantization null check
  src/coreml.js
Due: eslint

Fix ncnn attribute null check
  src/ncnn.js
Due: eslint

Fix TensorFlow s.filter issue
  src/tf.js
Due: eslint
