Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

shrink more 4 bytes
  async/format.js
  format.js
Due: eslint

update size limits
  package.json
Due: none

Revert fast mask because of IE support
  async/format.js
  format.js
  package.json
Due: eslint

Remove duplicate dark styles
  src/electron.js
  src/view-grapher.css
  src/view-sidebar.css
  src/view.css
Due: eslint

Update README.md
  README.md
Due: yaspeller-ci

Add BigDL prototype (#355)
  Makefile
  setup.py
  src/bigdl-metadata.json
  src/bigdl-proto.js
  src/bigdl.js
  src/caffe.js
  src/view.js
  test/models.json
  tools/bigdl
Due: eslint

Update to electron 7.0.0
  src/app.js
Due: eslint

Update dependencies
  package.json
  yarn.lock
Due: none

Remove Node.js 13 from CI
  .travis.yml
Due: none

Release 2.1.5 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Remove extra branching, reduce generate size by 3 bytes
  format.js
  package.json
Due: eslint

golf: optimize loop
  format.js
  package.json
Due: eslint

revert
  format.js
  package.json
Due: eslint

improve format tests
  test/format.test.js
Due: eslint

Update BigDL prototype (#355)
  README.md
  setup.py
  src/bigdl-metadata.json
  src/bigdl.js
  test/models.json
Due: yaspeller-ci, eslint

Update caffe2-metadata.json
  src/caffe2-metadata.json
Due: none

Update sharc config
  .travis.yml
  package.json
  yarn.lock
Due: none

Revert fast mask for Node.js
  async/format.browser.js
  format.browser.js
  format.js
  package.json
Due: eslint

Improve tests
  test/async-format.test.js
  test/browser.test.js
  test/format.test.js
Due: eslint

Reduce async format size too
  async/format.browser.js
  async/format.js
  package.json
Due: eslint

Release 2.1.6 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update torch.js
  src/torch.js
Due: eslint

Add NCNN test files
  src/ncnn-metadata.json
  test/models.json
Due: none

Fix pbtxt unknown tag skipping (#358)
  src/caffe.js
  test/models.json
Due: eslint

Update to eslint 6.6.0
  package.json
Due: none

Update sklearn-metadata.json
  src/sklearn-metadata.json
Due: none

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Add TorchScript null check
  src/torchscript.js
Due: eslint

Update test files
  test/models.json
Due: none

Update to 3.4.7
  package.json
Due: none

Publish to snap stable
  Makefile
  electron-builder.yml
Due: none

Update to 3.4.8
  package.json
Due: none

Update to const
  src/app.js
Due: eslint

Update to handlebars 4.5.0
  package.json
Due: none

Add BigDL test file
  src/bigdl-metadata.json
  src/bigdl.js
  test/models.json
Due: eslint

Update to handlebars 4.5.1
  package.json
Due: none

Update mnn-schema.js
  src/mnn-schema.js
Due: eslint

Add Keras model type
  src/keras.js
Due: eslint

About OK button (#360)
  src/app.js
Due: eslint
