Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Update mslite-schema.js
  source/mslite-schema.js
Due: eslint

Add host binary reader (#497)
  source/armnn.js
  source/barracuda.js
  source/bigdl.js
  source/caffe.js
  source/caffe2.js
  source/cntk.js
  source/coreml.js
  source/darknet.js
  source/dnn.js
  source/electron.js
  source/flux.js
  source/gzip.js
  source/index.js
  source/keras.js
  source/mediapipe.js
  source/mnn.js
  source/mslite.js
  source/mxnet.js
  source/ncnn.js
  source/onnx.js
  source/openvino.js
  source/paddle.js
  source/pytorch.js
  source/rknn.js
  source/sklearn.js
  source/tar.js
  source/tengine.js
  source/tf.js
  source/tflite.js
  source/tnn.js
  source/torch.js
  source/uff.js
  source/view.js
  source/weka.js
  source/zip.js
  test/models.js
Due: eslint

Update rknn.js
  source/rknn.js
Due: eslint

Update caffe2-metadata.json
  source/caffe2-metadata.json
Due: none

Update to 4.6.7
  package.json
Due: none

Add host file stream (#497)
  source/electron.js
  source/gzip.js
  source/index.js
  source/pytorch.js
  source/zip.js
  test/models.js
Due: eslint

Update pytorch.js
  source/pytorch.js
Due: eslint

Remove NSIS perMachine=true (#653)
  electron-builder.yml
Due: none

Update to eslint 7.16.0
  package.json
Due: none

Add host file stream (#497)
  source/barracuda.js
  source/darknet.js
  source/electron.js
  source/gzip.js
  source/npz.js
  source/numpy.js
  source/pickle.js
  source/pytorch.js
  source/tf.js
  source/zip.js
Due: eslint

Add Caffe test file
  source/caffe.js
  test/models.json
Due: eslint

Bump node-notifier from 8.0.0 to 8.0.1 (#254)
  yarn.lock
Due: none

ONNX subgraph support (#656)
  source/onnx.js
Due: eslint

Update pickle.js
  source/pickle.js
Due: eslint

Add scikit-learn test file
  source/gzip.js
  source/sklearn.js
  source/view.js
  source/zip.js
  test/models.json
Due: eslint

Acuity support (#614)
  source/acuity-metadata.json
  source/acuity.js
  source/view.js
  test/models.json
Due: eslint

Update to electron-builder 22.10.4 (#627)
  .github/workflows/build.yml
  .github/workflows/publish.yml
  Makefile
  electron-builder.yml
  package.json
Due: none

Update to 4.6.8
  package.json
Due: none

Update to electron 11.1.1
  package.json
Due: none

Update zip.js
  source/gzip.js
  source/hdf5.js
  source/zip.js
Due: eslint

Add ONNX test file
  source/onnx.js
  test/models.json
Due: eslint

Update zip.js
  source/zip.js
Due: eslint

Remove pako
  Makefile
  package.json
  setup.py
  source/index.html
  source/zip.js
Due: eslint

Update pytorch-metadata.json
  source/pytorch-metadata.json
Due: none

Update sklearn.js
  source/sklearn.js
Due: eslint

Update mslite.js (#658)
  source/mslite.js
Due: eslint

Add a link to Perl port. (#256)
  README.md
Due: yaspeller-ci

Fix code example readability
  README.md
Due: yaspeller-ci

Update dependencies
  package.json
  yarn.lock
Due: none

Add test assert support
  test/models.js
  test/models.json
Due: eslint

Update onnx.js
  source/onnx.js
Due: eslint

Update barracuda.js
  source/barracuda.js
Due: eslint

Fix Keras argument identifier (#540)
  source/keras.js
  test/models.json
Due: eslint

Update weka.js
  source/weka.js
Due: eslint

Update ONNX detection
  source/onnx.js
Due: eslint

Keras .weights detection
  source/view.js
Due: eslint

Keras .weights detection
  source/keras.js
  test/models.json
Due: eslint
