Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Update tf-proto.js
  source/tf-proto.js
Due: eslint

Update tf-metadata.json
  source/tf-metadata.json
Due: none

Update tflite.js (#891)
  source/tflite.js
  source/view-sidebar.js
Due: eslint

Update to 5.6.5
  package.json
Due: none

Update view.js
  source/view.js
Due: eslint

Update Makefile
  Makefile
Due: none

Update test files
  test/models.json
Due: none

Add TensorFlow Lite test file (#34) (#891)
  source/circle.js
  source/mslite.js
  source/tflite.js
  source/view-sidebar.js
  test/models.js
  test/models.json
Due: eslint

Update pytorch-metadata.json
  source/pytorch-metadata.json
Due: none

Update mslite-schema.js
  source/mslite-metadata.json
  source/mslite-schema.js
Due: eslint

Update dagre.js
  source/dagre.js
Due: eslint

Update view.js (#892)
  source/view.js
Due: eslint

Update to 5.6.6
  package.json
Due: none

Update onnx-metadata.json
  source/onnx-metadata.json
Due: none

Update to eslint 8.12.0
  package.json
Due: none

Update to electron-notarize 1.2.1
  package.json
Due: none

Update to electron 17.2.0
  package.json
Due: none

Update CI
  .github/workflows/test.yml
Due: none

Update dependencies
  package.json
  pnpm-lock.yaml
Due: none

Release 3.3.2 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update paddle-proto.js
  source/paddle-proto.js
Due: eslint

Update keras.js (#894)
  source/keras.js
Due: eslint

Add R implementation to the language lists (#353)
  README.id-ID.md
  README.md
  README.ru.md
  README.zh-CN.md
Due: yaspeller-ci

TensorFlow .txt detection
  source/tf.js
  source/view.js
Due: eslint

Update to 5.6.7
  package.json
Due: none

Update caffe2-proto.js
  source/caffe2-proto.js
Due: eslint

Update protoc.js
  tools/protoc.js
Due: eslint

Add curly lint rule
  package.json
Due: none

Add nnabla prototype (#759) (#880)
  package.json
  source/nnabla-metadata.json
  source/nnabla-proto.js
  source/nnabla.js
  source/view.js
  test/models.json
  tools/nnabla
  tools/nnabla-script.py
Due: eslint

Add no-unmodified-loop-condition lint rule
  package.json
  source/xml.js
  source/zip.js
Due: eslint

Update nnabla script (#759)
  Makefile
  tools/nnabla
Due: none

Add kmodel test file (#871)
  source/kmodel.js
  test/models.json
Due: eslint

Add no-unused-private-class-members lint rule
  package.json
Due: none

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
