Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Update npz.js
  source/npz.js
Due: eslint

Update Arm NN test file
  test/models.json
Due: none

Update to electron 16.0.2
  package.json
Due: none

Update README.md logo (#651)
  .github/logo.svg
  README.md
Due: yaspeller-ci

Update mslite-schema.js
  source/mslite-metadata.json
  source/mslite-schema.js
Due: eslint

Remove scikit-learn script macOS arm64 guard (#627)
  tools/sklearn
Due: none

Update sklearn-metadata.json
  source/sklearn-metadata.json
Due: none

Update keras-metadata.json
  source/keras-metadata.json
Due: none

Update tf-metadata.json
  source/tf-metadata.json
Due: none

Add ONNX test file (#845)
  source/onnx.js
  test/models.json
Due: eslint

Update xml.js
  source/xml.js
Due: eslint

Add TorchScript test file (#842)
  source/pytorch.js
  test/models.json
Due: eslint

Update pytorch-metadata.json
  source/pytorch-metadata.json
Due: none

Update to 5.3.9
  package.json
Due: none

Update PyTorch detection
  source/view.js
Due: eslint

Update om.js
  source/om.js
Due: eslint

Update mxnet.js
  source/mxnet.js
Due: eslint

Update pytorch.js (#637)
  source/pytorch.js
Due: eslint

Update README.md logo (#651)
  .github/logo-dark.svg
  .github/logo-light.svg
  .github/logo.svg
  README.md
Due: yaspeller-ci

Fix export view box (#625)
  source/view.js
Due: eslint

Update to 5.4.0
  package.json
Due: none

docs: remove notes about HTML id usage (#319)
  README.md
  README.ru.md
  README.zh-CN.md
Due: yaspeller-ci

Add Node.js 17 and speed up CI a little
  .github/workflows/test.yml
Due: none

Update dependencies
  package.json
  yarn.lock
Due: none

Fix web demo
  test/demo/index.html
Due: none

Update pytorch.js
  source/pytorch.js
Due: eslint

Update MNN script
  tools/mnn
Due: none

Update mnn-schema.js
  source/mnn-schema.js
Due: eslint

Update to electron 16.0.3
  package.json
Due: none

Update ONNX script (#627) (onnx/onnx#3129)
  tools/onnx
Due: none

Add TensorFlow test file (#847)
  source/protobuf.js
  test/models.json
Due: eslint

Remove performance note for non-secure
  README.md
Due: yaspeller-ci

Update README.ru.md
  README.ru.md
Due: yaspeller-ci

Update to 5.4.1
  package.json
Due: none

Update GitHub button
  source/index.html
Due: none

Update python.js
  source/python.js
Due: eslint

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
