Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Detect invalid content (#458)
  source/view.js
Due: eslint

Workaround onnx/onnx#3114
  Makefile
  tools/onnx
Due: none

Workaround pytorch/vision#3027
  test/models.js
  test/models.json
  tools/pytorch-script.py
Due: eslint

Update uff.js
  source/uff.js
Due: eslint

Update to pako 2.0.2
  package.json
Due: none

Update caffe2-proto.js
  source/caffe2-proto.js
Due: eslint

Update tf-metadata.json
  source/tf-metadata.json
Due: none

Update dependencies
  package.json
  yarn.lock
Due: none

Fix CI
  package.json
  yarn.lock
Due: none

Release 3.1.17 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update tf-proto.js
  source/tf-proto.js
Due: eslint

Release 3.1.18 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Sort benchmark
  README.md
Due: yaspeller-ci

Sort benchmarks in script too
  test/benchmark.js
Due: eslint

Update comparison with UUID v4
  README.md
  package.json
Due: yaspeller-ci

Remove debug code
  package.json
Due: none

Detect invalid content (#458)
  source/view.js
  test/models.json
Due: eslint

Update to electron 11.0.2
  package.json
Due: none

Update to eslint 7.14.0
  package.json
Due: none

Update icon
  publish/icon.html
  publish/icon.icns
  publish/icon.icns.svg
  publish/icon.ico
  publish/icon.png
  publish/icon.svg
  source/favicon.ico
  source/icon.png
Due: none

Revert "Workaround pytorch/vision#3027"
  test/models.js
  test/models.json
  tools/pytorch-script.py
Due: eslint

Update Makefile
  Makefile
Due: none

Update test error logging
  test/models.js
Due: eslint

Update development configs
  package.json
  yarn.lock
Due: none

Add Node.js 10 to CI
  .github/workflows/test.yml
Due: none

Update to 4.6.3
  package.json
Due: none

Fix TensorFlow script
  tools/tf-script.py
Due: none

Update archive detection
  source/index.js
  source/view.js
  test/models.json
Due: eslint

Update tengine-metadata.json (#628)
  source/tengine-metadata.json
Due: none

Add MindSpore support (#600) (#602)
  Makefile
  source/app.js
  source/index.html
  source/mslite-metadata.json
  source/mslite-schema.js
  source/mslite.js
  source/view.js
  test/models.json
  tools/mslite
Due: eslint

Update pytorch-metadata.json
  source/pytorch-metadata.json
Due: none

Update tflite-schema.js
  source/tflite-schema.js
Due: eslint

Update to electron 11.0.3
  package.json
Due: none
