Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Update package.json
  package.json
Due: none

File drop filter
  src/view.js
Due: eslint

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Add test for .pth.tar scenario
  test/models.json
Due: none

Update caffe2-metadata.json
  src/caffe2-metadata.json
Due: none

HDF5 match error handling
  src/hdf5.js
Due: eslint

PyTorch script using pip install
  tools/pytorch
Due: none

Update sklearn.js
  src/sklearn.js
Due: eslint

Update tflite-schema.js
  src/tflite-schema.js
Due: eslint

Update caffe2-metadata.json
  src/caffe2-metadata.json
  tools/caffe2-script.py
Due: none

Update package.json
  Makefile
  package.json
Due: none

Update keras-metadata.json
  src/keras-metadata.json
Due: none

Test null string
  src/caffe.js
  src/caffe2.js
  src/cntk.js
  src/coreml.js
  src/darknet.js
  src/keras.js
  src/mxnet.js
  src/onnx.js
  src/openvino.js
  src/paddle.js
  src/pytorch.js
  src/sklearn.js
  src/tf.js
  src/tflite.js
  src/torch.js
  src/view-sidebar.js
  src/view.js
  test/test.js
Due: eslint

Remove libomp-dev from Linux PyTorch script
  tools/pytorch
Due: none

Remove package-lock.json in make reset
  Makefile
Due: none

Update to 2.9.5
  package.json
Due: none

Invoke virtualenv via module
  tools/coreml
  tools/keras
  tools/onnx
  tools/pytorch
  tools/sklearn
  tools/tf
  tools/tflite
Due: none

Add sample model files to README.md (#239)
  README.md
Due: yaspeller-ci

Fix TensorFlow Lite enum lookup
  src/tflite.js
Due: eslint

Update pytorch.js
  src/pytorch.js
Due: eslint

Update torch.js
  src/torch.js
Due: eslint

Add --format for pip list
  tools/coreml
  tools/keras
  tools/onnx
  tools/pytorch
  tools/sklearn
  tools/tf
  tools/tflite
Due: none

Updatee enum handling for tflite.TensorType (#240)
  src/tflite.js
Due: eslint

Update to 2.9.7
  package.json
Due: none

test: add benchmark for secure-random-string (#116)
  package.json
  test/benchmark
  yarn.lock
Due: none

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
