Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Update sklearn-metadata.json
  source/sklearn-metadata.json
Due: none

Update paddle-proto.js
  source/paddle-proto.js
Due: eslint

Update to electron 15.3.0
  package.json
Due: none

Update onnx-metadata.json
  source/onnx-metadata.json
Due: none

Fix typo
  source/electron.js
Due: eslint

Update view.js
  source/view.js
Due: eslint

Update json.js
  source/json.js
Due: eslint

Add UFF test file (#511) (#593)
  source/uff.js
  test/models.json
Due: eslint

Update tflite-schema.js
  source/tflite-schema.js
Due: eslint

Update to eslint 8.1.0
  package.json
Due: none

Update to 5.3.1
  package.json
Due: none

Add PyTorch NNAPI support (#644)
  source/pytorch.js
Due: eslint

Update CoreML .pb detection (##593)
  source/coreml.js
  source/view.js
  test/models.json
Due: eslint

Update README.md
  README.md
Due: yaspeller-ci

Update openvino.js
  source/openvino.js
Due: eslint

Detect invalid content (#458)
  source/view.js
  test/models.json
Due: eslint

Workaround pytorch/pytorch#67151
  tools/pytorch
Due: none

Add Core ML test file (#832)
  source/coreml.js
  test/models.json
Due: eslint

Update mslilte-schema.js
  source/mslite-metadata.json
  source/mslite-schema.js
Due: eslint

Update ncnn.js (#833)
  source/ncnn.js
Due: eslint

Add link to ColdFusion/CFML Port (#312)
  README.md
  README.ru.md
  README.zh-CN.md
Due: yaspeller-ci

Fix spelling check
  package.json
Due: none

Update dependencies
  package.json
  yarn.lock
Due: none

Update "other language count" to 20 (#313)
  README.md
  README.ru.md
  README.zh-CN.md
Due: yaspeller-ci

Remove Caffe2 script (pytorch/pytorch#67151)
  tools/caffe2-script.py
  tools/pytorch
Due: none

Update tf-proto.js
  source/tf-proto.js
Due: eslint

Update pytorch.js
  source/pytorch.js
Due: eslint

Update PyTorch detection
  source/view.js
Due: eslint

Update mslite-schema.js
  source/mslite-schema.js
Due: eslint

Add Circle script (#790)
  Makefile
  source/cicrle-schema.js
  tools/circle
Due: eslint

Update to 5.3.2
  package.json
Due: none

Update PyTorch NNAPI test file (#644)
  source/pytorch-metadata.json
  source/pytorch.js
  test/models.json
Due: eslint

Add PyTorch Mobile test file (#827)
  source/pytorch-metadata.json
  test/models.json
Due: none

Update tf-metadata.json
  source/tf-metadata.json
Due: none

Update pytorch.js (#825)
  source/pytorch-metadata.json
  source/pytorch.js
  test/models.json
Due: eslint
