Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Update caffe2-metadata.json
  src/caffe2-metadata.json
  tools/caffe2-script.py
Due: none

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Update torchscript-metadata.json
  src/torchscript-metadata.json
Due: none

Use common configs from sharec
  .gitignore
  .npmignore
  package.json
  yarn.lock
Due: none

Use new sharec config
  .npmignore
  package.json
  yarn.lock
Due: none

Pickle empty set and add items support
  src/pickle.js
Due: eslint

Pickle unknown function error reporting
  src/pytorch.js
  src/sklearn.js
Due: eslint

Update pytorch.js
  src/pytorch.js
Due: eslint

Update sklearn.js
  src/sklearn.js
Due: eslint

Add macOS notarization
  electron-builder.yml
  package.json
  setup/entitlements.mas.plist
  setup/notarize.js
Due: eslint

Update to electron-builder 21.1.5
  package.json
Due: none

Pickle performance
  src/pickle.js
  test/models.json
Due: eslint

Update onnx.js
  src/onnx.js
Due: eslint

Update tf-proto.js
  src/tf-proto.js
Due: eslint

Detect scikit-learn .model extension (#182)
  src/sklearn.js
  src/view.js
Due: eslint

Update to 3.2.9
  package.json
Due: none

Update DEVELOPMENT.md
  DEVELOPMENT.md
Due: yaspeller-ci

Convert to Map class
  src/app.js
  src/caffe.js
  src/caffe2.js
  src/cntk.js
  src/keras.js
  src/onnx.js
  src/pickle.js
  src/python.js
  src/pytorch.js
  src/sklearn.js
  src/tf.js
  src/tflite.js
  src/view.js
Due: eslint

Update mxnet-metadata.json
  src/mxnet-metadata.json
Due: none

Update darknet script
  tools/darknet
Due: none

Deeplearning4j support (#303)
  Makefile
  README.md
  setup.py
  src/dl4j-metadata.json
  src/dl4j.js
  src/view.js
  test/models.json
  tools/dl4j
Due: yaspeller-ci, eslint

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Update to protobuf.js#master
  package.json
Due: none

Update to 3.3.0
  package.json
Due: none

Fix ONNX .pbtxt check
  src/onnx.js
Due: eslint

Move scripts to python3
  tools/caffe
  tools/cntk
  tools/coreml
  tools/darknet
  tools/dl4j
  tools/keras
  tools/mxnet
  tools/ncnn
  tools/onnx
  tools/pytorch
  tools/sklearn
  tools/tf
  tools/tflite
  tools/torch
Due: none

Update ESLint config
  package.json
  test/alphabet
  test/alphabet-worker.js
  test/async-format.test.js
  test/async-generate.test.js
  test/async-random.test.js
  test/async.test.js
  test/benchmark
  test/browser.test.js
  test/demo/index.js
  test/format.test.js
  test/generate.test.js
  test/ie.test.js
  test/index.test.js
  test/non-secure-generate.test.js
  test/non-secure.test.js
  test/old-browser.test.js
  test/random.test.js
  test/url.test.js
  yarn.lock
Due: eslint

More universal error message check to fix Node.js 8
  test/async.test.js
Due: eslint

Caffe LSTM input names (#306)
  src/caffe-metadata.json
  src/caffe.js
  test/models.json
Due: eslint

Add OpenVINO test files
  test/models.json
Due: none

Update tflite-metadata.json
  src/tflite-metadata.json
Due: none

Core ML customModel support
  src/coreml.js
  test/models.json
Due: eslint

Darknet fixes (#277)
  src/darknet.js
Due: eslint

Update to electron 6.0.0
  package.json
Due: none

Update to electron-builder 21.2.0
  package.json
Due: none

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
