Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Replace type strings with tensor types (#71)
  src/caffe-model.js
  src/caffe2-model.js
  src/coreml-model.js
  src/keras-model.js
  src/mxnet-model.js
  src/onnx-model.js
  src/tf-model.js
  src/tflite-model.js
  src/view-sidebar.js
  src/view.js
Due: eslint

Electron protopbjs require
  src/caffe-model.js
  src/caffe2-model.js
  src/coreml-model.js
  src/keras-model.js
  src/onnx-model.js
  src/pytorch-model.js
  src/tf-model.js
  src/tflite-model.js
  src/view-browser.html
  src/view-browser.js
  src/view-electron.html
  src/view-electron.js
Due: eslint

tar reader module
  setup.py
  src/tar.js
  src/view-browser.html
  src/view-electron.html
  src/zip.js
Due: eslint

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Update caffe.js
  src/caffe.js
Due: eslint

Update tflite.js
  src/tflite.js
Due: eslint

Fix blank class in select
  src/view.js
Due: eslint

Tensor Serialization (#125)
  src/caffe-model.js
  src/caffe2-model.js
  src/coreml-model.js
  src/keras-model.js
  src/mxnet-model.js
  src/numpy.js
  src/onnx-model.js
  src/pytorch-model.js
  src/tf-model.js
  src/tflite-model.js
  src/view-electron.js
  src/view-sidebar.js
  src/view.js
Due: eslint

Update tflite.json
  src/tflite.js
Due: eslint

Fix TensorFlow tensor states
  src/tf-model.js
Due: eslint

Update keras-metadata.json
  src/keras-metadata.json
Due: none

tf-metadata.json
  src/tf-metadata.json
Due: none

Fix open dialog extensions
  src/app.js
Due: eslint

Improve Keras format detection
  src/keras-model.js
  src/mxnet-model.js
  src/view.js
Due: eslint

Update caffe2 script
  tools/caffe2-update
Due: none

Update to 2.0.6
  package.json
Due: none

Fix tensor default path
  src/view.js
Due: eslint

Update GitHub links
  Makefile
  README.md
  setup.py
  src/view-browser.html
Due: yaspeller-ci

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Fix PyTorch error message
  src/pytorch-model.js
Due: eslint

Run Keras script on Python 2.7
  tools/keras-update
Due: none

Run Caffe2 script on Python 2.7
  tools/caffe-update
  tools/caffe2-update
  tools/coreml-update
  tools/onnx-update
  tools/update_pbjs.js
Due: eslint

Run scripts in virtualenv
  tools/caffe2-update
  tools/keras-update
  tools/onnx-update
  tools/tf-update
Due: none

Freeze electron-builder 20.27.1
  package.json
Due: none

Update to 2.0.7
  package.json
Due: none

Add PyTorch metadata script
  src/pytorch-metadata.json
  tools/pytorch-metadata.py
  tools/pytorch-update
  tools/update
Due: none

Icon converter script
  setup/icon.icns
  setup/icon.ico
  setup/icon.svg
  src/icon.png
  tools/converter/coreml-converter
  tools/converter/coreml-converter.py
  tools/converter/onnx-converter
  tools/converter/onnx-converter.py
  tools/icon/index.html
  tools/icon/update
  tools/metadata/caffe-update
  tools/metadata/caffe2-metadata.py
  tools/metadata/coreml-update
  tools/metadata/keras-metadata.py
  tools/metadata/keras-update
  tools/metadata/mxnet-metadata.py
  tools/metadata/mxnet-update
  tools/metadata/onnx-metadata.py
  tools/metadata/onnx-update
  tools/metadata/pytorch-metadata.py
  tools/metadata/pytorch-update
  tools/metadata/tf-metadata.py
  tools/metadata/tf-update
  tools/metadata/tflite-update
  tools/metadata/update
  tools/metadata/update_pbjs.js
  tools/update
Due: eslint

Update to 2.0.8
  package.json
Due: none

Update to 2.0.9
  package.json
Due: none

Add highlight to benchmark
  README-cn.md
  README.md
Due: yaspeller-ci

Fix bug in non-secure.js (#78)
  non-secure.js
Due: eslint

Improve distribution test to check that all symbols are used
  test/async.test.js
  test/generate.test.js
  test/index.test.js
  test/non-secure.test.js
Due: eslint

Update dependencies
  package.json
  yarn.lock
Due: none

Release 1.2.2 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Fix TensorFlow variable check
  src/tf-model.js
Due: eslint

Update repository name
  package.json
Due: none

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
