Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Arm NN graph inputs and outputs (#515)
  src/armnn-metadata.json
  src/armnn.js
Due: eslint

Revert workaround (microsoft/winget-pkgs#1665)
  Makefile
Due: none

Fix TensorFlow Lite attribute metadata (#516)
  src/tflite.js
Due: eslint

Add UFF prototype (#511)
  electron-builder.yml
  src/app.js
  src/hdf5.js
  src/index.html
  src/uff-metadata.json
  src/uff-proto.js
  src/uff.js
  tools/uff.proto
Due: eslint

HDF5 boolean support (#517)
  src/hdf5.js
  src/keras.js
Due: eslint

Add enableRemoteModule
  src/app.js
Due: eslint

Update to 4.3.2
  package.json
Due: none

PyTorch quantized weights support (#519)
  src/pytorch.js
  test/test.js
Due: eslint

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Fix attribute string decoder (#119) (#518)
  src/onnx.js
  src/tf.js
Due: eslint

Workaround for large float arrays in Chromium (#131)
  src/tf-proto.js
  src/tf.js
  test/models.json
  tools/tf
Due: eslint

Fix attribute string decoder (#119) (#518)
  src/tf.js
Due: eslint

Add PyTorch test files (#519)
  test/models.json
Due: none

Remove BigDL test coverage (intel-analytics/analytics-zoo#2447)
  test/models.json
  test/test.js
Due: eslint

Update dependencies
  package.json
  yarn.lock
Due: none

Release 3.1.10 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Skip ONNX zoo Git LFS test files (onnx/models#317)
  test/models.json
  test/test.js
Due: eslint

Add ONNX zoo Git LFS test files (onnx/models#317)
  test/models.json
Due: none

Update PyTorch test files (#519)
  test/models.json
Due: none

TNN prototype (#521)
  Makefile
  setup.py
  src/app.js
  src/index.html
  src/ncnn-metadata.json
  src/ncnn.js
  src/tnn-metadata.json
  src/tnn.js
  src/view.js
  test/models.json
  tools/ncnn
Due: eslint

Update to electron 9.0.4
  package.json
Due: none

Remove postuninstall
  package.json
Due: none

Update README.md
  README.md
  setup.py
Due: yaspeller-ci

Update to 4.3.3
  package.json
Due: none

Update publish script
  Makefile
Due: none

Update ncnn.js
  src/ncnn.js
Due: eslint

Added C++ implementation reference to README (#224)
  README.md
Due: yaspeller-ci

Update scripts
  Makefile
  src/keras-metadata.json
  src/tf-metadata.json
  src/tflite-metadata.json
  src/view-sidebar.css
  test/models.json
  tools/armnn
  tools/bigdl
  tools/caffe
  tools/chainer
  tools/cntk
  tools/darknet
  tools/dl4j
  tools/keras
  tools/keras-script.py
  tools/mediapipe
  tools/mlnet
  tools/mlnet-script.py
  tools/mnn
  tools/mxnet
  tools/mxnet-script.py
  tools/paddle
  tools/pytorch
  tools/sklearn
  tools/tengine
  tools/tf
  tools/tf-script.py
  tools/tflite
  tools/torch
  tools/uff
  tools/update_icon
Due: none

Update to const
  src/mnn.js
Due: eslint

Split Chainer support (#337)
  setup.py
  src/keras.js
  src/npz.js
  src/numpy.js
  src/view.js
  test/models.json
Due: eslint

Update tnn.js (#524)
  src/tnn.js
Due: eslint

Update to const
  src/keras.js
Due: eslint

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Workaround pytorch/pytorch#40013
  test/models.json
  tools/pytorch
  tools/tf
Due: none

scikit-learn .pickle detection
  src/sklearn.js
  src/view.js
Due: eslint

Workaround intel-analytics/analytics-zoo#2447
  src/bigdl.js
  test/models.json
Due: eslint

Replace chalk to kleur
  package.json
  test/benchmark
  yarn.lock
Due: none

Update armnn-schema.js
  src/armnn-schema.js
Due: eslint
