Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Update caffe2.js
  src/caffe2.js
Due: eslint

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Update tflite.js
  src/tflite.js
Due: eslint

Update pytorch-metadata.json
  src/pytorch-metadata.json
  src/pytorch-model.js
Due: eslint

Support .ONNX extension
  src/onnx-model.js
Due: eslint

Add Caffe Crop metadata
  src/caffe-metadata.json
Due: none

Add CNTK attribute defaults
  src/cntk-metadata.json
  src/cntk-model.js
Due: eslint

Move async files to separated directory
  async/index.browser.js
  async/index.js
  package.json
  test/browser.test.js
Due: eslint

Decrease async size
  async/index.browser.js
  package.json
Due: eslint

Fix tests for async/ dir
  package.json
Due: none

Add async random, generate, and format
  README.md
  async/format.js
  async/generate.js
  async/index.js
  async/random.browser.js
  async/random.js
  package.json
  test/async-format.test.js
  test/async-generate.test.js
  test/async-random.test.js
Due: yaspeller-ci, eslint

Improve test coverage
  test/async-format.test.js
Due: eslint

Update Size Limit
  package.json
  yarn.lock
Due: none

Reduce async/format size
  async/format.js
  package.json
Due: eslint

Fix JSDoc
  async/format.js
Due: eslint

Decrease async/format size
  async/format.js
  package.json
  test/async-generate.test.js
Due: eslint

Add async/generate to benchmark
  README-cn.md
  README.md
  test/benchmark
Due: yaspeller-ci

Fix test coverage
  test/async-format.test.js
  test/format.test.js
Due: eslint

Fix spelling check
  package.json
Due: none

Speed up random generator
  README-cn.md
  README.md
  random.js
Due: yaspeller-ci, eslint

Improve test coverage
  test/random.test.js
Due: eslint

Copy uid callback API
  async/index.js
  test/async.test.js
Due: eslint

Inline MXNet metadata methods
  src/mxnet-model.js
Due: eslint

Inline ONNX metadata methods
  src/onnx-model.js
Due: eslint

Add CNTK metadata (#153)
  src/cntk-metadata.json
  src/cntk-model.js
  src/view-browser.js
  src/view-electron.js
Due: eslint

Fix CoreML null description
  src/coreml-model.js
Due: eslint

Update tflite.js
  src/tflite-model.js
  src/tflite.js
Due: eslint

Detect CNTK v1 format (#153)
  src/cntk-metadata.json
  src/cntk-model.js
Due: eslint

Fix Keras sequential config layers (#157)
  src/keras-model.js
Due: eslint

Short pickle reader method names
  src/pickle.js
Due: eslint

Short HDF5 reader method names
  src/hdf5.js
Due: eslint

Add pickle PERSID op code
  src/pickle.js
Due: eslint

Fix Chromium large float[] for CNTK v2 (#153)
  src/cntk.js
  tools/metadata/cntk-update
Due: eslint

CNTK v1 tensor type support (#153)
  src/cntk-metadata.json
  src/cntk-model.js
Due: eslint

CNTK v1 reader fixes (#153)
  src/cntk-metadata.json
  src/cntk-model.js
  src/mxnet-model.js
Due: eslint

Enable CNTK reader (#153)
  src/cntk-model.js
  src/view-browser.js
  src/view-electron.js
Due: eslint

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
