Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Update to 2.2.5
  package.json
Due: none

Update to 2.2.6
  package.json
Due: none

CNTK function experiments
  src/cntk-metadata.json
  src/cntk-model.js
  src/view-render.css
  src/view-sidebar.js
  src/view.js
Due: eslint

Release 1.3 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Fix line breaks in docs
  README.md
Due: yaspeller-ci

Fix docs
  README.md
Due: yaspeller-ci

Fix small lines in docs
  README.md
Due: yaspeller-ci

Use more formal word
  README.md
Due: yaspeller-ci

Update other language links in Chinese docs
  README-cn.md
Due: yaspeller-ci

Add one feature to docs
  README.md
Due: yaspeller-ci

Simplify feature in docs
  README.md
Due: yaspeller-ci

Change feature order in docs
  README.md
Due: yaspeller-ci

Put small feature on the top
  README.md
Due: yaspeller-ci

Update features in Chinese docs
  README-cn.md
Due: yaspeller-ci

Typo
  README.md
Due: yaspeller-ci

Add new alphabet bruteforcer
  test/alphabet
  test/alphabet-worker.js
Due: eslint

Improve alphabet bruteforcer
  package.json
  test/alphabet
  test/alphabet-worker.js
Due: eslint

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Update tflite.js
  src/tflite.js
Due: eslint

Update caffe2.js
  src/caffe2.js
Due: eslint

PyTorch .pkl detection
  src/pytorch-model.js
Due: eslint

scikit-learn detection fixes
  src/sklearn-metadata.json
  src/sklearn-model.js
  tools/metadata/sklearn-update
Due: eslint

Improve bruteforce output
  test/alphabet
Due: none

Speed up bruteforce
  test/alphabet-worker.js
Due: eslint

Update linter
  package.json
  test/alphabet
  test/alphabet-worker.js
  yarn.lock
Due: eslint

Remove ONNX parenthesis for unknown arguments
  src/onnx-model.js
Due: eslint

Decrease size
  README.md
  async/index.browser.js
  index.browser.js
  package.json
  url.js
Due: yaspeller-ci, eslint

Caffe .pbtxt detection
  src/caffe-metadata.json
  src/caffe-model.js
  src/caffe2-model.js
  src/onnx-model.js
  src/tf-model.js
  src/view-electron.js
  src/view.js
Due: eslint

Normalize comment
  url.js
Due: eslint

Try to add old Node.js to CI
  .travis.yml
  test/ci
Due: none

Improve old Node.js CI test
  test/ci
Due: none

Custom install to fix Node.js 0.8 CI
  .travis.yml
  test/ci-install
Due: none

Fix custom CI installer
  test/ci-install
Due: none

Try to fix CI
  .travis.yml
Due: none

Second try to fix CI
  .travis.yml
  yarn.lock
Due: none

Move project from yarn to npm
  .gitignore
  .npmignore
  package-lock.json
  package.json
  test/ci-install
Due: none

Fix Node.js 6 on CI
  test/ci-install
Due: none

Typo
  test/ci-install
Due: none

Fix error message reporting
  src/view-browser.js
  src/view-electron.js
Due: eslint

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
