Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Update electron-builder 22.3.2
  package.json
Due: none

Update to 3.8.1
  package.json
Due: none

Fix OpenVINO .bin detection
  src/openvino.js
Due: eslint

Update mlnet.js
  src/mlnet.js
Due: eslint

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Update caffe2-metadata.json
  src/caffe2-metadata.json
Due: none

Add MediaPipe prototype (#423)
  src/mediapipe.js
  test/models.json
  tools/mediapipe
Due: eslint

Update view.js
  Makefile
  setup.py
  src/view.js
Due: eslint

Update to pako 1.0.11
  package.json
Due: none

TorchScript 1.4 prototype (#281)
  src/pytorch-metadata.json
  src/pytorch.js
  test/models.json
Due: eslint

Add MediaPipe prototype (#423)
  src/mediapipe.js
Due: eslint

Update index.html
  src/electron.html
  src/index.html
  src/index.js
  src/view.css
  src/view.js
Due: eslint

Update to 3.8.2
  package.json
Due: none

Revert MXNet tensor name regression (#390)
  src/mxnet.js
Due: eslint

Update to 3.8.3
  package.json
Due: none

Update pytorch.js
  src/pytorch.js
Due: eslint

Reduce size by new url generation and counter reuse (#170)
  async/index.browser.js
  index.browser.js
  non-secure/index.js
  package.json
  url.js
Due: eslint

Update size in docs
  README.md
  package.json
Due: yaspeller-ci

Update dependencies
  package.json
  yarn.lock
Due: none

Clean up comments
  async/index.browser.js
  index.browser.js
  non-secure/index.js
  url.js
Due: eslint

Release 2.1.11 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update Size Limit
  package.json
  yarn.lock
Due: none

Update tflite-schema.js
  src/tflite-schema.js
Due: eslint

Add OpenVINO boolean support
  src/openvino.js
  test/models.json
Due: eslint

Update to electron 7.1.11
  package.json
Due: none

Update metadata schema methods
  src/caffe2.js
  src/chainer.js
  src/cntk.js
  src/coreml.js
  src/darknet.js
  src/dl4j.js
  src/flux.js
  src/keras.js
  src/mlnet.js
  src/mxnet.js
  src/ncnn.js
  src/paddle.js
  src/tf.js
  src/tflite.js
  test/models.json
Due: eslint

Update to 3.8.4
  package.json
Due: none

Update to 3.8.5
  package.json
Due: none

Typo fix (#173)
  async/random.js
Due: eslint

Update random.js (#174)
  random.js
Due: eslint

TorchScript 1.4 prototype (#281)
  src/python.js
  src/pytorch-metadata.json
  src/pytorch.js
  test/models.json
Due: eslint

Fix OpenVINO .bin detection
  src/openvino.js
  test/models.json
Due: eslint

Update ncnn blob reader
  src/ncnn.js
Due: eslint

Update to 3.8.6
  package.json
Due: none

Update to electron 8.0.0
  package.json
Due: none
