Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Update tf.js
  source/tf.js
Due: eslint

Update pytorch-metadata.json
  source/pytorch-metadata.json
Due: none

Update tf-proto.js
  source/tf-proto.js
Due: eslint

Update onnx-metadata.json
  source/onnx-metadata.json
Due: none

Update to electron 18.0.4
  package.json
Due: none

Update tf-metadata.json
  source/tf-metadata.json
Due: none

Update text.js
  source/text.js
Due: eslint

Update to 5.7.1
  package.json
Due: none

Add default-case-last lint rule
  package.json
Due: none

reduce bundlesize by moving from while to reduce (#355)
  index.browser.js
  nanoid.js
  package.json
Due: eslint

Update dependencies
  package.json
  pnpm-lock.yaml
Due: none

Release 3.3.3 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Add Pickle test file (#901)
  test/models.json
Due: none

Add scikit-learn test file (#182)
  test/models.json
Due: none

Add no-self-compare lint rule
  package.json
  source/keras.js
  source/sklearn-metadata.json
  source/sklearn.js
  tools/sklearn-script.py
Due: eslint

Add default-case lint rule
  package.json
  source/caffe.js
  source/caffe2.js
  source/circle.js
  source/cntk.js
  source/coreml.js
  source/dagre.js
  source/flexbuffers.js
  source/hdf5.js
  source/index.html
  source/index.js
  source/json.js
  source/keras.js
  source/mnn.js
  source/mxnet.js
  source/onnx.js
  source/openvino-metadata.json
  source/openvino.js
  source/paddle.js
  source/pytorch.js
  source/sklearn.js
  source/tf.js
  source/tflite.js
  source/view-sidebar.js
  source/xml.js
Due: eslint

Added zig-nanoid to readme. (#357)
  README.id-ID.md
  README.md
  README.ru.md
  README.zh-CN.md
Due: yaspeller-ci

Update sklearn-metadata.json
  source/sklearn-metadata.json
Due: none

Add consistent-return lint rule
  package.json
  publish/notarize.js
  source/acuity.js
  source/dagre.js
  source/json.js
  source/numpy.js
  source/onnx.js
  source/python.js
  source/pytorch.js
  source/tf.js
  source/view-grapher.js
  source/view.js
  source/weka.js
  source/xml.js
  test/models.js
Due: eslint

Update ncnn-metadata.json (#902)
  source/ncnn-metadata.json
Due: none

Update to electron 18.1.0
  package.json
Due: none

Update mslite-schema.js
  source/mslite-metadata.json
  source/mslite-schema.js
Due: eslint

Update flexbuffers.js
  source/circle.js
  source/flexbuffers.js
  source/tflite.js
Due: eslint

Update to eslint 8.14.0
  package.json
Due: none

Update hdf5.js
  source/hdf5.js
Due: eslint

Update to 5.7.2
  package.json
Due: none

Update om-metadata.json
  source/om-metadata.json
Due: none

Add TensorFlow test file (#187)
  source/tf.js
  test/models.json
Due: eslint

Update pytorch.js
  source/pytorch.js
Due: eslint

Attribute formatter fixes (#901)
  source/pickle.js
  source/view-sidebar.js
  source/view.js
  test/models.js
  test/models.json
Due: eslint

Add .onnx extension
  package.json
Due: none

Add PaddlePaddle test file (#903)
  package.json
  source/app.js
  source/index.html
  source/paddle.js
  source/view.js
  test/models.json
Due: eslint

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
