Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Update keras-metadata.json
  source/keras-metadata.json
Due: none

Update tf-metadata.json
  source/tf-metadata.json
Due: none

Update onnx-metadata.json
  source/onnx-metadata.json
Due: none

Update cntk.js
  source/cntk.js
Due: eslint

Update onnx.js
  source/onnx.js
Due: eslint

Update to electron-notarize 1.1.0
  package.json
Due: none

Sidebar attribute function support
  source/tf.js
  source/view-sidebar.css
  source/view-sidebar.js
  source/view.js
Due: eslint

Update to 5.0.9
  package.json
Due: none

Update tf.js
  source/tf.js
Due: eslint

ONNX function support (#773)
  source/electron.html
  source/index.html
  source/view-grapher.css
  source/view-sidebar.css
  source/view.js
Due: eslint

Update format detection
  source/armnn.js
  source/bigdl.js
  source/cntk.js
  source/darknet.js
  source/dlc.js
  source/dnn.js
  source/flux.js
  source/imgdnn.js
  source/keras.js
  source/lasagne.js
  source/lightgbm.js
  source/mediapipe.js
  source/mlnet.js
  source/mnn.js
  source/mslite.js
  source/onnx.js
  source/sklearn.js
  source/tengine.js
  source/tensorrt.js
  source/tf.js
  source/tflite.js
  source/tnn.js
  source/torch.js
  source/uff.js
  source/view.js
  source/xmodel.js
Due: eslint

Update to 5.1.0
  package.json
Due: none

Update format detection
  source/acuity.js
  source/armnn.js
  source/caffe.js
  source/caffe2.js
  source/cntk.js
  source/coreml.js
  source/darknet.js
  source/dl4j.js
  source/dlc.js
  source/dnn.js
  source/flux.js
  source/imgdnn.js
  source/keras.js
  source/mediapipe.js
  source/mlnet.js
  source/mnn.js
  source/mxnet.js
  source/ncnn.js
  source/npz.js
  source/onnx.js
  source/openvino.js
  source/paddle.js
  source/pickle.js
  source/pytorch.js
  source/rknn.js
  source/sklearn.js
  source/tengine.js
  source/tensorrt.js
  source/tf.js
  source/tflite.js
  source/torch.js
  source/uff.js
  source/view.js
  source/weka.js
  source/xmodel.js
Due: eslint

ONNX function support (#773)
  source/view.js
Due: eslint

Update to electron 13.1.9
  package.json
Due: none

Update protobuf.js
  source/protobuf.js
Due: eslint

Update dependencies
  package.json
  yarn.lock
Due: none

Fix Browserify support with new dual-publish
  package.json
  yarn.lock
Due: none

Release 3.1.24 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update TensorFlow content detection (#782)
  source/onnx.js
  source/protobuf.js
  source/tf.js
  source/view.js
  test/models.json
Due: eslint

Update paddle-proto.js
  source/paddle-proto.js
Due: eslint

Another fix for Browserify support
  package.json
  yarn.lock
Due: none

Release 3.1.25 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update tf-proto.js
  source/tf-proto.js
Due: eslint

Update pickle.js
  source/pickle.js
Due: eslint

Update view.js
  source/view.js
Due: eslint

Update to 5.1.1
  package.json
Due: none

Update to 5.1.2
  package.json
Due: none

Update to 5.1.3
  package.json
Due: none

Update to 5.1.4
  package.json
Due: none

Update npz.js
  source/npz.js
Due: eslint

Update TensorFlow Lite test file
  test/models.json
Due: none

Update hdf5.js
  source/hdf5.js
Due: eslint

Update Caffe script
  tools/caffe
Due: none

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
