Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Add OpenVINO R5 test models (#211) (#191)
  test/models.json
Due: none

Add MXNet null check
  src/mxnet.js
Due: eslint

Update sklearn-metadata.json
  src/sklearn-metadata.json
Due: none

Fix error handling
  src/onnx.js
  src/pytorch.js
  src/sklearn.js
  src/tflite.js
Due: eslint

Update keras-metadata.json
  src/keras-metadata.json
Due: none

Update to 2.7.9
  package.json
Due: none

Update torch-metadata.json
  src/torch-metadata.json
  src/torch.js
Due: eslint

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Pickle protocol 4 support
  src/pickle.js
Due: eslint

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Add sideEffects:fase in package.json (#108) (#109)
  package.json
Due: none

Caffe ClipParameter min/max (#165)
  src/caffe-proto.js
  src/sklearn.js
  test/models.json
  tools/caffe
Due: eslint

Remove extra `typeof` (#110)
  index.js
Due: eslint

Fix atribute metadata cache
  src/caffe.js
  src/caffe2.js
  src/cntk.js
  src/coreml.js
  src/darknet.js
  src/keras.js
  src/mxnet.js
  src/onnx.js
  src/openvino-metadata.json
  src/openvino.js
  src/paddle.js
  src/pytorch.js
  src/sklearn.js
  src/tf.js
  src/torch.js
Due: eslint

Fix PyTorch install script
  src/pytorch.js
  tools/pytorch
Due: eslint

Update to 2.8.0
  package.json
Due: none

HDF5 fixed-point Datatype support
  src/hdf5.js
Due: eslint

Fix macOS sed scripts
  tools/caffe
  tools/tflite
Due: none

Add PyTorch multiarray scalar types
  src/pytorch.js
Due: eslint

Update dependencies
  package.json
  yarn.lock
Due: none

Replace webpack to Parcel
  .gitignore
  package.json
  test/demo/browserslist
  test/demo/index.html
  test/demo/webpack.config.js
  yarn.lock
Due: eslint

Fix Caffe2 int8 tensor decoding (#215)
  src/caffe2.js
Due: eslint

Update pytorch-metadata.json
  src/pytorch-metadata.json
  src/pytorch.js
Due: eslint

Update to 2.8.1
  src/onnx.js
  test/models.json
Due: eslint

Transition to long package
  package.json
  setup.py
  src/base.js
  src/caffe.js
  src/cntk.js
  src/coreml.js
  src/keras.js
  src/mxnet.js
  src/onnx.js
  src/pytorch.js
  src/sklearn.js
  src/tf.js
  src/tflite.js
  src/view-browser.html
  src/view-browser.js
  src/view.js
Due: eslint

TensorFlow Lite Pool2DOptions support (#216)
  src/tflite-metadata.json
  src/tflite.js
Due: eslint

CoreML quantization (#164)
  src/base.js
  src/coreml.js
Due: eslint

Remove unofficial changes for csrf
  .travis.yml
  async/index.js
  index.js
  test/async.test.js
  test/ci
  test/rnd-error.test.js
Due: eslint

Clean up ESLint rules
  package.json
Due: none

Fix Travis CI for Node 6
  .travis.yml
Due: none

Ignore Parcel cache
  .npmignore
Due: none

Release 2.0.1 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
