Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Add Caffe .pbtxt test file
  test/models.json
Due: none

Load PyTorch weights only files (#236)
  src/pytorch.js
  test/models.json
Due: eslint

Lint fixes
  src/pickle.js
  src/tflite.js
  test/test.js
Due: eslint

Update to 3.0.1
  package.json
Due: none

Fix undefined outputName
  src/view.js
Due: eslint

Fix ONNX opset imports (#253)
  src/onnx.js
Due: eslint

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Update pytorch.js
  src/pytorch.js
Due: eslint

Update DEVELOPMENT.md
  DEVELOPMENT.md
Due: yaspeller-ci

Update onnx.js
  src/onnx.js
Due: eslint

keras-metadata.json
  src/keras-metadata.json
Due: none

Transition to system fonts
  package.json
  setup.py
  src/view-browser.html
  src/view-electron.html
  src/view-grapher.css
  src/view-sidebar.css
  src/view-sidebar.js
  src/view.css
Due: eslint

Update cntk-metadata.json
  src/cntk-metadata.json
Due: none

Update coreml-metadata.json
  src/coreml-metadata.json
Due: none

Update openvino-metadata.json
  src/openvino-metadata.json
Due: none

Update depedencies
  package.json
  yarn.lock
Due: none

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Update sklearn-metadata.json
  src/sklearn-metadata.json
Due: none

Update tf-proto.js
  src/tf-proto.js
Due: eslint

Lint fixes
  tools/onnx-script.py
  tools/tf-script.py
Due: none

Flatten build folder
  DEVELOPMENT.md
  Makefile
  electron-builder.yml
  package.json
  setup.cfg
  setup.py
  src/__init__.py
  src/server.py
  tools/caffe
  tools/cntk
  tools/coreml
  tools/darknet
  tools/keras
  tools/mxnet
  tools/onnx
  tools/paddle
  tools/pytorch
  tools/sklearn
  tools/tf
  tools/tflite
  tools/torch
Due: yaspeller-ci

Update to 3.0.2
  package.json
Due: none

Remove update dialog (#243)
  src/app.js
Due: eslint

Fix Makefile
  Makefile
  src/server.py
Due: none

Update to 3.0.3
  package.json
Due: none

Add productName to package.json
  package.json
  src/view-browser.js
  src/view-electron.js
Due: eslint

Fix tflite null builtin_options (#256)
  src/tflite.js
  test/models.json
Due: eslint

Update Size Limit
  package.json
  yarn.lock
Due: none

Fix Size Limit issue on Node.js 6
  package.json
  yarn.lock
Due: none

Updatee onnx-metadata.json
  src/onnx-metadata.json
Due: none

Fix Node.js 12 support
  .gitignore
  .npmignore
  package.json
  yarn.lock
Due: none

Update dependencies
  package.json
  yarn.lock
Due: none

Clean up
  package.json
Due: none

Clean up
  .travis.yml
  package.json
Due: none

Clean up dictionary
  package.json
Due: none

Clean up npm ignore
  .npmignore
Due: none
