Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Update cntk.js
  source/cntk.js
Due: eslint

Update protobuf.js
  source/protobuf.js
Due: eslint

Update om.js
  source/om.js
  source/view.js
Due: eslint

Update pytorch-metadata.json
  source/pytorch-metadata.json
Due: none

Update tf-metadata.json
  source/tf-metadata.json
Due: none

Update to electron 15.1.0
  package.json
Due: none

Update to 5.2.6
  package.json
Due: none

Update ONNX script
  source/onnx-schema.js
  source/onnx.js
  tools/onnx
Due: eslint

Update flatc.js
  tools/flatc.js
Due: eslint

Paddle Lite support (#797)
  electron-builder.yml
  source/app.js
  source/index.html
  source/nb.js
  source/paddle-schema.js
  source/paddle.js
  source/view.js
  test/models.json
  tools/paddle
Due: eslint

Add comment explaining the pool optimization
  index.js
Due: eslint

Use picocolors instead of nanocolors
  package.json
  test/benchmark.js
  yarn.lock
Due: eslint

Better way to use GitHub Actions
  .github/workflows/test.yml
  package.json
  yarn.lock
Due: none

Fix CI
  .github/workflows/test.yml
Due: none

Add benchmark to CI
  .github/workflows/test.yml
Due: none

Clean up benchmark code
  README.md
  README.ru.md
  README.zh-CN.md
  test/benchmark.js
Due: yaspeller-ci, eslint

Fix tool name in benchmark
  README.md
  README.ru.md
  README.zh-CN.md
  index.js
  test/benchmark.js
Due: yaspeller-ci, eslint

Add uid and update benchmark
  README.md
  README.ru.md
  README.zh-CN.md
  package.json
  test/benchmark.js
  yarn.lock
Due: yaspeller-ci, eslint

Clean comments in npm package
  package.json
  yarn.lock
Due: none

Release 3.1.29 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Add @lukeed/uuid to benchmark and fix uid length
  README.md
  README.ru.md
  README.zh-CN.md
  package.json
  test/benchmark.js
  yarn.lock
Due: yaspeller-ci, eslint

Update to electron 15.1.1
  package.json
Due: none

Update python.js
  source/python.js
Due: eslint

Detect invalid content (#458)
  source/view.js
Due: eslint

Update caffe2-metadata.json
  source/caffe2-metadata.json
Due: none

Update onnx-metadata.json
  source/onnx-metadata.json
Due: none

Update sklearn-metadata.json
  source/sklearn-metadata.json
Due: none

Update to electron 15.1.2
  package.json
Due: none

Update to 5.2.7
  package.json
Due: none

Workaround microsoft/winget-cli#1523 (#820)
  README.md
Due: yaspeller-ci

Update view-grapher.js
  source/view-grapher.js
Due: eslint

Update to eslint 8.0.0
  package.json
Due: none

Update size with new Size Limit
  README.md
  README.ru.md
  README.zh-CN.md
  package.json
  yarn.lock
Due: yaspeller-ci

Update dagre.js
  source/dagre.js
Due: eslint

Update view.js
  source/view.js
Due: eslint
