Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

TensorFlow Lite attribute shape type
  src/tflite-metadata.json
  src/tflite.js
Due: eslint

Caffe inline inputs and outputs metadata
  src/caffe.js
Due: eslint

Fix ONNX uint8 tensor
  src/onnx.js
Due: eslint

Add OpenVINO dot test files (#195) (#191)
  test/models.json
Due: none

Add OpenVINO IR v3 support (#196) (#191)
  src/openvino-parser.js
  src/openvino.js
Due: eslint

Caffe yolov3 (#165)
  src/caffe-metadata.json
  src/caffe-proto.js
  src/pytorch.js
  test/models.json
  tools/caffe-schema.js
Due: eslint

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Update tflite-schema.js
  src/tflite-schema.js
  tools/caffe
  tools/cntk
  tools/coreml
Due: eslint

Add PaddlePaddle prototype (#198)
  setup.py
  src/onnx.js
  src/paddle-metadata.json
  src/paddle-proto.js
  src/paddle.js
  src/pytorch.js
  src/view.js
  test/models.json
  tools/paddle
  tools/update
Due: eslint

Update tf-metadata.json
  src/tf-metadata.json
  tools/tf
Due: none

Add PyTorch GRUCell (#133)
  src/pytorch.js
Due: eslint

ONNX sparse_tensor_type support
  src/onnx.js
Due: eslint

TVM detection (#199)
  src/keras.js
  src/mxnet-metadata.json
  src/mxnet.js
  src/view.js
  test/models.json
  test/test.js
Due: eslint

Add Torch prototype (#200)
  electron-builder.yml
  setup.py
  src/app.js
  src/pytorch-metadata.json
  src/torch-metadata.json
  src/torch.js
  src/view-browser.html
  src/view.js
  test/models.json
Due: eslint

Update paddle-proto.js
  src/paddle-proto.js
Due: eslint

Update sklearn-metadata.json
  src/sklearn-metadata.json
Due: none

Update to 2.6.8
  package.json
Due: none

Add Torch ASCII prototype (#200)
  src/torch-metadata.json
  src/torch.js
  test/models.json
Due: eslint

Fix Caffe array default (#201)
  src/caffe.js
Due: eslint

Update to 2.6.9
  package.json
Due: none

Fix Torch storage reader (#200)
  src/pytorch.js
  src/torch-metadata.json
  src/torch.js
  test/models.json
Due: eslint

Update to 2.7.0
  package.json
  tools/paddle
  tools/sklearn
Due: none

Fix Paddle script branch
  tools/paddle
Due: none

Caffe enter_loss_param (#165)
  src/caffe-proto.js
  tools/caffe-schema.js
Due: eslint

Fix Torch openface (#200)
  src/sklearn.js
  src/torch-metadata.json
  src/torch.js
  test/models.json
Due: eslint

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Add Torch tensor values (#200)
  src/torch.js
Due: eslint

Fix icon preview
  tools/update_icon_preview.html
Due: none

Remove dot file dialog
  src/app.js
  src/view-browser.html
Due: eslint

Caffe unknown proto pbtxt loader (#165)
  src/caffe-metadata.json
  src/caffe-proto.js
  src/caffe.js
  src/caffe2-proto.js
  src/onnx-proto.js
  src/tf-proto.js
  test/models.json
  tools/caffe
  tools/caffe-schema.js
Due: eslint

Remove duplicate TensorFlow attribute code
  src/tf.js
Due: eslint

Add Torch and PaddlePaddle to README.md
  README.md
Due: yaspeller-ci

Load saved_model.pb as GraphDef (#171)
  src/tf.js
  test/models.json
Due: eslint

Add PyTorch .dms extension
  src/pytorch.js
  src/view.js
Due: eslint

Add XGBoost test file
  src/sklearn.js
  test/models.json
Due: eslint

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
