Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Update to electron 6.0.9
  package.json
Due: none

Update to eslint 6.4.0
  package.json
Due: none

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Update caffe2-metadata.json
  src/caffe2-metadata.json
Due: none

Fix lint issues
  .eslintrc.json
  src/app.js
  src/base.js
  src/cntk.js
  src/coreml.js
  src/darknet.js
  src/index.js
  src/keras.js
  src/mlnet.js
  src/mxnet.js
  src/ncnn.js
  src/numpy.js
  src/onnx.js
  src/openvino.js
  src/python.js
  src/pytorch.js
  src/sklearn.js
  src/tf.js
  src/tflite-schema.js
  src/tflite.js
  src/torchscript.js
  src/view-grapher.js
  tools/tflite
Due: eslint

Update to 3.3.5
  package.json
Due: none

ML.NET prototype (#170)
  README.md
  setup.py
  src/mlnet-metadata.json
  src/mlnet.js
Due: yaspeller-ci, eslint

Update base.js
  src/base.js
Due: eslint

Update hdf5.js
  src/hdf5.js
Due: eslint

Update gzip.js
  src/gzip.js
Due: eslint

Update zip.js
  src/zip.js
Due: eslint

Update tar.js
  src/tar.js
Due: eslint

Update python.js
  src/python.js
Due: eslint

Update pickle.js
  src/pickle.js
Due: eslint

Update numpy.js
  src/numpy.js
Due: eslint

Update view.js
  src/view-grapher.js
  src/view-sidebar.js
  src/view.js
Due: eslint

Update caffe.js
  src/caffe.js
Due: eslint

Update caffe2.js
  src/caffe2.js
Due: eslint

Update coreml.js
  src/coreml.js
Due: eslint

Update darknet.js
  src/darknet.js
Due: eslint

Update dl4j.js
  src/dl4j.js
Due: eslint

Update mxnet.js
  src/mxnet.js
Due: eslint

Update onnx.js
  src/onnx.js
Due: eslint

Update openvino.js
  src/openvino.js
Due: eslint

Update tf.js
  src/tf.js
Due: eslint

Update tflite.js
  src/tflite.js
Due: eslint

Update torch.js
  src/torch.js
Due: eslint

ML.NET prototype (#170)
  src/mlnet-metadata.json
  src/mlnet.js
Due: eslint

Add TorchScript null check
  src/torchscript.js
Due: eslint

Fix ONNX test file
  test/models.json
Due: none

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
