Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Update pytorch-metadata.json
  source/pytorch-metadata.json
Due: none

fix typos in russian readme (#299)
  README.ru.md
Due: yaspeller-ci

Update README.ru.md (#298)
  README.ru.md
Due: yaspeller-ci

Typo
  README.ru.md
  package.json
Due: yaspeller-ci

Update dependencies
  package.json
  yarn.lock
Due: none

Fix URL
  README.ru.md
Due: yaspeller-ci

Update tf-proto.js
  source/tf-proto.js
Due: eslint

Update to electron 14.0.1
  package.json
Due: none

Update to xmldom 0.7.5
  package.json
Due: none

Update sklearn.js
  source/sklearn.js
Due: eslint

Update sklearn-metadata.json
  source/sklearn-metadata.json
Due: none

Update sklearn-script.py
  tools/sklearn-script.py
Due: none

Big update README.ru.md (#300)
  README.ru.md
Due: yaspeller-ci

Change section order
  README.ru.md
Due: yaspeller-ci

Update tf-metadata.json
  source/tf-metadata.json
Due: none

Move Tools below
  README.ru.md
Due: yaspeller-ci

Add code format
  README.ru.md
Due: yaspeller-ci

Back-port Russian docs fixes to English
  README.md
Due: yaspeller-ci

Update tnn.js
  source/tnn.js
Due: eslint

Add chinese doc (#301)
  README.zh-CN.md
Due: yaspeller-ci

Update PyTorch script
  source/tflite-schema.js
  tools/pytorch
Due: eslint

Update ONNX script
  tools/onnx
Due: none

Open PyTorch script
  tools/pytorch
Due: none

Update to 5.2.2
  package.json
Due: none

Fix dark mode scrollbars
  source/electron.html
  source/index.html
Due: none

Add click drag scroll (#24)
  source/app.js
  source/electron.html
  source/index.html
  source/view-sidebar.js
  source/view.js
Due: eslint

Enable scroll mode (#24)
  source/electron.js
  source/index.js
Due: eslint

Fix Firefox scroll (#24)
  source/electron.html
  source/index.html
  source/view.js
Due: eslint

Update mnn-schema.js
  source/mnn-schema.js
Due: eslint

Update server npm run command
  package.json
  publish/server.js
Due: eslint

Update click drag scroll (#24)
  source/electron.html
  source/index.html
  source/view-sidebar.js
  source/view.js
Due: eslint

Update dagre.js
  source/dagre.js
Due: eslint

Update to 5.2.3
  package.json
Due: none

Update zoom wheel delta
  source/view.js
Due: eslint

Update to 5.2.4
  package.json
Due: none

Update tf.js (#563)
  source/tf.js
Due: eslint

Bump nth-check from 2.0.0 to 2.0.1 (#302)
  yarn.lock
Due: none

Add Core ML test file (#812)
  source/coreml.js
  test/models.json
Due: eslint

Replace colorette with nanocolors
  package.json
  test/benchmark.js
  yarn.lock
Due: eslint

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
