Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Add .kmodel extension (#871)
  package.json
  source/app.js
  source/index.html
Due: eslint

Update to eslint 8.9.0
  package.json
Due: none

Update to electron-builder 22.14.13
  package.json
Due: none

Update to electron-updater 4.6.5
  package.json
Due: none

Exact match node search (#874)
  source/view-sidebar.js
Due: eslint

Update Makefile
  Makefile
Due: none

Update README.md
  README.md
Due: yaspeller-ci

Add Core ML audioFeaturePrint (#879)
  source/coreml.js
Due: eslint

Update test files
  test/models.json
Due: none

Attempt to make the customAlphabet API more similar to nanoid (#348)
  README.md
  async/index.browser.js
  async/index.d.ts
  async/index.js
  async/index.native.js
  bin/nanoid.cjs
  index.browser.js
  index.d.ts
  index.js
  non-secure/index.d.ts
  non-secure/index.js
  package.json
  test/async.test.js
  test/bin.test.js
  test/index.test.js
Due: yaspeller-ci, eslint

Update CI config
  .github/workflows/test.yml
Due: none

Update dependencies
  package.json
  pnpm-lock.yaml
Due: none

Fix coverage config
  package.json
Due: none

Release 3.3 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Sync English and Russian docs
  README.md
  README.ru.md
Due: yaspeller-ci

Try to fix CI
  test/benchmark.js
Due: eslint

Try to fix CI
  .github/workflows/test.yml
  package.json
  test/benchmark.js
Due: eslint

Remove @napi-rs/uuid to fix CI
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
  test/benchmark.js
Due: eslint

Update mslite-schema.js
  source/mslite-metadata.json
  source/mslite-schema.js
Due: eslint

Update to electron 17.0.1
  package.json
Due: none

Remove process.env.NODE_ENV
  README.id-ID.md
  README.md
  README.ru.md
  README.zh-CN.md
  index.browser.js
Due: yaspeller-ci, eslint

Remove old tests
  test/ie.test.js
  test/old-browser.test.js
  test/react-native.test.js
Due: eslint

Release 3.3.1 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update pytorch-metadata.json
  source/pytorch-metadata.json
Due: none

Update mnn-schema.js
  source/mnn-schema.js
Due: eslint

Update to 5.5.7
  package.json
Due: none

Update kmodel.js (#871)
  source/kmodel.js
Due: eslint

Update pytorch.js
  source/pytorch.js
Due: eslint

Update base binary reader
  source/base.js
Due: eslint

Add kmodel test files (#871)
  source/kmodel.js
  test/models.json
Due: eslint

Remove TNN test files (#521)
  test/models.json
Due: none

Update to 5.5.8
  package.json
Due: none

Update to 5.5.9
  package.json
Due: none

Update cask script (Homebrew/homebrew-cask#119509)
  publish/cask.js
Due: eslint

Update pytorch.js (#882)
  source/pytorch.js
Due: eslint

Update sklearn-metadata.json
  source/sklearn-metadata.json
Due: none

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
