Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Update to electron-updater 4.2.0
  package.json
Due: none

Update to electron-builder 22.1.0
  package.json
Due: none

Update to electon 7.0 showSaveDialog (#362)
  src/app.js
  src/electron.js
Due: eslint

Update pytorch.js
  src/pytorch.js
Due: eslint

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Update caffe2-metadata.json
  src/caffe2-metadata.json
Due: none

Update tf-proto.js
  src/tf-proto.js
Due: eslint

Update to electron 7.0.1
  package.json
Due: none

Update to 3.4.9
  package.json
Due: none

Add sidebar null check
  src/view-sidebar.js
Due: eslint

Add PyTorch null check
  src/pytorch.js
Due: eslint

Update to TorchScript 1.3 prototype (#281)
  src/torchscript-metadata.json
  src/torchscript.js
  test/models.json
Due: eslint

Update to electron-notarize 0.2.0
  package.json
Due: none

Update file extensions
  electron-builder.yml
Due: none

Add known unsupported file
  src/view.js
Due: eslint

OpenVINO weights support (#307)
  src/openvino.js
  test/models.json
Due: eslint

Revert to electorn-builder 21.2.0
  package.json
Due: none

Revert to electron-updater 4.1.2
  package.json
Due: none

Update to 3.5.0
  package.json
Due: none

Update to TorchScript 1.3 prototype (#281)
  src/torchscript.js
Due: eslint

Update tflite-schema.js
  src/tflite-schema.js
Due: eslint

OpenVino I32 support (#307)
  src/openvino.js
Due: eslint

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Update sklearn-metadata.json
  src/sklearn-metadata.json
  tools/sklearn-script.py
Due: none

OpenVino int and uint support (#307)
  src/openvino.js
Due: eslint

Update to electron 7.1.0
  package.json
Due: none

Update to 3.5.1
  package.json
Due: none

Update onnx-metadata.json
  src/onnx-metadata.json
  src/onnx.js
Due: eslint

Fix open file dialog (#366)
  src/app.js
Due: eslint

Update to 3.5.2
  package.json
Due: none

Add Arm NN support (#364)
  Makefile
  README.md
  electron-builder.yml
  setup.py
  src/app.js
  src/armnn-metadata.json
  src/armnn-schema.js
  src/armnn.js
  src/index.html
  src/view.js
  test/models.json
  tools/armnn
Due: yaspeller-ci, eslint

Update to electron 7.1.1
  package.json
Due: none

PyTorch qint8 support (#133)
  src/pytorch.js
  src/view.js
  test/models.json
Due: eslint

Update to 3.5.3
  package.json
Due: none

Fix BigDL browser support (#355)
  setup.py
Due: none

Fix Arm NN browser support
  src/armnn-schema.js
  src/armnn.js
  tools/armnn
Due: eslint

Update to 3.5.4
  package.json
Due: none

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
