Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Update view.js (#822)
  source/view.js
Due: eslint

Update to 5.2.8
  package.json
Due: none

Update onnx.js
  source/onnx.js
Due: eslint

Update view.js (#823)
  source/view.js
Due: eslint

Update to 5.2.9
  package.json
Due: none

feat: Re-optimize the alphabet for gzip after size-limit update (#309)
  non-secure/index.js
  url-alphabet/index.js
Due: eslint

Update size limit
  package.json
Due: none

Update dependencies
  package.json
  yarn.lock
Due: none

Update Size Limit
  package.json
  yarn.lock
Due: none

Update dagre.js
  source/dagre.js
Due: eslint

Update tf-proto.js
  source/tf-proto.js
Due: eslint

Update to electron-builder 22.13.1
  package.json
Due: none

Workaround electron-userland/electron-builder#6327
  electron-builder.yml
Due: none

feat: Re-optimize alphabet for Brotli (only chars unused by gzip backrefs) (#310)
  non-secure/index.js
  package.json
  url-alphabet/index.js
Due: eslint

Combine Brotli metrics
  package.json
Due: none

Update dependencies
  bin/nanoid.test.js
  package.json
  test/async.test.js
  test/index.test.js
  test/non-secure.test.js
  test/react-native-polyfill.test.js
  yarn.lock
Due: eslint

Release 3.1.30 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Add PyTorch Mobile detection (#827)
  electron-builder.yml
  source/app.js
  source/index.html
  source/view.js
  test/models.json
Due: eslint

Fix protobuf.js int64 text reader (#828)
  source/protobuf.js
Due: eslint

Add PyTorch test file (#720)
  source/pytorch.js
  test/models.json
Due: eslint

Find sidebar empty name support (#826)
  source/view-sidebar.js
  source/view.js
Due: eslint

Update click drag scroll (#24)
  source/view.js
Due: eslint

Update to 5.3.0
  package.json
Due: none

Update TensorRT detection (#725)
  source/view.js
Due: eslint

Update pytorch-metadata.json
  source/pytorch-metadata.json
Due: none

Update to eslint 8.0.1
  package.json
Due: none

Update to electron 15.2.0
  package.json
Due: none

Update to tf-proto.js
  source/tf-proto.js
Due: eslint

Update pytorch.js
  source/pytorch.js
Due: eslint

Update om.js
  source/om.js
Due: eslint

Update rknn.js
  source/rknn.js
Due: eslint

Fix Keras detection
  source/view.js
Due: eslint

Update view.js (#830)
  source/view.js
Due: eslint

Update tflite-schema.js
  source/tflite-metadata.json
  source/tflite-schema.js
Due: eslint

Update ONNX script
  tools/onnx
Due: none

Fix find sidebar initializer name
  source/view-sidebar.js
Due: eslint
