Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Revert to electron 7.1.2 (#383)
  package.json
Due: none

Update to 3.6.2
  package.json
Due: none

Update third_party folders
  tools/armnn
  tools/bigdl
  tools/caffe
  tools/chainer
  tools/cntk
  tools/coreml
  tools/darknet
  tools/dl4j
  tools/keras
  tools/mlnet
  tools/mlnet-script.py
  tools/mnn
  tools/mxnet
  tools/ncnn
  tools/onnx
  tools/paddle
  tools/pytorch
  tools/sklearn
  tools/tf
  tools/tf-script.py
  tools/tflite
  tools/torch
Due: none

Update darknet.js
  src/darknet.js
Due: eslint

Update tf-proto.js
  src/tf-proto.js
Due: eslint

Update tf-metadata.json
  src/tf-metadata.json
Due: none

OpenVINO BOOL support
  src/openvino.js
Due: eslint

Update to marked 0.8.0
  package.json
Due: none

Test script Git Bash support
  test/test.js
Due: eslint

Update darknet-metadata.json (#384) (#381)
  src/darknet-metadata.json
Due: none

Git Bash choco flatc support
  tools/armnn
  tools/mnn
  tools/onnx
  tools/tf
  tools/tflite
Due: none

Remove TensorFlow Lite name property (#387)
  src/tflite.js
Due: eslint

TensorFlow Lite is_variable support (#386)
  src/tflite.js
  test/models.json
Due: eslint

Adding example for react using hooks (#159)
  README.md
Due: yaspeller-ci

Simplify React example
  README.md
Due: yaspeller-ci

Clean up regexp
  test/alphabet-worker.js
  test/demo/index.js
Due: eslint

Update dependencies
  package.json
  yarn.lock
Due: none

Fix regexps in executables
  test/alphabet
  test/alphabet-genetic
  test/benchmark
Due: none

Make alphabet-generatic as executable
  test/alphabet-genetic
Due: none

Update geneticalgorithm
  package.json
  yarn.lock
Due: none

Release 2.1.8 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Build to dist folder
  .gitignore
  DEVELOPMENT.md
  Makefile
  electron-builder.yml
  package.json
  setup.cfg
Due: yaspeller-ci

MXNet alphanumberic params identifier (#390)
  src/mxnet.js
Due: eslint

Darknet shape inference (#370) (#71)
  src/darknet.js
  test/models.json
  tools/darknet
Due: eslint

Update sklearn.js
  src/sklearn.js
Due: eslint

Update protoc and revert onnx/onnx#2482
  tools/onnx
  tools/tf
Due: none

Update to electron 7.1.5 (#383)
  package.json
Due: none

Update to 3.6.3
  package.json
Due: none

Fix Python dist folder
  Makefile
Due: none

Remove Darknet test file
  test/models.json
Due: none

Darknet maintained fork support (#381) (#393) (#394)
  src/darknet-metadata.json
  src/darknet.js
  test/models.json
Due: eslint

Update tflite-schema.js
  src/tflite-schema.js
Due: eslint

Darknet weights support (#395)
  src/darknet-metadata.json
  src/darknet.js
  test/models.json
Due: eslint

Update to electron 7.1.6
  package.json
Due: none

Update to 3.6.4
  package.json
Due: none

Update to 3.6.5
  package.json
Due: none

Darknet weights transpose check (#395)
  src/darknet.js
Due: eslint

Add TensorFlow Lite tensor index to name (#396)
  src/tflite.js
  src/view-sidebar.js
Due: eslint

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
