Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

chore: remove microtime dependency (#149)
  package.json
Due: none

Reverse format for cycle (#148)
  async/format.js
  format.js
  test/async-format.test.js
  test/format.test.js
Due: eslint

Update size limit
  package.json
Due: none

Apply index-browser fix to index.js (#147)
  index.js
Due: eslint

Reduce size
  async/index.browser.js
  async/index.js
  index.browser.js
  non-secure/generate.js
  non-secure/index.js
  package.json
Due: eslint

use .bind to reduce bundle 2kb more (#146)
  generate.js
Due: eslint

Fix size limit
  format.js
Due: eslint

Update dependencies
  package.json
  yarn.lock
Due: none

Update size
  package.json
Due: none

Reduce size
  format.js
  package.json
Due: eslint

Backport format.js optimization to async
  async/format.js
Due: eslint

Use bind in async version of generate too
  async/generate.js
Due: eslint

Release 2.1.4 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Add known unsupported files
  src/view.js
Due: eslint

Convert to Map class
  src/app.js
  src/chainer.js
  src/cntk.js
  src/darknet.js
  src/torchscript.js
Due: eslint

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Update to TorchScript 1.3 prototype (#281)
  src/python.js
  src/torchscript.js
  src/view.js
  test/models.json
Due: eslint

Update to 3.4.4
  package.json
Due: none

Update caffe2-metadata.json
  src/caffe2-metadata.json
Due: none

Update to TorchScript 1.3 prototype (#281)
  src/torchscript.js
  test/models.json
Due: eslint

Normalize docs
  README.md
Due: yaspeller-ci

Update sklearn-metadata.json
  src/sklearn-metadata.json
Due: none

Update README.md
  README.md
  setup.py
Due: yaspeller-ci

Add snap support
  Makefile
  electron-builder.yml
  package.json
Due: none

Add ML.NET ImageClassificationTransformer (#170)
  src/mlnet.js
Due: eslint

Update to handlebars 4.4.5
  package.json
Due: none

Update to 3.4.5
  package.json
Due: none

Update snap support
  electron-builder.yml
Due: none

Add snap removable-media support
  electron-builder.yml
Due: none

Update to 3.4.6
  package.json
Due: none

Update to TorchScript 1.3 prototype (#281)
  src/torchscript.js
Due: eslint

Update OpenVINO test files
  test/models.json
Due: none

Add PyTorch test file
  src/pytorch.js
  test/models.json
Due: eslint

Update to electron 7.0.0
  package.json
Due: none

Update keras-metadata.json
  src/keras-metadata.json
Due: none

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
