Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Update to 5.4.9
  package.json
Due: none

Update onnx.js
  source/onnx.js
Due: eslint

Update pytorch.js
  source/pytorch.js
Due: eslint

Detect invalid content (#458)
  source/view.js
Due: eslint

TensorFlow.js metadata support (#294)
  source/keras.js
Due: eslint

Add TensorFlow.js test file (#294)
  test/models.json
Due: none

Update mnn-schema.js
  source/mnn-schema.js
Due: eslint

Fix TensorFlow input detection (#863)
  source/tf.js
Due: eslint

Update dependencies
  .npmignore
  package.json
  pnpm-lock.yaml
Due: none

Update xmodel.js
  source/xmodel.js
Due: eslint

Update to electron 16.0.6
  package.json
Due: none

Add scikit-learn test file
  source/sklearn.js
  test/models.json
Due: eslint

Update DaVinci OM script (#786)
  Makefile
  tools/om
  tools/om.proto
Due: none

Update dagre.js
  source/dagre.js
  source/view-grapher.js
Due: eslint

Update to 5.5.0
  package.json
Due: none

Update tf-metadata.json
  source/tf-metadata.json
Due: none

Update DaVinci OM script (#786)
  tools/om
Due: none

Update om-metadata.json
  source/om-metadata.json
Due: none

Update sklearn-metadata.json
  source/sklearn-metadata.json
Due: none

Update python.js
  source/python.js
Due: eslint

Update sklearn.js
  source/sklearn.js
Due: eslint

Update dependencies
  package.json
  pnpm-lock.yaml
Due: none

Replace Parcel to Vite
  .gitignore
  .npmignore
  package.json
  pnpm-lock.yaml
  test/demo/browserslist
  test/demo/index.js
  test/demo/vite.config.js
Due: eslint

Update keras-metadata.json
  source/keras-metadata.json
Due: none

Update dagre.js
  source/dagre.js
  source/view-grapher.js
  source/view.js
Due: eslint

Update Deeplearning4J detection (#303)
  source/dl4j.js
  source/view.js
Due: eslint

fix collision by proxy number (#328)
  index.js
  test/index.test.js
Due: eslint

Release 3.1.31 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update to electron 16.0.7
  package.json
Due: none

reduce bundlesize by replacing Promise to async (#329)
  async/index.browser.js
  package.json
Due: eslint

Replace Jest to uvu (#330)
  .github/workflows/test.yml
  bin/nanoid.test.js
  package.json
  pnpm-lock.yaml
  test/async.test.js
  test/ie.test.js
  test/index.test.js
  test/non-secure.test.js
  test/old-browser.test.js
  test/react-native-polyfill.test.js
  test/react-native.test.js
Due: eslint

Update dependencies
  pnpm-lock.yaml
Due: none

Fix type check
  package.json
  pnpm-lock.yaml
Due: none

Release 3.1.32 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

bench: add @napi-rs/uuid v4 (#333)
  package.json
  pnpm-lock.yaml
  test/benchmark.js
Due: eslint

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
