Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Fix ONNX graph attribute names (#207)
  src/onnx.js
Due: eslint

Update torch-metadata.json
  src/torch-metadata.json
  src/torch.js
Due: eslint

Update README.md
  README.md
  setup.py
Due: yaspeller-ci

Update to 2.7.3
  package.json
Due: none

Caffe2 protobuf detection (#126)
  src/caffe2-metadata.json
  src/caffe2.js
  src/view.js
Due: eslint

Initializer list and inplace node rendering
  src/app.js
  src/caffe.js
  src/caffe2.js
  src/darknet-metadata.json
  src/darknet.js
  src/keras.js
  src/onnx.js
  src/paddle.js
  src/pytorch-metadata.json
  src/tf.js
  src/tflite-metadata.json
  src/tflite.js
  src/torch.js
  src/view-browser.js
  src/view-electron.html
  src/view-electron.js
  src/view-grapher.js
  src/view-sidebar.js
  src/view.js
  test/models.json
  test/test.js
Due: eslint

Update to 2.7.4
  package.json
Due: none

Add PyTorch NumPy array reconstruct
  src/pytorch.js
Due: eslint

Protobuf .pb format detection
  src/caffe.js
  src/caffe2.js
  src/cntk.js
  src/onnx.js
  src/openvino.js
  src/tf.js
  src/tflite.js
  src/view-browser.js
  src/view-electron.js
  src/view.js
  test/models.json
  test/test.js
Due: eslint

Update pytorch-metadata.json
  src/pytorch-metadata.json
  src/pytorch.js
Due: eslint

Fix CoreML model sources
  test/models.json
Due: none

Test ASCII TextDecoder
  test/test.js
Due: eslint

Update to 2.7.5
  package.json
Due: none

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Update onnx-proto.js
  src/onnx-proto.js
  test/models.json
Due: eslint

Ubuntu onnx install script
  tools/onnx
  tools/pytorch
Due: none

Handle .pth.tar Pickle files
  src/coreml.js
  src/keras.js
  src/mxnet.js
  src/onnx.js
  src/pytorch.js
  src/sklearn.js
  src/tar.js
  src/tf.js
  src/tflite.js
  src/view-sidebar.js
  src/view.js
Due: eslint

Handle Caffe2 cuda_gpu_id rename
  src/caffe.js
  src/caffe2.js
  src/onnx.js
  src/tf.js
  test/models.json
Due: eslint

Update caffe2-metadata.json
  src/caffe2-metadata.json
  tools/caffe
  tools/caffe2-script.py
  tools/cntk
  tools/coreml
  tools/darknet
  tools/keras
  tools/mxnet
  tools/onnx
  tools/paddle
  tools/pytorch
  tools/sklearn
  tools/tf
  tools/tflite
  tools/torch
Due: none

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Update tflite-schema.js
  src/tflite-schema.js
Due: eslint

Update to 2.7.6
  package.json
Due: none

Update sync scripts
  tools/caffe
  tools/caffe2-script.py
  tools/cntk
  tools/coreml
  tools/darknet
  tools/keras
  tools/paddle
  tools/sklearn
  tools/tf
  tools/tflite
  tools/torch
Due: none

Update to Electron 4.0
  src/app.js
Due: eslint

ONNX .pb format detection
  src/onnx.js
Due: eslint

Fix caffe2 Linux script
  tools/caffe2-script.py
Due: none

Fix TensorFlow Linux script
  tools/tf
Due: none

Update torch-metadata.json
  src/pytorch.js
  src/sklearn.js
  src/torch-metadata.json
  src/torch.js
Due: eslint

Update to 2.7.7
  package.json
Due: none

Caffe2 Int8Given*Fill support (#209)
  src/caffe2.js
Due: eslint

Ignore tfhub_module.pb
  src/tf.js
Due: eslint

TensorFlow Lite fused_activation_function
  src/tflite.js
Due: eslint

Update darknet-metadata.json
  src/darknet-metadata.json
  src/darknet.js
  src/keras.js
  test/models.json
Due: eslint

Update to 2.7.8
  package.json
Due: none

Add reset and update scripts
  package.json
Due: none

Update mxnet-metadata.json
  src/mxnet-metadata.json
  src/mxnet.js
Due: eslint

TensorFlow .meta detection
  src/tf.js
  src/view-browser.js
  src/view-electron.js
  src/view.js
  test/test.js
Due: eslint
