Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Update electron-updater
  package.json
Due: none

Update to 2.2.1
  package.json
Due: none

Handle CNTK v1 enums (#153)
  src/cntk-metadata.json
  src/cntk-model.js
Due: eslint

CNTK v1 and v2 namespaces (#153)
  src/cntk-model.js
Due: eslint

TensorFlow Lite shorten enum type names
  src/onnx-model.js
  src/tflite-metadata.json
  src/tflite-model.js
Due: eslint

Attribute enum value rendering
  src/cntk-metadata.json
  src/cntk-model.js
  src/keras-model.js
  src/tflite-model.js
  src/view-sidebar.js
  src/view.js
Due: eslint

CNTK input fixes (#153)
  src/cntk-metadata.json
  src/cntk-model.js
Due: eslint

ONNX tensor constant support
  src/onnx-model.js
Due: eslint

CNTK v2 fixes (#153)
  src/cntk-metadata.json
  src/cntk-model.js
Due: eslint

Fix drag and drop issues
  src/app.js
  src/view-browser.js
Due: eslint

Fix lint issues
  src/caffe2-model.js
  src/keras-model.js
  src/pytorch-model.js
  src/sklearn-model.js
  src/tf-model.js
Due: eslint

Update to 2.2.2
  package.json
Due: none

Reduce url symbols size for 3 bytes (#91)
  url.js
Due: eslint

Fix spelling check
  package.json
  url.js
Due: eslint

PyTorch LSTM support (#133)
  src/pytorch-metadata.json
  src/pytorch-model.js
Due: eslint

Convert attribute visible during load
  src/caffe-model.js
  src/caffe2-model.js
  src/keras-model.js
  src/mxnet-model.js
  src/sklearn-model.js
  src/tf-model.js
Due: eslint

Update to 2.2.3
  package.json
Due: none

TensorFlow Lite identifier in error message
  src/tflite-model.js
Due: eslint

Update to 2.2.4
  package.json
Due: none

Python Server file refresh (#159)
  src/server.py
  src/view-browser.js
Due: eslint

Error message for HDF5 datatype class 0
  src/hdf5.js
Due: eslint

Update caffe2.js
  src/caffe2.js
Due: eslint

Update tflite.js
  src/tflite.js
Due: eslint

keras-metadata.json
  src/keras-metadata.json
Due: none

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Snippet to demonstrate async RNG in ReactNative; Fixes #88 (#93)
  README.md
Due: yaspeller-ci

Improve RN example
  README.md
Due: yaspeller-ci

Init alphabet bruteforce implementation (#94)
  test/bruteforce
Due: none

Fix test script linting
  package.json
  test/bruteforce
Due: none

Improve bruteforce UI
  test/bruteforce
Due: none

Speed up bruteforce
  test/bruteforce
Due: none

Improve bruteforce output
  test/bruteforce
Due: none

Concat URL alphabet
  url.js
Due: eslint

Speed up bruteforce
  package.json
  test/bruteforce
  yarn.lock
Due: none

Use multiple threads in bruteforce
  test/bruteforce.js
Due: eslint

Remove bruteforce because of low perfomance
  package.json
  test/bruteforce.js
  yarn.lock
Due: eslint

Fix TensorFlow multi graph index
  src/tf-model.js
Due: eslint

CNTK v2 function experiments (#153)
  src/cntk-metadata.json
  src/cntk-model.js
Due: eslint

Update sklearn-metadata.json
  src/sklearn-metadata.json
  src/sklearn-model.js
  tools/metadata/sklearn-metadata.py
  tools/metadata/sklearn-update
Due: eslint

Fix ONNX int32 tensor values
  src/onnx-model.js
Due: eslint

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
