Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Fix ine breaks on npmjs.com
  README.md
Due: yaspeller-ci

Add nbsp
  README.md
Due: yaspeller-ci

Duplicate connections use \n instead of @ (#123)
  src/caffe-model.js
  src/caffe2-model.js
  src/coreml-model.js
  src/view-sidebar.js
  src/view.js
Due: eslint

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Update tflite.js
  src/tflite.js
Due: eslint

Remove curve/append D3.js dependenices
  src/view-render.js
  src/view.js
Due: eslint

chore: remove Node.js 9 from Travis CI config (#68)
  .travis.yml
Due: none

Add file identifier to URL requests
  src/view-browser.js
Due: eslint

Simplify distribution test
  test/generate.test.js
  test/index.test.js
Due: eslint

Fix demo linting
  package.json
Due: none

Add tests for browser version
  test/browser.test.js
  test/ie.test.js
Due: eslint

Improve random() tests
  test/random.test.js
Due: eslint

Fix distribution limit in test
  test/index.test.js
Due: eslint

Remove ES6 method from demo
  test/demo/index.js
Due: eslint

More alphabet tests
  test/index.test.js
Due: eslint

Clean up test
  test/index.test.js
Due: eslint

Add non-secure generator
  .size-limit
  README.md
  non-secure.js
  test/benchmark
  test/demo/index.js
  test/non-secure.test.js
Due: yaspeller-ci, eslint

Fix docs about support
  README.md
Due: yaspeller-ci

Improve DX on React Native and Web Worker
  .size-limit
  README.md
  index.browser.js
  package.json
  test/old-browser.test.js
Due: yaspeller-ci, eslint

Move all configs back to package.json
  .eslintrc
  .lintstagedrc
  .npmignore
  .size-limit
  .yaspellerrc
  jest.config.js
  package.json
  yarn.lock
Due: eslint

Update project size
  README.md
Due: yaspeller-ci

Fix line breaks
  README.md
Due: yaspeller-ci

Usse non-break dash
  README.md
Due: yaspeller-ci

Remove custom JSDoc template and svgo
  .jsdocrc
  README.md
  package.json
  yarn.lock
Due: yaspeller-ci

Add clean-publish
  package.json
  yarn.lock
Due: none

Release 1.1 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

add nanoid-good to Tools section in docs (#69)
  README.md
Due: yaspeller-ci

Typo
  README.md
Due: yaspeller-ci

Update README.md
  README.md
Due: yaspeller-ci

Fix line break
  README.md
Due: yaspeller-ci

Update dependencies
  package.json
  yarn.lock
Due: none

Scale toolbar on mobile screens
  src/view-browser.html
  src/view-electron.html
  src/view.css
  src/view.js
Due: eslint

Update to 1.9.1
  package.json
Due: none

Fix ONNX int64 support (#128)
  src/onnx-model.js
Due: eslint

Fix ONNX operator documentation
  src/onnx-model.js
Due: eslint
