Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Update pytorch-metadata.json
  source/pytorch-metadata.json
Due: none

Add TorchScript test file (#947)
  source/pytorch.js
  test/models.json
Due: eslint

Update pytorch-metadata.json (#950)
  source/pytorch-metadata.json
Due: none

Update om.js
  source/om.js
Due: eslint

Update keras.js
  source/keras.js
Due: eslint

Update python.js
  source/python.js
Due: eslint

Update python.py
  publish/python.py
Due: none

Update scikit-learn script
  tools/sklearn
  tools/sklearn_metadata.py
Due: none

Update MindSpore Lite script
  tools/mslite
  tools/mslite_metadata.js
Due: eslint

Update NNabla script (#759)
  Makefile
  tools/nnabla_script.py
Due: none

Update ONNX script
  tools/onnx
  tools/onnx_metadata.py
Due: none

Update PyTorch script
  Makefile
  tools/pytorch
  tools/pytorch_script.py
Due: none

Update TensorFlow script
  tools/keras_metadata.py
  tools/tf
  tools/tf_metadata.py
  tools/tflite_metadata.js
Due: eslint

Update scikit-learn script
  source/sklearn-metadata.json
  tools/sklearn_metadata.py
Due: none

Update pytorch-metadata.json (#951)
  source/pytorch-metadata.json
Due: none

Update ONNX script
  tools/onnx_metadata.py
Due: none

Update Keras script
  tools/keras_metadata.py
Due: none

Update TensorFlow script
  tools/tf_metadata.py
Due: none

Update Makefile
  Makefile
Due: none

Update acuity.js
  source/acuity.js
Due: eslint

Update to electron 20.1.0
  package.json
Due: none

Add Torch test file (#269)
  source/torch.js
  test/models.json
Due: eslint

Update megengine.js (#607) (#953)
  source/megengine.js
Due: eslint

Update paddle-proto.js
  source/paddle-proto.js
Due: eslint

Update paddle.js
  source/paddle.js
Due: eslint

Add PyTorch test file (#720)
  source/python.js
  source/pytorch.js
  test/models.json
Due: eslint

Update backend experiment
  source/index.js
  source/message.js
  source/server.py
  source/view.js
  test/backend/app.py
Due: eslint

Update to eslint 8.23.0
  package.json
Due: none

Update pytorch-metadata.json (#955)
  source/pytorch-metadata.json
Due: none

Update onnx-metadata.json
  source/onnx-metadata.json
Due: none

Add a download progress bar
  source/index.html
  source/index.js
  source/view.js
Due: eslint

add examples to readme (optional commit)
  README.md
Due: yaspeller-ci

hf.co: Support URLs to blob pages like for GitHub
  source/index.js
Due: eslint

Fixup style
  source/index.html
Due: none
