Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Update tflite-schema.js
  source/tflite-schema.js
Due: eslint

Add .tm extension (#607) (#940)
  package.json
  source/app.js
  source/index.html
Due: eslint

Update python.js
  source/python.js
Due: eslint

Update mnn-schema.js
  source/mnn-schema.js
Due: eslint

Update brace-style lint rule
  package.json
  source/app.js
  source/barracuda.js
  source/caffe.js
  source/cntk.js
  source/dagre.js
  source/dnn.js
  source/message.js
  source/mlnet.js
  source/mxnet.js
  source/onnx.js
  source/openvino.js
  source/paddle.js
  source/python.js
  source/pytorch.js
  source/tnn.js
  source/torch.js
  source/view.js
Due: eslint

Update view-sidebar.js
  source/view-sidebar.js
Due: eslint

Update Makefile
  Makefile
Due: none

Update to eslint 8.22.0
  package.json
Due: none

Update setup.py
  publish/setup.py
Due: none

Remove __version__.py
  publish/python.py
  source/__init__.py
  source/__version__.py
  source/server.py
Due: none

Update ONNX script
  tools/onnx_script.py
Due: none

Update scikit-learn script
  tools/sklearn_script.py
Due: none

Update tf-metadata.json
  source/tf-metadata.json
Due: none

Update Keras script
  tools/keras_script.py
Due: none

Update onnx.py
  source/onnx.py
Due: none

Add backend experiment test
  test/backend/.vscode/launch.json
  test/backend/app.py
Due: none

Add Pylint
  test/backend/.vscode/settings.json
Due: none

Python Server verbosity
  source/__init__.py
  source/onnx.py
  source/pytorch.py
  source/server.py
  test/backend/app.py
Due: none

Update backend experiment test
  test/backend/app.py
  test/backend/netron
Due: none

Update paddle-proto.js
  source/paddle-proto.js
Due: eslint

Exclude backend test package
  .vscode/settings.json
Due: none

Detect invalid content (#458)
  source/view.js
Due: eslint

Update pytorch-metadata.json
  source/pytorch-metadata.json
Due: none

Update DEVELPOMENT.md
  .github/DEVELOPMENT.md
Due: yaspeller-ci

Update python.py
  publish/python.py
Due: none

Update onnx-metadata.json
  source/onnx-metadata.json
Due: none

Update NNabla script (#759)
  tools/nnabla_script.py
Due: none

Update TensorFlow script
  tools/tf_script.py
Due: none

Update server.py
  source/server.py
Due: none

Update sklearn-metadata.json
  source/sklearn-metadata.json
Due: none

Update to electron 20.0.3
  package.json
Due: none
