Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Update sklearn-metadata.json
  src/sklearn-metadata.json
Due: none

Update caffe2-metadata.json
  src/caffe2-metadata.json
Due: none

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Add MediaPipe test file (#444)
  src/mediapipe.js
  test/models.json
Due: eslint

Workaround google/flatbuffers#5822
  .eslintrc.json
Due: none

Add PyTorch test file
  src/pytorch-metadata.json
  src/pytorch.js
  test/models.json
Due: eslint

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Remove React Native support for nanoid/async
  README.md
  async/index.d.ts
  async/index.js
  async/random/index.js
  async/random/index.rn.js
  package.json
Due: yaspeller-ci, eslint

Add Darknet tensor shape error handler
  src/darknet.js
Due: eslint

Update to 3.9.9
  package.json
Due: none

Update package.browser
  package.json
Due: none

Add pre-build nanoid.js for CDN
  .npmignore
  README.md
  nanoid.js
  package.json
  test/update-prebuild.js
  yarn.lock
Due: yaspeller-ci, eslint

Update caffe2-proto.js
  src/caffe2-proto.js
Due: eslint

Update to marked 0.8.2
  package.json
Due: none

Update tf-metadata.json (#448)
  src/caffe2-metadata.json
  src/mnn-metadata.json
  src/tf-metadata.json
  tools/tf-script.py
Due: none

Update dual publish
  package.json
  yarn.lock
Due: none

Use nanoid2 instead generate (#186)
  README.md
Due: yaspeller-ci

Improve React Native tests
  test/react-native-polyfill.test.js
  test/react-native.test.js
Due: eslint

Change argument order
  README.md
  async/index.browser.js
  async/index.d.ts
  async/index.js
  index.browser.js
  index.d.ts
  index.js
  non-secure/index.d.ts
  non-secure/index.js
  test/async.test.js
  test/benchmark
  test/index.test.js
  test/non-secure.test.js
Due: yaspeller-ci, eslint

Update ncnn-metadata.json
  src/ncnn-metadata.json
Due: none

Update tflite-schema.js
  src/tflite-schema.js
Due: eslint

Add PyTorch test file
  src/pytorch-metadata.json
  src/pytorch.js
  test/models.json
  tools/pytorch-script.py
Due: eslint

Change API for custom alphabet and random
  README.md
  async/index.browser.js
  async/index.d.ts
  async/index.js
  index.browser.js
  index.d.ts
  index.js
  non-secure/index.d.ts
  non-secure/index.js
  package.json
  test/async.test.js
  test/benchmark
  test/demo/index.js
  test/index.test.js
  test/non-secure.test.js
Due: yaspeller-ci, eslint

Update to electron 8.2.0
  package.json
Due: none

Update sklearn.js
  src/sklearn.js
Due: eslint

OpenVINO Const shape
  src/openvino.js
Due: eslint

Typo
  README.md
Due: yaspeller-ci

Fix ncnn non-rectangle kernel (#449)
  src/ncnn.js
Due: eslint

Clean up docs
  async/index.d.ts
  index.d.ts
  non-secure/index.d.ts
Due: none

Update dependencies
  package.json
  yarn.lock
Due: none

Add quote
  README.md
Due: yaspeller-ci

Move quote below
  README.md
Due: yaspeller-ci

Clean up docs
  README.md
Due: yaspeller-ci

Add dot to quote
  README.md
Due: yaspeller-ci
