Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Update tf-metadata.json
  src/tf-metadata.json
Due: none

TensorFlow Lite int8 support
  src/tflite-schema.js
  src/tflite.js
Due: eslint

Add model load test files
  test/models.json
Due: none

Add PyTorch Softmax (#133)
  src/pytorch-metadata.json
  src/pytorch.js
Due: eslint

Update caffe2-proto.js
  src/caffe2-proto.js
Due: eslint

Add Keras ReLU metadata
  src/keras-metadata.json
Due: none

Update README.md (#104)
  README.md
Due: yaspeller-ci

Add Python dictionary
  README-cn.md
  README.md
Due: yaspeller-ci

Caffe squeeze_convolution_param support (#165)
  src/caffe-proto.js
  tools/caffe-schema.js
Due: eslint

Add image link to README.md
  README.md
Due: yaspeller-ci

Handle incorrectly named .pth files
  src/keras.js
  src/pytorch-metadata.json
  src/pytorch.js
  src/sklearn.js
Due: eslint

Add model load test files
  test/models.json
  test/test.js
Due: eslint

Update tflite-schema.js
  src/pytorch-metadata.json
  src/tflite-schema.js
Due: eslint

Update to 2.5.2
  package.json
Due: none

Fix Python server current folder
  src/server.py
Due: none

Update to 2.5.3
  package.json
Due: none

Fix Python package version
  Makefile
  setup.py
Due: none

Python server handle file not found
  src/server.py
Due: none

Allow pickle protocol 4
  src/pickle.js
Due: eslint

Update to 2.5.4
  package.json
Due: none

Fix Python server without arguments (#185)
  src/server.py
Due: none

Update to 2.5.5
  package.json
Due: none

Add model load test files
  src/keras.js
  test/models.json
Due: eslint

Remove sidebar border
  src/keras.js
  src/view-sidebar.css
Due: eslint

Handle incorrectly named .model files
  src/cntk.js
  src/pytorch.js
  src/view.js
  test/models.json
Due: eslint

Caffe smooth_l1_loss_param (#165)
  src/caffe-proto.js
  tools/caffe-schema.js
Due: eslint

PyTorch legacy tar format detection
  src/pytorch.js
  src/tar.js
  test/models.json
Due: eslint

Update to 2.5.6
  package.json
Due: none

Update tflite-schema.js
  src/tflite-schema.js
Due: eslint

Update tf-metadata.json
  src/sklearn-metadata.json
  src/tf-metadata.json
Due: none

Update pytorch-metadata.json
  src/pytorch-metadata.json
  src/pytorch.js
Due: eslint

Update benchmark on Node.js 11 and Fedora 29
  README-cn.md
  README.md
Due: yaspeller-ci
