Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Sidebar UI update
  src/view-sidebar.css
  src/view-sidebar.js
Due: eslint

Update caffe-metadata.json
  src/caffe-metadata.json
Due: none

MXNet .model metadata
  src/mxnet-model.js
Due: eslint

Browser meta version tag
  .gitignore
  Makefile
  setup.py
  src/__init__.py
  src/__version__.py
  src/netron.py
  src/netron.pyc
  src/view-browser.js
Due: eslint

Add uid to benchmark
  README.md
  package.json
  test/benchmark
  yarn.lock
Due: yaspeller-ci

Add Keras .hdf5 file extension (#132)
  src/app.js
  src/keras-model.js
  src/view-browser.html
Due: eslint

Add rndm to benchmark
  README.md
  package.json
  test/benchmark
  yarn.lock
Due: yaspeller-ci

Speed up non-secure generator
  README.md
  non-secure.js
  test/benchmark
Due: yaspeller-ci, eslint

Updatde dependencies
  package.json
  yarn.lock
Due: none

Release 1.1.1 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update docs
  README.md
Due: yaspeller-ci

Improve tests
  test/browser.test.js
  test/index.test.js
  test/non-secure.test.js
Due: eslint

Add nanoid/async
  README.md
  async.browser.js
  async.js
  package.json
  test/async.test.js
  test/benchmark
  test/browser.test.js
Due: yaspeller-ci, eslint

Use ES6 in examples
  README.md
  async.js
  format.js
  generate.js
  index.js
  url.js
Due: yaspeller-ci, eslint

Add JSDoc to nanoid/non-secure
  non-secure.js
Due: eslint

Add categories to benchmark
  README.md
  test/benchmark
Due: yaspeller-ci

Add more examples to browser demo
  test/demo/index.js
Due: eslint

Fix spelling check
  README.md
  package.json
Due: yaspeller-ci

Add error reporting (#114)
  package.json
  src/view-browser.js
  src/view-electron.js
  src/view.js
Due: eslint

Update to 1.9.6
  package.json
Due: none

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Used | operator instead of Math.floor() (#73)
  non-secure.js
Due: eslint

Fix tests
  package.json
Due: none

Update benchmark with new non-secure
  README.md
Due: yaspeller-ci

Add Chinese doc (#72)
  README-cn.md
Due: yaspeller-ci

Remove docs translations from spelling check
  package.json
Due: none

Update benchmark in Chinese docs
  README-cn.md
Due: yaspeller-ci

Remove docs translation from npm package
  .npmignore
Due: none

Fix spelling check
  package.json
Due: none

Update dependencies
  package.json
  yarn.lock
Due: none

Release 1.2 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

PyTorch experiment (#133)
  setup.py
  src/pytorch-metadata.json
  src/pytorch-model.js
  src/view-browser.html
  src/view-electron.html
  src/view.js
Due: eslint

Fix TensorFlow String.fromCharCode
  src/tf-model.js
  src/view-browser.js
Due: eslint

Add userAgent to error reporting
  src/view-electron.js
Due: eslint

Improve uid benchmark since it accept bytes length
  test/benchmark
Due: none

Explicit model properties
  setup.py
  src/caffe-model.js
  src/caffe2-model.js
  src/coreml-model.js
  src/keras-model.js
  src/mxnet-model.js
  src/onnx-model.js
  src/pickle.js
  src/pytorch-metadata.json
  src/pytorch-model.js
  src/tf-model.js
  src/tflite-model.js
  src/view-sidebar.js
  src/view.js
  src/zip.js
Due: eslint

Update to 1.9.8
  package.json
Due: none

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
