Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Release 1.3.2 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Add RND fix to sync version
  async/index.js
  index.js
  package.json
  test/async-error.test.js
  test/rnd-error.test.js
Due: eslint

Move scripts upper
  package.json
Due: none

Replace pre-commit to husky
  package.json
  yarn.lock
Due: none

Release 1.3.3 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Reduce non-secure size
  non-secure.js
  package.json
Due: eslint

Update electron-updater
  package.json
Due: none

Update to 2.4.1
  package.json
Due: none

Fix MXNet BatchNorm arguments (#172)
  src/mxnet-metadata.json
  src/mxnet-model.js
Due: eslint

Error reporting fixes
  src/caffe2-model.js
  src/cntk-model.js
  src/onnx-model.js
  src/tf-model.js
Due: eslint

Update tflite schema location
  tools/metadata/tflite-update
Due: none

Update keras-metadata.json
  src/keras-metadata.json
Due: none

PyTorch FloatTensor serialization (#133)
  src/pickle.js
  src/pytorch-model.js
  src/view.js
Due: eslint

Update to 2.4.2
  package.json
Due: none

Browser dark mode prototype
  setup.py
  src/logo.svg
  src/spinner.svg
  src/view-browser.html
  src/view-electron.html
  src/view-render.css
  src/view-sidebar.css
  src/view.css
Due: none

Fix shape size edge labels
  src/view.js
Due: eslint

Caffe box_output_param (#165)
  src/caffe.js
  tools/metadata/caffe-update.js
Due: eslint

Pickle __setitem__ support
  src/pickle.js
  src/pytorch-model.js
Due: eslint

Update onnx-meatadata.json
  src/onnx-metadata.json
Due: none

Update to 2.4.3
  package.json
Due: none

Electron dark mode prototype
  electron-builder.yml
  src/app.js
  src/entitlements.mas.plist
  src/view-electron.html
  src/view-electron.js
  src/view-render.css
  src/view-sidebar.css
  src/view.css
Due: eslint

Add PyTorch resnet BasicBlock (#133)
  src/pytorch-model.js
Due: eslint

Add ModelFactoryService
  src/view.js
Due: eslint

Update to 2.4.4
  package.json
Due: none

Rename view-render to view-grapher
  setup.py
  src/view-browser.html
  src/view-electron.html
  src/view-grapher.css
  src/view-grapher.js
  src/view.js
Due: eslint

Add gzip.js
  setup.py
  src/gzip.js
  src/tar.js
  src/view-browser.html
  src/view-electron.html
  src/view.js
  src/zip.js
Due: eslint

Rename pickle offset to position
  src/pickle.js
Due: eslint

onnx-update commands
  tools/metadata/onnx-update
Due: none

Add module exports
  src/gzip.js
  src/hdf5.js
  src/tar.js
  src/view-browser.html
  src/view-browser.js
  src/view-electron.html
  src/view-electron.js
  src/view-grapher.js
  src/view-sidebar.js
  src/view.js
  src/zip.js
Due: eslint

Improve async errors
  async/index.js
  test/async.test.js
Due: eslint

Update dependencies
  package.json
  yarn.lock
Due: none

Release 1.3.4 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

cntk_v1 Error class
  src/cntk-model.js
Due: eslint

Dark mode category colors
  src/view-grapher.css
Due: none

Rename protobuf files to -proto.js
  setup.py
  src/caffe-model.js
  src/caffe-proto.js
  src/caffe2-model.js
  src/caffe2-proto.js
  src/cntk-model.js
  src/cntk-proto.js
  src/coreml-model.js
  src/coreml-proto.js
  src/onnx-model.js
  src/onnx-proto.js
  src/tf-metadata.json
  src/tf-model.js
  src/tf-proto.js
  src/tflite-model.js
  src/tflite-schema.js
  tools/metadata/caffe-update
  tools/metadata/cntk-update
  tools/metadata/coreml-update
  tools/metadata/onnx-update
  tools/metadata/pytorch-update
  tools/metadata/tf-update
  tools/metadata/tflite-update
Due: eslint

Remove src/entitlements.mas.plist
  src/entitlements.mas.plist
Due: none

Add module exports
  src/numpy.js
  src/pickle.js
Due: eslint

Add ONNX module exports
  setup.py
  src/onnx.js
  src/pytorch-model.js
  src/sklearn-model.js
  src/view-browser.html
  src/view-electron.html
  src/view.js
Due: eslint

Add Caffe module exports
  setup.py
  src/caffe.js
  src/view-browser.html
  src/view-electron.html
  src/view.js
Due: eslint

Add MXNet module exports
  setup.py
  src/mxnet.js
  src/view-browser.html
  src/view-electron.html
  src/view.js
Due: eslint
