Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Fix npm ignore
  .npmignore
Due: none

Update tf-metadata.json
  source/tf-metadata.json
Due: none

Update sklearn-metadata.json
  source/sklearn-metadata.json
Due: none

Update to marked 1.2.2
  package.json
Due: none

Add package.types and update dependencies
  .npmignore
  package.json
  yarn.lock
Due: none

Release 3.1.14 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Fix package.types
  package.json
  yarn.lock
Due: none

Release 3.1.15 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update onnx-metadata.json
  source/onnx-metadata.json
  source/onnx.js
  tools/onnx-script.py
Due: eslint

Update bigdl-metadata.json
  source/bigdl-metadata.json
  source/bigdl.js
Due: eslint

Update armnn-metadata.json
  source/armnn-metadata.json
  source/armnn.js
Due: eslint

Update tflite-metadata.json
  source/tflite-metadata.json
Due: none

Update uff-metadata.json
  source/uff-metadata.json
Due: none

Update to electron 10.1.5
  package.json
Due: none

Update to eslint 7.12.0
  package.json
Due: none

Update ONNX detection
  source/onnx.js
Due: eslint

Update PyTorch detection
  source/pytorch.js
Due: eslint

Update tf-proto.js
  source/tf-proto.js
Due: eslint

Update Keras detection
  source/view.js
Due: eslint

Update to 4.5.7
  package.json
Due: none

Add uuid 8.3.1 (#620)
  package.json
Due: none

Update to 4.5.8
  package.json
Due: none

Remove uuid (#620)
  package.json
  source/app.js
Due: eslint

Update pytorch-metadata.json
  source/pytorch-metadata.json
Due: none

Update Makefile
  Makefile
  README.md
Due: yaspeller-ci

Handle request errors
  source/electron.js
Due: eslint

Add PyTorch test file (#472)
  source/pytorch.js
  test/models.json
Due: eslint

Update to 4.5.9
  package.json
Due: none

Example has 22 not 21 chars (#242)
  README.md
Due: yaspeller-ci

Update dependencies
  package.json
  yarn.lock
Due: none

Update uuid benchmark
  README.md
Due: yaspeller-ci

Generate random numbers in larger request sizes (#243)
  index.js
Due: eslint

Clean up code
  index.js
Due: eslint

Update benchmark
  README.md
Due: yaspeller-ci

Fix benchmark CLI name
  README.md
  test/benchmark.js
Due: yaspeller-ci, eslint

Release 3.1.16 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Typo
  CHANGELOG.md
Due: yaspeller-ci

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
