Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Reset view after load failure
  src/view-browser.js
Due: eslint

Update to 2.1.2
  package.json
Due: none

Update onnx.js --keep-case
  src/onnx-model.js
  src/onnx.js
  tools/metadata/onnx-update
Due: eslint

Update caffe.js --keep-case
  src/caffe-metadata.json
  src/caffe-model.js
  src/caffe.js
  tools/metadata/caffe-update
Due: eslint

Update coreml.js --keep-case
  tools/metadata/coreml-update
Due: none

Update caffe2.js
  src/caffe2.js
Due: eslint

Update tf.js --keep-case
  src/tf-model.js
  src/tf.js
  tools/metadata/tf-update
Due: eslint

Update caffe2.js --keep-case
  src/caffe2-model.js
  src/caffe2.js
  tools/metadata/pytorch-update
Due: eslint

Browser Gist query parameter
  package.json
  src/caffe-model.js
  src/view-browser.js
Due: eslint

Add TensorFlow pbtxt prototype
  src/tf-model.js
Due: eslint

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Add host environment function
  src/caffe-model.js
  src/caffe2-model.js
  src/coreml-model.js
  src/keras-model.js
  src/mxnet-model.js
  src/pytorch-model.js
  src/sklearn-model.js
  src/tf-model.js
  src/tflite-model.js
  src/view-browser.js
  src/view-electron.js
  src/view.js
Due: eslint

src/tf-metadata.json
  src/tf-metadata.json
Due: none

ONNX opaque type support
  src/onnx-model.js
  src/onnx.js
Due: eslint

Update pbtxt format detection
  src/caffe-model.js
  src/caffe2-model.js
  src/keras-model.js
  src/mxnet-model.js
  src/onnx-model.js
  src/sklearn-model.js
  src/tf-model.js
  src/view-browser.js
  src/view-electron.js
  src/view.js
  tools/metadata/tf-update
Due: eslint

Disable eval()
  src/tflite-model.js
  src/view-browser.js
  src/view-electron.js
Due: eslint

Update to requestSingleInstanceLock()
  src/app.js
Due: eslint

Update to 2.1.3
  package.json
Due: none

Switch to protopb.js#pbtxt branch (#139)
  electron-builder.yml
  package.json
  src/app.js
  src/caffe.js
  src/caffe2.js
  src/onnx.js
  src/tf.js
  src/view-browser.html
  src/view-browser.js
  src/view-electron.js
  tools/metadata/caffe-update
  tools/metadata/onnx-update
  tools/metadata/pytorch-update
  tools/metadata/tf-update
Due: eslint

Update to 2.1.4
  package.json
Due: none

Update README.md
  README.md
Due: yaspeller-ci

Fix browser startup
  src/view-browser.js
Due: eslint

Update to 2.1.5
  package.json
Due: none

Detect PK signature for MXNet .model format
  src/mxnet-model.js
Due: eslint

CNTK experiment
  setup.py
  src/caffe2-model.js
  src/cntk-metadata.json
  src/cntk-model.js
  src/cntk.js
  src/view-browser.html
  src/view-browser.js
  src/view-electron.html
  src/view-electron.js
  src/view-sidebar.js
  src/view.js
  tools/metadata/cntk-update
  tools/metadata/update
Due: eslint

Update to 2.1.6
  package.json
Due: none

Caffe input shape detection
  src/caffe-model.js
Due: eslint

Update to 2.1.7
  package.json
Due: none

Update to 2.1.8
  package.json
Due: none

Update code example in Chinese docs
  README-cn.md
Due: yaspeller-ci

Update dependencies
  package.json
  yarn.lock
Due: none

Update TensorFlow saved_model detection
  src/onnx-model.js
  src/tf-model.js
Due: eslint

Unique message for pbtxt errors
  src/caffe-model.js
  src/caffe2-model.js
  src/onnx-model.js
Due: eslint

Switch select class using classList
  src/view.js
Due: eslint

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
