Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Detect invalid content (#458)
  src/view.js
Due: eslint

Remove ONNX test file
  test/models.json
Due: none

Update to electron 9.2.0
  package.json
Due: none

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Update sklearn-metadata.json
  src/sklearn-metadata.json
  tools/sklearn
  tools/sklearn-script.py
Due: none

Update server npm run command
  package.json
Due: none

Update to 4.4.4
  package.json
Due: none

Update pytorch-metadata.json
  src/pytorch-metadata.json
Due: none

Update pytorch.js
  src/pytorch.js
Due: eslint

Update README.md (#230)
  README.md
Due: yaspeller-ci

Update dependencies
  package.json
  yarn.lock
Due: none

Delay TextDecoder decode
  src/armnn.js
  src/caffe2.js
  src/darknet.js
  src/keras.js
  src/mediapipe.js
  src/mxnet.js
  src/openvino.js
  src/tflite.js
Due: eslint

Update README.md logo
  .github/logo.png
  .github/logo.svg
  README.md
Due: yaspeller-ci

Add Darknet test files (#539)
  src/darknet.js
  test/models.json
Due: eslint

Remove test files
  test/models.json
  tools/pytorch-script.py
Due: none

CoreML enum support (#193)
  src/coreml.js
Due: eslint

Update tf-metadata.json
  source/tf-metadata.json
Due: none

Update tf-proto.js
  source/tf-proto.js
Due: eslint

Update pytorch-metadata.json
  source/pytorch-metadata.json
Due: none

worldSafeExecuteJavaScript support
  source/app.js
  source/electron.html
  source/electron.js
  source/index.js
Due: eslint

Detect invalid content (#458)
  source/view.js
Due: eslint

Detect invalid content (#458)
  source/view.js
  test/models.json
Due: eslint

Add TensorFlow .graphdef detection
  source/tf.js
  source/view.js
Due: eslint

Update pytorch.js
  source/pytorch.js
Due: eslint

Update to 4.4.5
  package.json
Due: none

Fix BrowserHost (#573)
  source/index.js
Due: eslint

Update mnn-metadata.json
  source/mnn-metadata.json
Due: none

Update mnn.js
  source/mnn.js
Due: eslint

Update to eslint 7.7.0
  package.json
Due: none

Update to 4.4.6
  package.json
Due: none

Update Makefile
  Makefile
Due: none

TensorBundle Snappy compression support (#560)
  source/tf.js
Due: eslint

Update openvino.js
  source/openvino.js
Due: eslint

Update caffe2-metadata.json
  source/caffe2-metadata.json
Due: none

Fix flatc.js enum default value
  source/mnn-schema.js
  tools/flatc.js
Due: eslint
