Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Fix warnings
  index.browser.js
Due: eslint

Update benchmark
  README.md
  package.json
Due: yaspeller-ci

Remove self to reduce size
  README.md
  async/index.browser.js
  index.browser.js
  package.json
  test/async.test.js
  test/index.test.js
  test/react-native-polyfill.test.js
Due: yaspeller-ci, eslint

Update ESM build
  nanoid.js
Due: eslint

Improve documentation (#191)
  index.js
Due: eslint

Improve documentation for `index.d.ts` (#190)
  index.d.ts
Due: none

Improve README content (#198)
  README.md
Due: yaspeller-ci

Improve documentation (#192)
  index.browser.js
Due: eslint

Improve documentation for non-secure `index.d.ts` (#193)
  non-secure/index.d.ts
Due: none

Improve documentation for non-secure `index.js` (#194)
  non-secure/index.js
Due: eslint

Improve documentation for async `index.d.ts` (#196)
  async/index.d.ts
Due: none

Improve documentation for async `index.js` (#197)
  async/index.js
Due: eslint

Improve documentation for async `index.browser.js` (#195)
  async/index.browser.js
Due: eslint

Clean up text
  README.md
  async/index.browser.js
  async/index.js
  index.browser.js
  index.js
  package.json
Due: yaspeller-ci, eslint

Fix line breaks
  README.md
  package.json
Due: yaspeller-ci

Use real seed-based generator
  README.md
Due: yaspeller-ci

Fix text
  README.md
Due: yaspeller-ci

Update dependencies
  package.json
  yarn.lock
Due: none

Release 3.0 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Remove old Node.js from Travis CI
  .travis.yml
Due: none

Highlight migration guide in changelog
  CHANGELOG.md
Due: yaspeller-ci

More stable tests
  test/async.test.js
  test/index.test.js
Due: eslint

Add portable feature
  README.md
Due: yaspeller-ci

Add cuid to benchmark
  README.md
  package.json
  test/benchmark
  yarn.lock
Due: yaspeller-ci

Add Tengine prototype (#451)
  README.md
  electron-builder.yml
  setup.py
  src/app.js
  src/tengine-metadata.json
  src/tengine.js
  src/view.js
  test/models.json
Due: yaspeller-ci, eslint

Fix cuid benchmark
  README.md
  test/benchmark
Due: yaspeller-ci

Speed up tests
  test/async.test.js
  test/index.test.js
  test/non-secure.test.js
Due: eslint

DataView boundary check
  src/hdf5.js
  src/mlnet.js
  src/ncnn.js
  src/pickle.js
  src/tar.js
  src/tf.js
  src/torch.js
Due: eslint

Update caffe2-metadata.json
  src/caffe2-metadata.json
Due: none

Update tf-proto.js
  src/tf-proto.js
Due: eslint

Try to fix coverage
  test/async.test.js
  test/index.test.js
  test/non-secure.test.js
Due: eslint

Darknet [net] variables support
  src/darknet-metadata.json
  src/darknet.js
  test/models.json
Due: eslint

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Update tflite-schema.js
  src/tflite-schema.js
Due: eslint

Update armnn-schema.js
  src/armnn-schema.js
Due: eslint

Update tf-metadata.json
  src/tf-metadata.json
Due: none

DataView boundary check
  src/cntk.js
  src/tf-metadata.json
Due: eslint

Update to electron-notarize 0.3.0
  package.json
Due: none
