Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Update mnn-schema.js
  source/mnn-schema.js
Due: eslint

Update tf-proto.js
  source/tf-proto.js
Due: eslint

Update python.js
  source/python.js
Due: eslint

Update grapher
  source/view.js
Due: eslint

Update test files
  test/models.json
Due: none

Update keras.js (#730)
  source/keras-metadata.json
  source/keras.js
Due: eslint

Update archive detection
  source/gzip.js
  source/paddle.js
  source/tar.js
  source/view.js
  source/zip.js
  test/models.js
  test/models.json
Due: eslint

Update onnx-metadata.json
  source/onnx-metadata.json
Due: none

Update grapher
  source/view-grapher.js
  source/view.js
Due: eslint

Update pytorch-metadata.json (#732)
  source/python.js
  source/pytorch-metadata.json
  source/pytorch.js
  test/models.json
Due: eslint

Update README.md (#276)
  README.md
Due: yaspeller-ci

Rmove dublicates
  README.md
Due: yaspeller-ci

Update dependencies
  .github/workflows/test.yml
  package.json
  yarn.lock
Due: none

Update TensorRT detection (#725)
  source/tensorrt.js
  source/view.js
Due: eslint

Update pytorch.js
  source/pytorch.js
Due: eslint

Add TensorFlow.js test file (##294) (#683)
  source/keras.js
  source/tf.js
  source/view.js
  test/models.json
Due: eslint

Update to 4.9.2
  package.json
Due: none

Update onnx.js
  source/onnx.js
Due: eslint

Update gzip.js
  source/gzip.js
Due: eslint

Update ncnn.js (#739)
  source/ncnn-metadata.json
  source/ncnn.js
Due: eslint

Update zip.js
  source/zip.js
Due: eslint

Update archive detection
  source/view.js
Due: eslint

Update to eslint 7.26.0
  package.json
Due: none

Update to electron 12.0.7
  package.json
Due: none

Update dependencies
  package.json
  yarn.lock
Due: none

Fix package.browser for esbuild
  package.json
Due: none

Release 3.1.23 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update view.js
  source/view.js
Due: eslint

Update scikit-learn script
  tools/sklearn
Due: none

Update keras.js (#647)
  source/keras.js
Due: eslint

Update openvino.js (#647) (#715)
  source/openvino.js
Due: eslint

Update tflite.js
  source/tflite.js
Due: eslint

Update TensorFlow Lite detection
  source/view.js
Due: eslint

Update pytorch-metadata.json (#546)
  source/pytorch-metadata.json
Due: none

Update to electron-updater 4.3.9
  package.json
Due: none

Update to 4.9.3
  package.json
Due: none
