Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Check Torch module name
  src/torch.js
Due: eslint

File drop filter
  src/view.js
Due: eslint

Update package.json
  package.json
Due: none

Add libomp-dev to Linux PyTorch script
  tools/pytorch
  tools/sklearn
Due: none

Fix scikit-learn macOS script
  tools/coreml
  tools/keras
  tools/onnx
  tools/pytorch
  tools/sklearn
  tools/tf
  tools/tflite
Due: none

Update to 2.9.3
  Makefile
  package.json
  src/view.js
Due: eslint

Update pytorch.js
  src/pytorch.js
Due: eslint

Fix OpenVINO attribute defaults (#191)
  src/openvino-metadata.json
  src/openvino.js
Due: eslint

Remove Graph.operators (#204)
  src/caffe.js
  src/caffe2.js
  src/coreml.js
  src/keras.js
  src/mxnet.js
  src/onnx.js
  src/openvino.js
  src/tf.js
  src/tflite.js
  src/view-sidebar.js
Due: eslint

Update sklearn.js
  src/sklearn.js
Due: eslint

Skip rendering empty edge labels
  src/view-grapher.js
Due: eslint

Update tflite-metadata.json
  src/tflite-metadata.json
Due: none

Update torch.js
  src/torch.js
Due: eslint

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Update README.md
  README.md
Due: yaspeller-ci

Update to 2.9.4
  package.json
Due: none

Update sklearn-metadata.json
  src/sklearn-metadata.json
Due: none

Fix ignore
  .gitignore
Due: none

Update dependencies
  package.json
  yarn.lock
Due: none

Added mongoose _id documentation (#114)
  README.md
Due: yaspeller-ci

Improve docs
  README-cn.md
  README.md
Due: yaspeller-ci

Update tflite-schema.js
  src/tflite-schema.js
Due: eslint

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
