Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Simplify import docs
  README.md
  package.json
Due: yaspeller-ci

Update dependencies
  package.json
  yarn.lock
Due: none

Update to eslint 7.21.0
  package.json
Due: none

Torch storage offset support (#200) (#691)
  source/torch.js
Due: eslint

Update openvino.js
  source/openvino.js
Due: eslint

Update pytorch.js
  source/pytorch.js
Due: eslint

Update to electron-builder 22.10.5
  package.json
Due: none

Update to electron-updater 4.3.8
  package.json
Due: none

Update to electron 12.0.0
  package.json
Due: none

Update openvino.js (#692)
  source/openvino-metadata.json
  source/openvino.js
Due: eslint

Remove electron remote
  source/app.js
  source/electron.js
Due: eslint

Windows ARM support (#663)
  .github/workflows/build.yml
  .github/workflows/publish.yml
  Makefile
Due: none

Add ONNX test file (#693)
  source/onnx.js
  test/models.json
Due: eslint

Update mnn-schema.js
  source/mnn-schema.js
Due: eslint

Move test data folder
  .gitignore
  Makefile
  test/models.js
  tools/keras-script.py
  tools/pytorch-script.py
Due: eslint

Detect invalid content (#458)
  source/view.js
  test/models.json
Due: eslint

Update sklearn-metadata.json
  source/sklearn-metadata.json
Due: none

Update to 4.8.1
  package.json
Due: none

Update pytorch-metadata.json
  source/pytorch-metadata.json
Due: none

Update npz.js
  source/npz.js
Due: eslint

Update PyTorch model files
  test/models.json
  tools/pytorch
  tools/pytorch-script.py
Due: none

Update mslite.js (#600)
  source/mslite-schema.js
  source/mslite.js
  source/view.js
  test/models.json
  tools/mslite
Due: eslint

Update Keras test files (#57)
  test/models.json
  tools/keras-script.py
  tools/pytorch-script.py
  tools/tf
Due: none

Update onnx.js
  source/onnx.js
Due: eslint

Update Keras detection
  source/keras.js
Due: eslint

Update to xmldom 0.5.0
  package.json
Due: none

Update to d3 6.6.0
  package.json
Due: none

Update to electron 12.0.1
  package.json
Due: none

Update mslite-schema.js
  source/mslite-schema.js
Due: eslint

Update onnx-metadata.json
  source/onnx-metadata.json
Due: none

Update dev practices
  async/index.d.ts
  index.d.ts
  non-secure/index.d.ts
  package.json
  test/async.test.js
  test/benchmark.js
  test/demo/index.js
  test/index.test.js
  test/react-native-polyfill.test.js
  test/update-prebuild.js
  yarn.lock
Due: eslint

Release 3.1.21 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update caffe2-proto.js
  source/caffe2-proto.js
Due: eslint

Update tflite-schema.js
  source/tflite-schema.js
Due: eslint

Update flatc.js
  source/mslite-schema.js
  tools/flatc.js
Due: eslint

Update protoc.js
  tools/protoc.js
Due: eslint

Update max zoom
  source/view.js
Due: eslint

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
