Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Update tf.js
  source/tf.js
Due: eslint

Update to electron 11.0.4
  package.json
Due: none

Update mslite-schema.js
  source/mslite-schema.js
Due: eslint

Update tf-proto.js
  source/tf-proto.js
Due: eslint

Add Sidebar null check
  source/view-sidebar.js
Due: eslint

Add known error links
  source/view.js
Due: eslint

Update sklearn.js
  source/sklearn.js
Due: eslint

Update to d3 6.3.1
  package.json
Due: none

Update README.md logo (#651)
  .github/logo.svg
  README.md
Due: yaspeller-ci

Add RKNN weights support (#639)
  electron-builder.yml
  source/app.js
  source/index.html
  source/rknn-metadata.json
  source/rknn.js
Due: eslint

Update README.md (#643)
  README.md
  setup.py
Due: yaspeller-ci

Update pytorch.js
  source/pytorch.js
Due: eslint

Update PyTorch script
  tools/pytorch-script.py
Due: none

Update ONNX script
  tools/onnx-script.py
Due: none

Update onnx.js
  source/onnx.js
Due: eslint

Update Makefile
  Makefile
  setup.py
  source/index.html
Due: none

Update pytorch-metadata.json
  source/pytorch-metadata.json
Due: none

Fix JSDoc in index.d.ts for urlAlphabet example (#250)
  index.d.ts
Due: none

Update gzip.js
  source/gzip.js
Due: eslint

Update zip.js
  source/zip.js
Due: eslint

Update mlnet.js
  source/mlnet.js
Due: eslint

Unified Electron host file read (#497)
  source/electron.js
  test/models.js
  test/models.json
Due: eslint

Update to electron 11.1.0
  package.json
Due: none

Update onnx-metadata.json
  source/onnx-metadata.json
Due: none

Update to 4.6.6
  package.json
Due: none

Update protoc.js
  source/bigdl-proto.js
  source/caffe-proto.js
  source/caffe2-proto.js
  source/cntk-proto.js
  source/coreml-proto.js
  source/dnn-proto.js
  source/onnx-proto.js
  source/paddle-proto.js
  source/protobuf.js
  source/tf-proto.js
  source/uff-proto.js
  source/view.js
  tools/protoc.js
Due: eslint

Update test files
  test/models.json
Due: none

Add host binary reader (#497)
  source/armnn.js
  source/barracuda.js
  source/base.js
  source/bigdl.js
  source/caffe.js
  source/caffe2.js
  source/cntk.js
  source/coreml.js
  source/darknet.js
  source/dnn.js
  source/electron.js
  source/flux.js
  source/gzip.js
  source/hdf5.js
  source/index.js
  source/keras.js
  source/mediapipe.js
  source/mnn.js
  source/mslite.js
  source/mxnet.js
  source/ncnn.js
  source/onnx.js
  source/openvino.js
  source/paddle.js
  source/pytorch.js
  source/rknn.js
  source/sklearn.js
  source/tar.js
  source/tengine.js
  source/tf.js
  source/tflite.js
  source/tnn.js
  source/torch.js
  source/uff.js
  source/view.js
  source/weka.js
  source/zip.js
  test/models.js
Due: eslint

Add PyTorch ops._caffe2 support (#545)
  source/pytorch-metadata.json
  source/pytorch.js
  test/models.json
Due: eslint

fix(README.md): Deleted description mentioning the incorrect way to use nanoid with React elements' keys. (#252)
  README.md
Due: yaspeller-ci

Typo
  README.md
Due: yaspeller-ci

Update dependencies
  package.json
  yarn.lock
Due: none

Revert "Workaround pytorch/vision#3111"
  tools/pytorch
Due: none

Update caffe2-metadata.json
  source/caffe2-metadata.json
Due: none

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
