Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Fix step names
  .github/workflows/test.yml
Due: none

Update ONNX script
  tools/onnx
Due: none

Update tf-metadata.json
  source/tf-metadata.json
Due: none

Update to 4.6.1
  package.json
Due: none

Update Sharec config
  .github/workflows/test.yml
  package.json
  yarn.lock
Due: none

Update to eslint 7.13.0
  package.json
Due: none

Add PyTorch test file (#543)
  source/pytorch.js
  test/models.json
Due: eslint

Add PyTorch .pty detection
  source/view.js
Due: eslint

Update pytorch-metadata.json
  source/pytorch-metadata.json
Due: none

Update NumPy weights support
  source/sklearn.js
  test/models.json
Due: eslint

Update dependencies
  package.json
  yarn.lock
Due: none

Detect invalid content (#458)
  source/view.js
Due: eslint

Update ONNX detection
  source/onnx.js
Due: eslint

Update torch-metadata.json
  source/torch-metadata.json
Due: none

Update sklearn.js
  source/sklearn.js
Due: eslint

Add Caffe test file (#276)
  source/caffe.js
  source/protobuf.js
  test/models.json
Due: eslint

Update pytorch.js
  source/pytorch.js
Due: eslint

Update to 4.6.2
  package.json
Due: none

Remove marked
  Makefile
  package.json
  setup.py
  source/index.html
  source/view-sidebar.js
Due: eslint

Update TensorFlow script
  tools/tf
Due: none

Update .tar.gz detection
  source/gzip.js
  source/view.js
Due: eslint

Update performance data
  README.md
Due: yaspeller-ci

PaddlePaddle TensorDesc support (#198)
  source/paddle.js
  source/view.js
  test/models.json
Due: eslint

Update uff.js
  source/uff.js
Due: eslint

Update to electron 10.0.1
  package.json
Due: none

Update to pako 2.0.1
  package.json
Due: none

Update tflite-schema.js
  source/tflite-schema.js
Due: eslint

Update test file
  test/models.json
Due: none

Update keras-metadata.json
  source/keras-metadata.json
Due: none

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
