Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Clean up imports
  test/async-random.test.js
  test/random.test.js
Due: eslint

Update dependencies
  package.json
  yarn.lock
Due: none

Change the order in benchmark
  test/benchmark
Due: none

Update benchmark on new Node.js
  README-cn.md
  README.md
Due: yaspeller-ci

Clean up features
  README.md
Due: yaspeller-ci

Update to 2.9.8
  package.json
Due: none

Scalar tensors in TensorFlow Lite
  src/tflite.js
Due: eslint

Update caffe2-metadata.json
  src/caffe2-metadata.json
Due: none

Update pytorch.js
  src/pytorch.js
Due: eslint

Fix MXNet shared weights (#245)
  src/mxnet.js
  test/models.json
Due: eslint

Update Size Limit
  package.json
  yarn.lock
Due: none

Update package.json
  package.json
Due: none

Fix PaddlePaddle no types (#246)
  src/caffe-metadata.json
  src/paddle-metadata.json
  src/paddle.js
  test/models.json
Due: eslint

Update model load test files
  test/models.json
Due: none

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Update caffe2-proto.js
  src/caffe2-proto.js
Due: eslint

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Convert to for...of
  src/app.js
  src/caffe.js
  src/caffe2.js
  src/cntk.js
  src/coreml.js
  src/darknet.js
  src/hdf5.js
  src/keras.js
  src/mxnet.js
  src/numpy.js
  src/onnx.js
  src/openvino.js
  src/paddle.js
  src/pytorch.js
  src/sklearn.js
  src/tf.js
  src/tflite.js
  src/torch.js
  src/view-browser.js
  src/view-grapher.js
  src/view-sidebar.js
  src/view.js
  src/zip.js
  test/test.js
Due: eslint

Add gzip and gzip test files
  src/gzip.js
  test/models.json
  test/test.js
Due: eslint

Update .gitignore
  .gitignore
Due: none

Update torch.js
  src/torch.js
Due: eslint

Update onnx-metadata.json
  src/onnx-metadata.json
  src/tf-metadata.json
Due: none

Shorter connections (#251)
  src/view.js
Due: eslint

Workaround pytorch/pytorch#18398
  tools/pytorch
Due: none

Reject PyTorch models in CTNK factory
  src/cntk.js
  src/sklearn.js
Due: eslint

Load Keras weights only files (#73)
  src/keras.js
  test/models.json
Due: eslint

Update to 3.0.0
  package.json
Due: none

Load PyTorch weights only files (#236)
  src/pickle.js
  src/pytorch-metadata.json
  src/pytorch.js
  src/sklearn.js
  test/models.json
  test/test.js
Due: eslint

Update onnx-proto.js
  src/onnx-proto.js
Due: eslint

Update tf-proto.js
  src/tf-proto.js
  tools/tf
Due: eslint
