Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Move update script to Makefile
  Makefile
  tools/update
Due: none

Update pytorch.js
  src/pytorch.js
Due: eslint

Add Caffe test file
  test/models.json
Due: none

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Update caffe-proto.js
  src/caffe-proto.js
  src/caffe.js
Due: eslint

Update caffe2-proto.js
  src/caffe2-proto.js
Due: eslint

Update tf-proto.js
  src/tf-proto.js
Due: eslint

Update onnx-proto.js
  src/onnx-proto.js
Due: eslint

MXNet params support (#285)
  src/app.js
  src/mxnet.js
  src/view-browser.html
  src/view.js
  test/models.json
Due: eslint

Core ML visionFeaturePrint support (#193)
  src/coreml.js
  test/models.json
Due: eslint

Caffe .pt extension support (#276)
  src/caffe.js
  src/view.js
  test/models.json
Due: eslint

Add Caffe prototxt semicolon test files (#276)
  test/models.json
Due: none

Update pytorch.js
  src/pytorch.js
  src/view.js
Due: eslint

Fix Keras weights names (#73)
  src/keras-metadata.json
  src/keras.js
Due: eslint

Update to electron 5.0.4
  package.json
Due: none

Update to 3.1.4
  package.json
Due: none

MXNet Model Archive support (#286) (#285)
  electron-builder.yml
  src/app.js
  src/mxnet.js
  src/view-browser.html
  src/view.js
  test/models.json
Due: eslint

Update 3.1.5
  package.json
Due: none

Add TorchScript Python parser (#281)
  README.md
  setup.py
  src/torchscript-metadata.json
  src/torchscript.js
Due: yaspeller-ci, eslint

Update keras-metadata.json
  src/keras-metadata.json
Due: none

Add TorchScript test files (#281)
  src/torchscript-metadata.json
  src/torchscript.js
  src/view.js
  test/models.json
  test/test.js
  tools/pytorch-script.py
Due: eslint

Show ellipsis for multiple initializers
  src/view.js
Due: eslint

Update to electron 5.0.5
  package.json
Due: none

Update to electron-builder 20.44.4
  package.json
Due: none

Rename view-browser.html to index.html
  Makefile
  setup.py
  src/app.js
  src/electron.html
  src/electron.js
  src/index.html
  src/index.js
  src/server.py
Due: eslint

Update to eslint 6.0.0
  package.json
  src/app.js
  src/caffe.js
  src/caffe2.js
  src/cntk.js
  src/coreml.js
  src/darknet.js
  src/hdf5.js
  src/index.js
  src/keras.js
  src/mxnet.js
  src/onnx.js
  src/openvino.js
  src/paddle.js
  src/pytorch.js
  src/sklearn.js
  src/tf.js
  src/tflite.js
  src/torch.js
  src/torchscript.js
  src/view-grapher.js
  src/view.js
  test/test.js
Due: eslint

Add Torch test file (#200)
  src/torch.js
  test/models.json
Due: eslint

Add ONNX test file (#188)
  test/models.json
Due: none

Close documentation returns to previous view (#284)
  src/electron.html
  src/index.html
  src/view-sidebar.js
  src/view.js
Due: eslint

Update to 3.2.0
  package.json
Due: none

Update screenshot
  media/screenshot.png
Due: none

Update pytorch.js
  src/pytorch-metadata.json
  src/pytorch.js
Due: eslint

Update sklearn.js
  src/sklearn.js
Due: eslint

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
