Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Update sklearn.js
  src/sklearn.js
Due: eslint

Update pytorch.js
  src/pytorch.js
Due: eslint

Update dependencies
  package.json
  yarn.lock
Due: none

Remove gitpod since nobody use it
  .gitpod.yml
Due: none

Do no import index.js in async/index.js
  async/index.js
  index.browser.js
  index.js
  url-alphabet/index.js
Due: eslint

Improve docs for Expo
  README.md
  index.browser.js
  package.json
Due: yaspeller-ci, eslint

Release 3.1.8 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Simplify React Native code
  async/index.js
  async/index.native.js
  async/random/index.browser.js
  async/random/index.d.ts
  async/random/index.js
  async/random/index.native.js
  package.json
Due: eslint

Release 3.1.9 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update to 4.1.7
  package.json
Due: none

Keras HDF5 detection
  src/chainer.js
Due: eslint

Python source code detection
  src/view.js
Due: eslint

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Update to marked 1.1.0
  package.json
Due: none

Remove ONNX test files
  test/models.json
Due: none

Remove MXNet test files
  test/models.json
Due: none

Update to 4.1.8
  package.json
Due: none

Improve Expo guide
  README.md
Due: yaspeller-ci

Update README.md (#222)
  README.md
Due: yaspeller-ci

Fix alphabet order and spelling check
  README.md
  package.json
Due: yaspeller-ci

Update to electron 9.0.0
  package.json
Due: none

Update to electron-builder 22.6.1
  package.json
Due: none

Update pytorch-metadata.json
  src/pytorch-metadata.json
Due: none

Update to const
  src/caffe.js
Due: eslint

Update tf-metadata.json
  src/tf-metadata.json
  src/tflite.js
Due: eslint

Add winget prototype
  Makefile
  README.md
  package.json
  setup/notarize.js
  setup/winget.js
Due: yaspeller-ci, eslint

Update caffe2-metadata.json
  src/caffe2-metadata.json
Due: none

Simplify import
  README.md
Due: yaspeller-ci

Revert to electron 8.3.0 (electron-userland/electron-builder#4969)
  package.json
Due: none

Update to 4.1.9
  package.json
Due: none

Update to eslint 7.1.0
  package.json
Due: none

Fix flatc Windows path
  tools/armnn
  tools/mnn
  tools/tflite
Due: none

Detect invalid content (#458)
  src/view.js
Due: eslint

Update TensorFlow protoc script
  tools/tf
Due: none
