Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Update keras.js (#540)
  source/keras.js
Due: eslint

Update view-grapher.js
  source/view-grapher.js
Due: eslint

Update sklearn-metadata.json
  source/sklearn-metadata.json
Due: none

Update mslite-schema.js
  source/mslite-metadata.json
  source/mslite-schema.js
Due: eslint

Update dependencies
  package.json
  yarn.lock
Due: none

Move from yarn to pnpm
  .github/workflows/test.yml
  .gitignore
  .npmignore
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: none

Fix CI
  .github/workflows/test.yml
Due: none

Fix CI benchmark
  .github/workflows/test.yml
Due: none

Fix Node.js 10 on CI and pnpm
  .github/workflows/test.yml
Due: none

Update pytorch-metadata.json
  source/pytorch-metadata.json
Due: none

Update to 5.4.7
  package.json
Due: none

Add TensorFlow test file (#187)
  test/models.json
Due: none

Update index.js
  source/index.js
Due: eslint

Update pickle.js
  source/pickle.js
  test/models.json
Due: eslint

Update dagre.js
  source/dagre.js
Due: eslint

Update ONNX test file
  test/models.json
Due: none

Remove groups defaults
  source/armnn.js
  source/circle.js
  source/mnn.js
  source/mslite.js
  source/onnx.js
  source/tflite.js
Due: eslint

Add Keras test file (#426)
  source/keras.js
  test/models.json
Due: eslint

Update dagre.js
  source/dagre.js
  source/view-grapher.js
  source/view-sidebar.js
Due: eslint

Update ONNX test files
  test/models.json
Due: none

Update bigdl.js
  source/bigdl-metadata.json
  source/bigdl.js
Due: eslint

Remove groups defaults
  source/om.js
Due: eslint

Update TensorRT detection (#543) (#725)
  source/pytorch.js
Due: eslint

Update numpy.js (#859)
  source/numpy.js
Due: eslint

Update ONNX TensorProto detection (#593)
  source/onnx.js
Due: eslint

Add documentation in Bahasa Indonesia (#326)
  README.id-ID.md
  README.md
  README.ru.md
  README.zh-CN.md
Due: yaspeller-ci

Clean up docs
  README.md
Due: yaspeller-ci

Update dependencies
  package.json
  pnpm-lock.yaml
Due: none

Fix Node.js 10 CI
  .github/workflows/test.yml
Due: none

Update tflite.js
  source/tflite.js
Due: eslint

Update circle.js
  source/circle.js
Due: eslint

Update keras.js
  source/keras.js
Due: eslint

Add ncnn test files (#296) (#860)
  source/ncnn-metadata.json
  source/ncnn.js
  test/models.json
Due: eslint

Update scikit-learn script
  tools/sklearn-script.py
Due: none

Remove Caffe test file
  test/models.json
Due: none

Update protobuf.js
  source/protobuf.js
Due: eslint

Update to eslint 8.6.0
  package.json
Due: none

Update to 5.4.8
  package.json
Due: none

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
