Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Update pytorch-metadata.json (#432)
  src/pytorch-metadata.json
Due: none

Add Content-Security-Policy
  src/electron.html
  src/index.html
Due: none

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Handle ready-to-show
  src/app.js
Due: eslint

Update 3.9.4
  package.json
Due: none

Update PyTorch script
  tools/pytorch-script.py
Due: none

Fix Content-Security-Policy
  src/electron.html
  src/index.html
Due: none

Update armnn-schema.js
  src/armnn-schema.js
Due: eslint

Update to 3.9.5
  package.json
Due: none

Tensor Bundle error reporting.
  src/tf.js
Due: eslint

Handle invalid NaN in Keras JSON (#435)
  src/keras.js
  test/models.json
Due: eslint

Update sklearn.js
  src/sklearn.js
Due: eslint

Remove handlebars
  package.json
  setup.py
  src/electron.html
  src/index.html
  src/view-sidebar.js
  src/view.js
Due: eslint

Add Keras test file (#428)
  test/models.json
Due: none

Update onnx.js
  src/onnx.js
Due: eslint

Update to 3.9.6
  package.json
Due: none

Update to electron 8.0.3
  package.json
Due: none

Update ONNX script
  tools/onnx-script.py
Due: none

Fix Tensor Bundle buffer extraction
  src/tf.js
Due: eslint

Fix TensorFlow Lite int16 support (#436)
  src/tflite-metadata.json
  src/tflite.js
  tools/tflite
Due: eslint

Update to electron-builder 22.3.6
  package.json
Due: none

Update to xmldom 0.3.0
  package.json
Due: none

Update to const
  src/view-grapher.js
  src/view.js
Due: eslint

Add Caffe2 test files (#437)
  src/caffe2.js
  test/models.json
Due: eslint

Fix .PingFangSC-Regular font request
  src/electron.html
  src/index.html
  src/view-grapher.css
Due: none

Update DEVELOPMENT.md (#438)
  DEVELOPMENT.md
  src/server.py
Due: yaspeller-ci

Update to electron-builder 22.4.0
  package.json
Due: none

PyTorch formats (pytorch/pytorch#31877)
  src/pytorch.js
  test/models.json
Due: eslint

Update to electron 8.1.0
  package.json
Due: none

Update to 3.9.7
  package.json
Due: none
