Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Update Makefile
  Makefile
  publish/server.js
Due: eslint

Fix Safari export
  source/view.js
Due: eslint

Update dagre.js
  source/dagre.js
Due: eslint

Update to 5.8.5
  package.json
Due: none

Update dlc-schema.js
  source/dlc-schema.js
  source/dlc.js
  test/models.json
  tools/dlc.fbs
Due: eslint

Update pytorch-metadata.json
  source/pytorch-metadata.json
Due: none

Add model metadata
  source/circle.js
  source/coreml.js
  source/dlc.js
  source/message.js
  source/mnn.js
  source/mxnet.js
  source/onnx.js
  source/onnx.py
  source/tengine.js
  source/tflite.js
  source/view-sidebar.js
Due: eslint

Update onnx-metadata.json
  source/onnx-metadata.json
Due: none

Update pytorch-metadata.json (#920)
  source/pytorch-metadata.json
Due: none

Update dependencies
  package.json
  pnpm-lock.yaml
Due: none

Remove Node.js 10 and 12 support
  .github/workflows/test.yml
  package.json
Due: none

Remove CJS support
  async/index.browser.js
  async/index.js
  async/index.native.js
  bin/nanoid.js
  index.browser.js
  index.js
  nanoid.js
  non-secure/index.js
  package.json
  pnpm-lock.yaml
  test/async.test.js
  test/bin.test.js
  test/demo/index.js
  test/index.test.js
  test/non-secure.test.js
  test/react-native-polyfill.test.js
  test/update-prebuild.js
  url-alphabet/index.js
Due: eslint

Update clean-publish
  package.json
  pnpm-lock.yaml
Due: none

Clean up docs
  README.id-ID.md
  README.md
  README.ru.md
  README.zh-CN.md
Due: yaspeller-ci

Move benchmark to ESM
  test/benchmark.js
Due: eslint

Update coreml-proto.js
  source/coreml-proto.js
  source/coreml.js
Due: eslint

Update om.js
  source/om.js
Due: eslint

Update om-metadata.json
  source/om-metadata.json
Due: none

Add TorchScript test file (#637)
  test/models.json
Due: none

Release 4.0 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update mslite-schema.js
  source/mslite-metadata.json
  source/mslite-schema.js
Due: eslint

Update to electron 19.0.4
  package.json
Due: none

Update circle-schema.js
  source/circle-metadata.json
  source/circle-schema.js
Due: eslint

Update nnabla-proto.js
  source/nnabla-metadata.json
  source/nnabla-proto.js
Due: eslint

Update sklearn-metadata.json
  source/sklearn-metadata.json
Due: none

Update xmodel.js
  source/xmodel.js
Due: eslint

Update openvino-metadata.json
  source/openvino-metadata.json
Due: none

Update mslite-schema.js
  source/mslite-schema.js
Due: eslint

Update tf-proto.js
  source/tf-proto.js
Due: eslint

Add PaddlePaddle test files (#552)
  source/paddle.js
  test/models.json
Due: eslint

Update to 5.8.6
  package.json
Due: none

Add RKNN test files (#639)
  Makefile
  source/rknn-metadata.json
  source/rknn-schema.js
  source/rknn.js
  source/view.js
  test/models.json
  tools/rknn
  tools/rknn.fbs
Due: eslint

Update rknn-metadata.json
  source/rknn-metadata.json
Due: none

Update rknn.js (#639)
  source/rknn-metadata.json
  source/rknn-schema.js
  source/rknn.js
  tools/rknn.fbs
Due: eslint
