Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

PyTorch ByteStorage support (#133)
  src/coreml-model.js
  src/pytorch-model.js
  src/sklearn-model.js
  src/tflite-model.js
  src/view.js
Due: eslint

Improve .pbtxt format detection
  README.md
  src/caffe-model.js
  src/caffe2-model.js
  src/onnx-model.js
  src/tf-model.js
  src/view-browser.js
  src/view-electron.js
  src/view.js
Due: yaspeller-ci, eslint

Update to 2.3.4
  package.json
Due: none

Caffe bn_param and resize_param (#165)
  src/caffe-metadata.json
  src/caffe.js
  tools/metadata/caffe-update.js
Due: eslint

Fix preprocessing for CoreML neuralNetwork (#167)
  src/coreml-model.js
  src/tf-model.js
Due: eslint

Caffe interp_param (#165)
  src/caffe-metadata.json
  src/caffe.js
  tools/metadata/caffe-update.js
Due: eslint

Add PyTorch PReLU (#133)
  src/pytorch-metadata.json
  src/pytorch-model.js
Due: eslint

Caffe ceil_mode (#165)
  src/caffe.js
  tools/metadata/caffe-update.js
Due: eslint

nodesep and ranksep defaults
  src/view.js
Due: eslint

Update to 2.3.5
  package.json
Due: none

Caffe mean_param (#165)
  src/caffe.js
  tools/metadata/caffe-update.js
Due: eslint

Add PyTorch BatchNorm1d (#133)
  src/pytorch-metadata.json
  src/pytorch-model.js
Due: eslint

Update to 2.3.6
  package.json
Due: none

Improve HDF5 match error message
  src/hdf5.js
Due: eslint

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Browser dark mode prototype
  src/logo.svg
  src/view-render.css
  src/view-sidebar.css
  src/view-sidebar.js
  src/view.css
Due: eslint

Fix CNTK v2 browser toNumber
  src/cntk-model.js
Due: eslint

Add Node.js 10 to Travis CI
  .travis.yml
Due: none

ONNX shape class
  src/onnx-model.js
  src/view.js
Due: eslint

TensorFlow shape class
  src/tf-model.js
Due: eslint

Caffe2 ONNXWhile fixes (#168)
  src/caffe2-metadata.json
  src/caffe2-model.js
Due: eslint

PyTorch little endian support (#133)
  src/pytorch-model.js
Due: eslint

Update tflite.js
  src/tflite.js
Due: eslint

Update caffe2.js
  src/caffe2.js
Due: eslint

Caffe2 attribute metadata type and default (#169)
  src/caffe2-metadata.json
  src/caffe2-model.js
  tools/metadata/caffe2-metadata.py
  tools/metadata/pytorch-update
Due: eslint

Update to 2.3.8
  package.json
Due: none

PyTorch shape class
  src/pytorch-model.js
Due: eslint

CNTK shape class
  src/cntk-model.js
Due: eslint

Fix Caffe2 null tensor shape
  src/caffe2-model.js
  src/onnx-model.js
Due: eslint

Update to 2.3.9
  package.json
Due: none

Caffe shape class
  src/caffe-model.js
  src/view-sidebar.js
  src/view.js
Due: eslint

TensorFlow Lite shape class
  src/tflite-model.js
Due: eslint

scikit-learn shape class
  src/sklearn-model.js
Due: eslint

Keras shape class
  src/keras-model.js
Due: eslint

CoreML shape class
  src/coreml-model.js
Due: eslint

MXNet shape class
  src/mxnet-model.js
Due: eslint

Update to 2.4.0
  package.json
Due: none

Safer test
  test/async.test.js
Due: eslint

Cover problematic RNG in old Node.js
  async/index.js
  test/async-error.test.js
Due: eslint

Update dependencies
  async/index.js
  package.json
  yarn.lock
Due: eslint

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
