Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Add no-else-return lint rule
  package.json
  source/base.js
  source/dagre.js
  source/index.js
  source/keras.js
  source/onnx.js
  source/python.js
  source/pytorch.js
  source/tf.js
  source/view.js
  source/xml.js
Due: eslint

Update base binary reader
  source/base.js
  source/dl4j.js
  source/electron.js
  source/index.js
  source/kmodel.js
  source/mlnet.js
  source/msgpack.js
  source/onnx.js
  source/tf.js
  source/weka.js
Due: eslint

Update tflite-schema.js
  source/tflite-schema.js
Due: eslint

Update to 5.7.6
  package.json
Due: none

fix: CLI help examples (#361)
  bin/nanoid.cjs
Due: none

Try to fix CI
  .github/workflows/test.yml
Due: none

Update dependencies
  package.json
  pnpm-lock.yaml
Due: none

Release 3.3.4 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update tf.js
  source/tf.js
Due: eslint

Update IE polyfill to fix last improve with reduce (#362)
  README.md
  README.ru.md
  README.zh-CN.md
Due: yaspeller-ci

Update pytorch.js
  source/pytorch.js
Due: eslint

Update tflite.js
  source/circle.js
  source/tflite.js
Due: eslint

Update om.js
  source/om.js
Due: eslint

Update onnx.js
  source/onnx.js
Due: eslint

Update mnn-schema.js
  source/mnn-schema.js
Due: eslint

Update sklearn-metadata.json
  source/sklearn-metadata.json
Due: none

Update tf-metadata.json
  source/tf-metadata.json
Due: none

Update to eslint 8.15.0
  package.json
Due: none

Update to 5.7.7
  package.json
Due: none

Update app.js
  source/app.js
Due: eslint

Remove TextDecoder polyfill
  source/electron.html
  source/electron.js
  source/index.html
  source/index.js
Due: eslint

Update to 5.7.8
  package.json
Due: none

Remove RKNN test file (#639)
  test/models.json
Due: none

Remove TensorFlow test file
  test/models.json
Due: none

Remove TensorFlow Memmapped test file (#836)
  test/models.json
Due: none

Add TensorFlow Memmapped test file (#836)
  source/tf.js
  test/models.json
Due: eslint

Remove TensorFlow test file (#405)
  test/models.json
Due: none

Add TensorFlow test file (#405)
  test/models.json
Due: none

Add CodeQL workflow
  .github/workflows/security.yml
Due: none

Add no-invalid-this lint rule
  package.json
  source/python.js
Due: eslint

Add no-iterator lint rule
  package.json
Due: none

Add no-labels lint rule
  package.json
Due: none

Add no-lone-blocks lint rule
  package.json
Due: none

Add no-lonely-if lint rule
  package.json
  source/coreml.js
  source/onnx.js
  source/protobuf.js
  source/python.js
  source/pytorch.js
  source/tf.js
  source/xml.js
  tools/flatc.js
  tools/protoc.js
Due: eslint

Update view-grapher.js
  source/view-grapher.js
Due: eslint

Update pytorch.js (#908)
  source/pytorch.js
Due: eslint

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
