Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Use apostrophe instead of qoute (#211)
  README.md
Due: yaspeller-ci

PyTorch weights detection
  src/pytorch.js
Due: eslint

Pickle format detection
  src/sklearn.js
  src/view.js
  test/models.json
Due: eslint

Core ML linkedModel support (#193)
  src/coreml.js
  test/models.json
Due: eslint

Fix TensorFlow Lite null array
  src/tflite-metadata.json
  src/tflite.js
  test/models.json
Due: eslint

Detect invalid content (#458)
  src/view.js
Due: eslint

Update to 4.0.8
  package.json
Due: none

Fix TensorFlow Lite .model detection
  src/tflite.js
Due: eslint

Update to 4.0.9
  package.json
Due: none

Update PyTorch .tar detection
  src/pytorch.js
  src/view.js
Due: eslint

Update Tengine model source
  src/tengine.js
Due: eslint

Update MNN model source
  src/mnn.js
Due: eslint

TensorFlow Lite metadata runtime support (#470)
  src/tflite.js
Due: eslint

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Update to marked 1.0.0
  package.json
Due: none

Update to d3 5.16.0
  package.json
Due: none

Update pytorch-metadata.json
  src/pytorch-metadata.json
Due: none

Add PyTorch .zip detection (#473)
  src/dl4j.js
  src/mxnet.js
  src/pytorch-metadata.json
  src/pytorch.js
  src/view.js
  test/models.json
Due: eslint

Update dependencies
  package.json
  yarn.lock
Due: none

Improve IE docs
  README.md
  index.browser.js
  package.json
Due: yaspeller-ci, eslint

Remove Caffe test file
  test/models.json
Due: none

Update to 4.1.0
  package.json
Due: none

Update pytorch.js
  src/pytorch.js
Due: eslint

Remove test files
  test/models.json
Due: none

Fix Caffe output index
  src/caffe.js
Due: eslint

Favor ONNX initializer type
  src/onnx.js
Due: eslint

Favor TensorFlow Lite initializer type
  src/tflite.js
Due: eslint

Consent dialog and anonymizeIp (#475)
  src/app.js
  src/electron.html
  src/electron.js
  src/index.html
  src/index.js
  src/view.js
Due: eslint

Update to 4.1.1
  package.json
Due: none

Electron app show spinner at startup
  src/electron.html
Due: none

Update to electron-updater 4.3.1
  package.json
Due: none

Update to const
  src/tengine.js
Due: eslint

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Fix web consent dialog
  src/electron.js
  src/flux.js
  src/index.js
  src/view.js
  test/test.js
Due: eslint

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
