Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Update mnn-schema.js
  src/mnn-schema.js
Due: eslint

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Darknet maxpool antialiasing shape inference
  src/darknet.js
  test/models.json
Due: eslint

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Update sklearn-metadata.json
  src/sklearn-metadata.json
  tools/sklearn-script.py
Due: none

Update torchscript.js
  src/torchscript.js
Due: eslint

Updat to d3 5.15.0
  package.json
Due: none

Add Caffe test file
  test/models.json
Due: none

Add known unsupported file check
  src/view.js
Due: eslint

Update to 3.7.2
  package.json
Due: none

Add TensorFlow ckpt schema (#405)
  src/tf-proto.js
  src/tf.js
  src/view.js
  test/models.json
  tools/tf
Due: eslint

Update test files
  test/models.json
Due: none

TensorFlow .ckpt support (#405)
  README.md
  setup.py
  src/tf.js
  src/view.js
  test/models.json
Due: yaspeller-ci, eslint

Update pytorch.js
  src/pytorch.js
Due: eslint

Show TensorFlow ckpt names (#405)
  src/tf.js
Due: eslint

Update to 3.7.3
  package.json
Due: none

TensorFlow .ckpt support (#405)
  src/tf.js
Due: eslint

Update torch.js
  src/torch.js
Due: eslint

Update PyTorch test files
  test/models.json
  test/test.js
  tools/pytorch-script.py
Due: eslint

Remove Darknet console output
  src/darknet.js
Due: eslint

Remove test console output
  test/test.js
Due: eslint

TorchScript full operator names
  src/torchscript-metadata.json
  src/torchscript.js
Due: eslint

PyTorch full operator names
  src/pytorch-metadata.json
  src/pytorch.js
Due: eslint

Merge PyTorch/TorchScript support
  setup.py
  src/pytorch-metadata.json
  src/pytorch.js
  src/torchscript-metadata.json
  src/torchscript.js
  src/view.js
Due: eslint

Replace Math.ceil with the bit operation (#161)
  async/format.browser.js
  format.browser.js
Due: eslint

Update dependencies
  package.json
  yarn.lock
Due: none

Try to fix CI
  .travis.yml
Due: none

Release 2.1.9 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

docs: add comments for all places which are not obvious (#164)
  async/format.browser.js
  async/format.js
  async/index.browser.js
  async/index.js
  format.browser.js
  format.js
  index.browser.js
  index.js
  non-secure/generate.js
  non-secure/index.js
  random.js
Due: eslint

Fix TensorFlow Bundle support (#405)
  src/tf.js
Due: eslint

Document more hacks
  async/format.browser.js
  async/format.js
  async/index.browser.js
  async/index.js
  async/random.browser.js
  async/random.js
  format.browser.js
  format.js
  index.browser.js
  index.js
  non-secure/generate.js
  non-secure/index.js
  random.js
  url.js
Due: eslint

Add CNTK v1 DynamicAxis support (#408)
  src/cntk.js
Due: eslint

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
