Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Update tf-proto.js
  source/tf-proto.js
Due: eslint

Update rknn.js
  source/rknn.js
Due: eslint

Update test files
  test/models.json
Due: none

Update to 4.7.6
  package.json
Due: none

Workaround numpy/numpy#18143
  tools/onnx
Due: none

Workaround scipy/scipy#13409
  tools/sklearn
Due: none

Fix TensorFlow script
  tools/tf-script.py
Due: none

Update mnn-schema.js
  source/mnn-schema.js
Due: eslint

Update mslite-schema.js
  source/mslite-schema.js
Due: eslint

Workaround pytorch/pytorch#51854
  tools/pytorch
Due: none

Update keras-metadata.json
  source/keras-metadata.json
Due: none

Update tf-metadata.json
  source/tf-metadata.json
Due: none

Update torch.js
  source/torch.js
Due: eslint

Update torch-metadata.json
  source/torch-metadata.json
Due: none

Update caffe2-proto.js
  source/caffe2-proto.js
Due: eslint

Update tflite-schema.js
  source/tflite-schema.js
Due: eslint

Improve Rollup usage documentation (#263)
  README.md
Due: yaspeller-ci

Update onnx.js
  source/onnx.js
Due: eslint

Update pytorch-metadata.json
  source/pytorch-metadata.json
Due: none

Update scripts
  tools/onnx
  tools/pytorch
  tools/sklearn
Due: none

Update darknet.js
  source/darknet.js
  test/models.json
Due: eslint

Update to eslint 7.20.0
  package.json
Due: none

Update error handling
  source/view-sidebar.js
  source/view.js
Due: eslint

Update to 4.7.7
  package.json
Due: none

Python Server port allocation (#680)
  source/__init__.py
  source/server.py
Due: none

Update to 4.7.8
  package.json
Due: none

Update Makefile
  Makefile
Due: none

Add LightGBM Pickle test file (#669)
  source/lightgbm.js
  source/view.js
  test/models.json
Due: eslint

Add PyTorch .tckpt detection (#682)
  source/view.js
Due: eslint

Update scroll support (#24)
  source/view.js
Due: eslint

Update server npm run command
  package.json
Due: none

Update actions/setup-node
  .github/workflows/test.yml
Due: none

Update dependencies
  package.json
  yarn.lock
Due: none

Replace husky to simple-pre-commit
  package.json
  yarn.lock
Due: none

Fix yarn peer dependencies warnings
  package.json
  yarn.lock
Due: none

Try to fix yarn install on CI
  .github/workflows/test.yml
Due: none

Return yarn install cache
  .github/workflows/test.yml
Due: none

Typo
  .github/workflows/test.yml
Due: none
