Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Update to 3.5.6
  package.json
Due: none

Update ESLint json
  .eslintrc.json
Due: none

Update to const
  src/caffe.js
Due: eslint

Add known unsupported file
  src/view.js
Due: eslint

Torch ByteStorage support (##200)
  src/torch.js
Due: eslint

Update to eslint 6.7.0
  package.json
Due: none

Update to electron-notarize 0.2.1
  package.json
Due: none

Keras inner model rename (#376)
  src/keras.js
Due: eslint

Update to eslint 6.7.1
  package.json
Due: none

Update torch.js
  src/torch.js
Due: eslint

Update keras.js
  src/keras.js
Due: eslint

Update python.js
  src/python.js
Due: eslint

Update torchscript.js
  src/torchscript.js
Due: eslint

Skip update check if not supported (#166)
  src/app.js
Due: eslint

Update to electron-builder 22.2.0
  package.json
Due: none

Update to 3.5.7
  package.json
Due: none

Add known unsupported file check
  src/view.js
Due: eslint

Update caffe2-metadata.json
  src/caffe2-metadata.json
Due: none

Update sklearn-metadata.json
  src/sklearn-metadata.json
Due: none

Find input for .caffemodel (#276)
  src/caffe.js
Due: eslint

Keras weight groups (#350)
  src/keras.js
  test/models.json
Due: eslint

Update to eslint 6.7.2
  package.json
Due: none

Update CNTK script
  tools/cntk
Due: none

Update NCNN script
  tools/ncnn
Due: none

Update MXNet script
  tools/mxnet
Due: none

Update to 3.5.8
  package.json
Due: none

Remove Linux deb target
  README.md
  electron-builder.yml
Due: yaspeller-ci

Add TensorFlow BundleEntryProto (#342)
  src/tf-proto.js
  src/tf.js
  tools/tf
Due: eslint

Update to 3.5.9
  package.json
Due: none

Add TensorFlow 2.0 variables reader (#342)
  src/tf.js
  test/models.json
Due: eslint

Update to electron 7.1.3
  package.json
Due: none

Update to dagre 0.8.5
  package.json
Due: none

Add pip upgrade to scripts
  tools/coreml
  tools/keras
  tools/onnx
  tools/pytorch
  tools/tf
Due: none

Update TensorFlow 2.0 test file (#342)
  test/models.json
Due: none

Remove PyTorch test file
  test/models.json
Due: none

Update TorchScript test files
  test/models.json
Due: none

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
