Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Update DaVinci OM detection (#799)
  source/view.js
Due: eslint

Update pytorch.js
  source/pytorch.js
Due: eslint

Update tf-metadata.json
  source/tf-metadata.json
Due: none

Update keras-metadata.json
  source/keras-metadata.json
Due: none

Add TorchScript test files (#686)
  source/pytorch.js
  test/models.json
Due: eslint

Update tflite.js
  source/tflite.js
Due: eslint

Update circle.js
  source/circle.js
Due: eslint

Update mxnet.js
  source/mxnet.js
Due: eslint

Update python.js
  source/python.js
Due: eslint

Add Flax support (#850)
  source/flax.js
  source/msgpack.js
  source/view.js
Due: eslint

Update pytorch-metadata.json
  source/pytorch-metadata.json
Due: none

Update NumPy support (#711)
  source/npz.js
  source/numpy.js
  source/python.js
Due: eslint

Add TorchScript test file (#842) (#851)
  source/python.js
  source/pytorch-metadata.json
  source/pytorch.js
  test/models.json
Due: eslint

Update mslite-schema.js
  source/mslite-schema.js
Due: eslint

Update menu options (#852)
  source/app.js
  source/electron.js
  source/index.js
  source/view.js
  test/models.js
Due: eslint

Add TorchScript test file (#842)
  source/pytorch.js
  test/models.json
Due: eslint

Update base.js
  source/base.js
Due: eslint

Fix model sidebar subgraph selector
  source/view-sidebar.js
  source/view.js
Due: eslint

Update to eslint 8.4.1
  package.json
Due: none

Update onnx.js
  source/onnx.js
Due: eslint

Update dagre.js
  source/dagre.js
  source/view-grapher.js
Due: eslint

Update to 5.4.2
  package.json
Due: none

Update Keras test file
  source/keras.js
  test/models.json
Due: eslint

Update to electron 16.0.4
  package.json
Due: none

Update to 5.4.3
  package.json
Due: none

Update mnn-schema.js
  source/mnn-schema.js
Due: eslint

Add ONNX test file (#188)
  test/models.json
Due: none

Update dagre.js
  source/dagre.js
Due: eslint

Update tflite-schema.js
  source/tflite-metadata.json
  source/tflite-schema.js
Due: eslint

Document the existence of the OCaml port. (#323)
  README.md
Due: yaspeller-ci

Fix node search
  source/view-sidebar.js
Due: eslint

Update to 5.4.4
  package.json
Due: none

Add TorchScript test file (#842)
  test/models.json
Due: none

Vertical center view (#809)
  source/electron.html
  source/index.html
  source/view.js
Due: eslint

Remove ONNX test files
  source/onnx.js
  test/models.json
Due: eslint

Remove TensorFlow test files
  test/models.json
Due: none
