Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Update armnn-schema.js
  src/armnn-schema.js
Due: eslint

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Update to handlebars 4.7.3
  package.json
Due: none

Add MediaPipe test file
  test/models.json
Due: none

Update sidebar theme
  src/view-sidebar.css
  src/view-sidebar.js
Due: eslint

Update tf-proto.js
  src/tf-proto.js
Due: eslint

Disable ESLint linebreak-style
  .eslintrc.json
Due: none

Add about dialog
  setup.py
  src/app.js
  src/electron.html
  src/electron.js
  src/index.html
  src/index.js
  src/view.css
  src/view.js
Due: eslint

Fix allowRendererProcessReuse warning (electron/electron#18397)
  src/app.js
Due: eslint

Fix ESLint issue
  src/index.js
Due: eslint

Update to 3.8.7
  package.json
Due: none

Fix scroll issue
  src/index.html
Due: none

Update to 3.8.8
  package.json
Due: none

Workaround electron/electron#14308
  src/app.js
Due: eslint

About dialog responsive layout
  src/index.html
Due: none

Update to 3.8.9
  package.json
Due: none

simplifies code contributions by fully automating the dev setup with gitpod. (#171)
  .gitpod.yml
  .npmignore
  README.md
  package.json
Due: yaspeller-ci

Update dependencies
  package.json
  yarn.lock
Due: none

Clean up gitpod link
  .gitpod.yml
  README.md
  package.json
  yarn.lock
Due: yaspeller-ci

Clean up Security section
  README.md
Due: yaspeller-ci

Update to const
  src/zip.js
Due: eslint

Fix test runner
  test/test.js
Due: eslint

Fix TorchScript error handling
  src/pytorch.js
Due: eslint

Update sklearn-metadata.json
  src/sklearn-metadata.json
Due: none

Fix sidebar scrolling (#425)
  src/electron.html
  src/index.html
  src/view-sidebar.css
Due: none

Update to 3.9.0
  package.json
Due: none

Update onnx-proto.js
  src/onnx-proto.js
Due: eslint

TorchScript 1.4 prototype (#281)
  src/pytorch-metadata.json
  src/pytorch.js
  test/models.json
Due: eslint
