Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Update onnx-proto.js
  source/onnx-proto.js
Due: eslint

Update tf-metadata.json
  source/tf-metadata.json
Due: none

Update to 5.0.0
  package.json
Due: none

Update README.md
  README.md
  setup.py
Due: yaspeller-ci

Update mslite-schema.js
  source/mslite-schema.js
Due: eslint

Update to electron 13.1.5
  package.json
Due: none

Detect invalid content (#458)
  source/onnx.js
  source/tf.js
  source/view.js
  test/models.json
Due: eslint

Update protoc.js
  tools/protoc.js
Due: eslint

Update flatc.js
  tools/flatc.js
Due: eslint

Update TensorFlow script
  source/tf-proto.js
  tools/tf
Due: eslint

Added V implementation of NanoID (#287)
  README.md
Due: yaspeller-ci

Update to eslint 7.30.0
  package.json
Due: none

Update mslite-schema.js
  source/mslite-metadata.json
  source/mslite-schema.js
Due: eslint

Add TorchScript test file (#647)
  source/pytorch-metadata.json
  source/pytorch.js
  test/models.json
Due: eslint

PaddlePaddle support (#198)
  source/paddle.js
  source/view.js
Due: eslint

Update pytorch.js
  source/pytorch.js
Due: eslint

Add TensorFlow.js test file (#294)
  source/tf.js
  test/models.json
Due: eslint

Update protobuf.js
  source/protobuf.js
Due: eslint

Update keras.js
  source/keras-metadata.json
  source/keras.js
  test/models.json
Due: eslint

Update to electron 13.1.6
  package.json
Due: none

Update tflite-schema.js
  source/tflite-schema.js
Due: eslint

Update keras.js
  source/keras.js
Due: eslint

Add known error links
  source/view.js
Due: eslint

Update pytorch-metadata.json
  source/pytorch-metadata.json
Due: none

Update tf.js
  source/tf.js
Due: eslint

Add Darknet test file (#765)
  source/darknet-metadata.json
  source/darknet.js
  test/models.json
Due: eslint

Update keras-metadata.json
  source/keras-metadata.json
Due: none

Update flatbuffers.js
  source/flatbuffers.js
Due: eslint

Update ONNX script
  source/ort-schema.js
  tools/onnx
Due: eslint

Update mnn.js
  source/mnn.js
Due: eslint

Update mslite.js
  source/mslite.js
Due: eslint

Update onnx.js
  source/onnx.js
  source/view.js
Due: eslint

Update to 5.0.1
  package.json
Due: none

Update python.js
  source/python.js
  source/view.js
Due: eslint

Update protobuf.js
  source/protobuf.js
  source/view.js
Due: eslint
