Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Update dependencies
  package.json
  yarn.lock
Due: none

Update mslite-schema.js
  source/mslite-schema.js
Due: eslint

Update keras-metadata.json
  source/keras-metadata.json
Due: none

Update tf-metadata.json
  source/tf-metadata.json
Due: none

Skip scripts on macOS arm64 (#627)
  tools/onnx
  tools/pytorch
  tools/sklearn
  tools/tf
Due: none

Update sklearn.js
  source/sklearn.js
Due: eslint

Enable ONNX script on macOS arm64
  tools/onnx
Due: none

Sidebar adaptive layout (#633)
  source/view-sidebar.css
  source/view-sidebar.js
  source/view.js
Due: eslint

Update to 4.6.4
  package.json
Due: none

Sidebar adaptive layout (#633)
  source/electron.html
  source/index.html
Due: none

Fix TensorFlow Lite int16 support (#635)
  source/tflite.js
Due: eslint

Find sidebar type/shape support (#542)
  source/onnx.js
  source/view-sidebar.js
Due: eslint

Update MindSpore script (#600)
  tools/mslite
Due: none

Add Darknet test files (#539)
  source/darknet.js
  test/models.json
Due: eslint

Detect invalid content (#458)
  source/view.js
Due: eslint

Update TensorBundle detection (#405)
  source/tf.js
  source/view.js
Due: eslint

Add TensorFlow Event File support (#638)
  source/tf-proto.js
  source/tf.js
  source/view.js
  test/models.json
  tools/tf
Due: eslint

Update sklearn-metadata.json
  source/sklearn-metadata.json
Due: none

Update tflite-schema.js
  source/tflite-schema.js
Due: eslint

Add Darknet test file (#277)
  source/view.js
  test/models.json
Due: eslint

Add Caffe test file (#276)
  source/caffe.js
  source/view.js
  test/models.json
Due: eslint

Add RKNN test file (#639)
  source/rknn.js
  source/view.js
  test/models.json
Due: eslint

Zip64 support
  source/zip.js
Due: eslint

Add DLC test file (#640)
  source/dlc.js
  source/view.js
  test/models.json
Due: eslint

Fix custom random return condition (#248)
  async/index.browser.js
  async/index.js
  async/index.native.js
  index.browser.js
  index.js
Due: eslint

Update size limit
  package.json
Due: none

Release 3.1.19 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Remove unnecessary comment
  async/index.browser.js
  async/index.js
  async/index.native.js
  index.browser.js
  index.js
Due: eslint

Update scikit-learn script
  tools/sklearn
Due: none

Update ONNX script
  tools/onnx
Due: none

Update TensorFlow script
  tools/tf
Due: none

Remove scikit-learn script macOS arm64 guard (#627)
  tools/sklearn
Due: none

Remove PyTorch script macOS arm64 guard (#627)
  tools/pytorch
Due: none

Update paddle-proto.js
  source/paddle-proto.js
Due: eslint

Add RKNN support (#639)
  source/rknn-metadata.json
  source/rknn.js
  test/models.json
Due: eslint

Fix Mindspore Lite version
  source/mslite.js
Due: eslint
