Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Update winget.js
  publish/winget.js
Due: eslint

Update tensorrt.js
  source/tensorrt.js
Due: eslint

Update imgdnn.js
  source/imgdnn.js
Due: eslint

Update dlc.js
  source/dlc.js
Due: eslint

Update caffe2-metadata.json
  source/caffe2-metadata.json
Due: none

Update view.js
  source/view.js
Due: eslint

Update zip.js
  source/zip.js
Due: eslint

Read TensorFlow Lite attachments (#738)
  source/tflite.js
Due: eslint

Add TensorFlow.js test file (#294)
  source/tf.js
  test/models.json
Due: eslint

Update mslite-schema.js
  source/mslite-metadata.json
  source/mslite-schema.js
Due: eslint

Update coreml-proto.js
  source/coreml-proto.js
Due: eslint

Python Server status (#750)
  source/__init__.py
  source/server.py
Due: none

Update tengine-metadata.json
  source/tengine-metadata.json
Due: none

Update dependencies
  package.json
  yarn.lock
Due: none

Update to electron 13.1.2
  package.json
Due: none

Update flatc.js
  tools/flatc.js
Due: eslint

Update MNN script
  tools/mnn
Due: none

Update mnn-schema.js
  source/mnn-schema.js
  source/mnn.js
Due: eslint

Update app.js (#751)
  source/app.js
  source/electron.js
Due: eslint

Core ML 5 support (#749) (#751)
  source/coreml-metadata.json
  source/coreml.js
  source/view.js
  test/models.json
Due: eslint

Update view-sidebar.js
  source/view-sidebar.js
Due: eslint

Update to 4.9.7
  package.json
Due: none

Update to d3 7.0.0
  .eslintrc.json
  package.json
  source/electron.js
  source/view.js
Due: eslint

Update GitHub build workflow
  .github/workflows/build.yml
Due: none

Update GitHub publish workflow
  .github/workflows/publish.yml
Due: none

Update to electron-builder 22.11.7
  package.json
Due: none

Add test that checks if regeneration of random values is triggered (#285)
  test/async.test.js
Due: eslint

Folder support (#751)
  README.md
  electron-builder.yml
  setup.py
  source/app.js
  source/dl4j.js
  source/dlc.js
  source/electron.js
  source/gzip.js
  source/index.html
  source/mlnet.js
  source/npz.js
  source/paddle.js
  source/pytorch.js
  source/tar.js
  source/view.js
  source/zip.js
  test/models.js
  test/models.json
Due: yaspeller-ci, eslint

Update python.js
  source/python.js
Due: eslint

Update sklearn-metadata.json
  source/sklearn-metadata.json
Due: none

Update tf-metadata.json
  source/tf-metadata.json
Due: none

Update keras-metadata.json
  source/keras-metadata.json
Due: none

PaddlePaddle support (#198)
  source/paddle-metadata.json
  source/paddle.js
  source/view.js
Due: eslint

Update tflite.js
  source/tflite.js
Due: eslint

Update onnx.js
  source/onnx.js
Due: eslint

Update onnx-metadata.json
  source/onnx-metadata.json
Due: none
