Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Update pytorch-metadata.json
  source/pytorch-metadata.json
Due: none

Update sklearn-metadata.json
  source/sklearn-metadata.json
Due: none

Update tf-metadata.json
  source/tf-metadata.json
Due: none

Update Arm NN script
  tools/armnn
Due: none

Update Core ML script
  tools/coreml
  tools/coreml-script.py
Due: none

Update MNN script
  tools/mnn
Due: none

Update ONNX script
  tools/onnx
  tools/onnx-script.py
Due: none

Update onnx-metadata.json
  source/onnx-metadata.json
Due: none

Update to d3 6.2.0
  package.json
Due: none

Add Weka detection (#605)
  source/view.js
  source/weka.js
  test/models.json
Due: eslint

Update gzip.js
  source/gzip.js
Due: eslint

Update darknet.js
  source/darknet.js
Due: eslint

Update pytorch.js
  source/pytorch.js
Due: eslint

Update tf-proto.js
  source/tf-proto.js
Due: eslint

Update to 4.5.3
  package.json
Due: none

Fix JSON reader prototype pollution (#608)
  source/json.js
Due: eslint

Update darknet-metadata.json
  source/darknet-metadata.json
Due: none

Update Darknet detection (#277)
  source/darknet.js
  test/models.json
Due: eslint

Update to eslint 7.10.0
  package.json
Due: none

Update sklearn.js
  source/sklearn.js
Due: eslint

Update dependencies
  package.json
  yarn.lock
Due: none

Clearify about CRA
  README.md
Due: yaspeller-ci

Add Rollup docs
  README.md
Due: yaspeller-ci

Update to marked 1.2.0
  package.json
Due: none

Update armnn.js
  source/armnn.js
Due: eslint

Update keras.js
  source/keras.js
Due: eslint

Add ONNX test file (#589)
  test/models.json
Due: none

Add ONNX test files (#188)
  test/models.json
Due: none

Update to electron 10.1.3
  package.json
Due: none

Add PyTorch test file (#609)
  source/pytorch-metadata.json
  source/pytorch.js
  test/models.json
Due: eslint

Detect invalid content (#458)
  source/view.js
Due: eslint

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
