Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Update sync scripts
  tools/caffe
  tools/cntk
  tools/coreml
  tools/darknet
  tools/dl4j
  tools/mlnet
  tools/mxnet
  tools/ncnn
  tools/paddle
  tools/pytorch
  tools/sklearn
  tools/tf
  tools/tflite
  tools/torch
Due: none

Update Darknet to const
  src/darknet.js
Due: eslint

Update MXNet to const
  src/mxnet.js
Due: eslint

Update PyTorch to const
  src/pytorch.js
Due: eslint

Update TensorFlow Lite to const
  src/tflite.js
Due: eslint

Update to 3.3.8
  package.json
Due: none

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Add Chainer prototype (#337)
  setup.py
  src/chainer.js
  src/hdf5.js
  src/keras.js
  src/numpy.js
  src/view.js
  test/models.json
Due: eslint

Update to electron 6.0.11
  package.json
Due: none

Update to eslint 6.5.1
  package.json
Due: none

Update to handlebars 4.4.2
  package.json
Due: none

Add Chainer prototype (#337)
  src/chainer.js
  src/gzip.js
  src/hdf5.js
  src/keras.js
  src/zip.js
Due: eslint

Improve docs for non-secure generator
  README.md
  non-secure/generate.js
  non-secure/index.js
Due: yaspeller-ci, eslint

Update dependencies
  package.json
  yarn.lock
Due: none

Release 2.1.2 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Fix Keras BatchNormalization scale (#339)
  src/keras-metadata.json
  src/keras.js
Due: eslint

Fix TorchScript float16
  src/torchscript.js
Due: eslint

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Fix CoreML script
  tools/coreml
Due: none

Update caffe2-metadata.json
  src/caffe2-metadata.json
Due: none

Update sklearn-metadata.json
  src/sklearn-metadata.json
Due: none

Fix Caffe2 test files
  test/models.json
Due: none

Fix setup.py
  setup.py
Due: none

Update to 3.3.9
  package.json
Due: none

Update cntk-metadata.json
  src/cntk-metadata.json
Due: none

Update tflite-metadata.json
  src/tflite-metadata.json
Due: none

Update tflite.js
  src/tflite.js
Due: eslint

Update TensorFlow Lite script
  tools/tflite
Due: none

Add MNN prototype (#341) (#340)
  Makefile
  README.md
  electron-builder.yml
  setup.py
  src/app.js
  src/index.html
  src/mnn-metadata.json
  src/mnn-schema.js
  src/mnn.js
  src/view.js
  test/models.json
  tools/mnn
  tools/ncnn
Due: yaspeller-ci, eslint

Update tflite schema name
  src/tflite-schema.js
  tools/tflite
Due: eslint

Update keras-metadata.json
  src/keras-metadata.json
Due: none

Update to 3.4.0
  electron-builder.yml
  package.json
Due: none

Update openvino.js
  src/openvino.js
Due: eslint

Add known unsupported file
  src/view.js
Due: eslint

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
