Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Update mslite-schema.js
  source/mslite-schema.js
Due: eslint

Detect invalid content (#458)
  source/view.js
Due: eslint

Update tnn.js (#521) (#659)
  source/tnn-metadata.json
  source/tnn.js
  test/models.json
Due: eslint

Fix host file stream (#497)
  source/electron.js
Due: eslint

Update ONNX detection
  source/onnx.js
Due: eslint

Update graph sidebar margin (#24)
  source/electron.html
  source/index.html
  source/view-sidebar.css
  source/view-sidebar.js
Due: eslint

Update to 4.6.9
  package.json
Due: none

Remove blockmap
  electron-builder.yml
Due: none

Update openvino-metadata.json
  source/openvino-metadata.json
Due: none

Update openvino.js (#660)
  source/openvino.js
Due: eslint

Update README.md (#661)
  README.md
Due: yaspeller-ci

Update pytorch.js
  source/pytorch.js
Due: eslint

Update onnx.js
  source/onnx.js
Due: eslint

Update to eslint 7.17.0
  package.json
Due: none

Update protoc.js
  source/caffe-proto.js
  source/caffe2-proto.js
  source/onnx-proto.js
  source/paddle-proto.js
  source/tf-proto.js
  source/uff-proto.js
  tools/protoc.js
Due: eslint

Add MediaPipe test file (#423)
  source/mediapipe.js
  source/protobuf.js
  source/tf-proto.js
  test/models.json
  tools/mediapipe
  tools/protoc.js
  tools/tf
Due: eslint

Update sklearn.js
  source/sklearn.js
Due: eslint

Update host environment function
  source/electron.js
  source/index.js
Due: eslint

Update pytorch-metadata.json
  source/pytorch-metadata.json
Due: none

Update mnn-schema.js
  source/mnn-schema.js
Due: eslint

Update onnx-metadata.json
  source/onnx-metadata.json
Due: none

Add PyTorch test file (#546)
  source/pytorch-metadata.json
  source/pytorch.js
  test/models.json
Due: eslint

Update scroll touch action (#24)
  source/electron.html
  source/index.html
  source/view.js
Due: eslint

Update to 4.7.0
  package.json
Due: none

Update pytorch.js
  source/pytorch-metadata.json
  source/pytorch.js
Due: eslint

Web deploy to gh-pages barnch
  Makefile
  source/index.js
Due: eslint

Remove model factory host dependency
  source/acuity.js
  source/armnn.js
  source/bigdl.js
  source/caffe.js
  source/caffe2.js
  source/cntk.js
  source/coreml.js
  source/darknet.js
  source/dl4j.js
  source/dnn.js
  source/electron.js
  source/flux.js
  source/index.js
  source/keras.js
  source/mediapipe.js
  source/mlnet.js
  source/mnn.js
  source/mslite.js
  source/mxnet.js
  source/ncnn.js
  source/npz.js
  source/onnx.js
  source/openvino.js
  source/paddle.js
  source/pytorch.js
  source/rknn.js
  source/sklearn.js
  source/tengine.js
  source/tf.js
  source/tflite.js
  source/tnn.js
  source/torch.js
  source/uff.js
  source/view.js
  test/models.js
Due: eslint

Update paddle-proto.js
  source/paddle-proto.js
Due: eslint

Update ncnn.js (#667)
  source/ncnn-metadata.json
  source/ncnn.js
Due: eslint

Add ncnn test file (#296) (#667)
  test/models.json
Due: none

Remove model factory host dependency
  source/barracuda.js
  source/dlc.js
  source/mediapipe.js
  source/weka.js
Due: eslint
