Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Typo
  .lintstagedrc
Due: none

Add project logo and icon
  img/icon.svg
  img/logo.svg
Due: none

Use logo in docs
  README.md
Due: yaspeller-ci

Smaller logo
  README.md
Due: yaspeller-ci

Even smaller logo
  README.md
Due: yaspeller-ci

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Update coreml.js
  src/coreml.js
Due: eslint

Create 'See also' section and add nanoid-dictionary there (#60)
  README.md
Due: yaspeller-ci

Update README.md (#61)
  README.md
Due: yaspeller-ci

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Add onnx-operators-ml to onnx.js
  src/onnx.js
  tools/onnx-update
Due: eslint

Clean up docs
  README.md
Due: yaspeller-ci

Update dependencies
  package.json
  yarn.lock
Due: none

SVG assets minification (#63)
  img/icon.svg
  img/logo.svg
Due: none

Make the chars order GZIP-friendly (#64)
  .size-limit
  index.js
Due: eslint

Reduce index.js size
  .size-limit
  index.browser.js
  package.json
  random.browser.js
Due: eslint

Update package size in docs
  README.md
  package.json
Due: yaspeller-ci

Update benchmark with latest Node.js
  README.md
Due: yaspeller-ci

Move benchmark to test dir
  .npmignore
  test/benchmark
Due: none

Release 1.0.5 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update onnx-metadata.json
  src/onnx-metadata.json
  tools/onnx-metadata.py
Due: none

Update to 1.9.0
  package.json
Due: none

Update shortid benchmark
  README.md
  package.json
  yarn.lock
Due: yaspeller-ci

Clear unpredicatble RNG
  README.md
Due: yaspeller-ci

Fix logo on npmjs page
  README.md
Due: yaspeller-ci

Fix nanoid.format JSDoc
  format.js
Due: eslint

Fix JSDoc
  format.js
  generate.js
  index.browser.js
  index.js
Due: eslint

Release 1.0.6 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Fix logo and code block conflict
  README.md
Due: yaspeller-ci

More compact main docs section
  README.md
Due: yaspeller-ci

Fix docs style
  README.md
Due: yaspeller-ci

Fix link
  README.md
Due: yaspeller-ci

Fix website link
  README.md
Due: yaspeller-ci

Highlight tool names in docs
  README.md
Due: yaspeller-ci

Fix links
  README.md
Due: yaspeller-ci

Fix tools docs
  .yaspellerrc
  README.md
Due: yaspeller-ci

Mark tools names as code in docs
  .yaspellerrc
  README.md
Due: yaspeller-ci

Simplify tools section in docs
  README.md
Due: yaspeller-ci

Update shortid benchmark
  README.md
Due: yaspeller-ci

Release 1.0.7 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
