Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Update to 4.1.2
  package.json
Due: none

Update to electron 8.2.4
  package.json
Due: none

Update pytorch.js
  src/pytorch.js
Due: eslint

Update mnn-schema.js
  src/mnn-schema.js
Due: eslint

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Update tf-metadata.json
  src/tf-metadata.json
Due: none

TensorFlow invalid .pbtxt detection
  src/tf.js
  test/models.json
Due: eslint

Update electron-builder 22.6.0
  package.json
Due: none

OpenVINO f16/f32 support
  src/openvino.js
Due: eslint

Remove test files
  test/models.json
Due: none

Update to electron 8.2.5
  package.json
Due: none

Fix TensorFlow match default
  src/tf.js
Due: eslint

GitHub flatc.exe install script
  tools/armnn
  tools/mnn
  tools/tflite
Due: none

Fix null min_runtime_version (#479)
  src/tflite.js
  test/models.json
Due: eslint

Update tflite-schema.json
  src/tflite-schema.js
Due: eslint

Update to 4.1.3
  package.json
Due: none

Fix OpenVINO null check and blob offset (#482) (#483)
  src/openvino.js
  test/models.json
Due: eslint

TensorFlow Lite metadata prototype (#481)
  src/armnn-schema.js
  src/armnn.js
  src/mnn-schema.js
  src/mnn.js
  src/tflite-schema.js
  src/tflite.js
  test/models.json
  tools/armnn
  tools/mnn
  tools/tflite
Due: eslint

Add gensim test file
  src/sklearn.js
  test/models.json
Due: eslint

Update to 4.1.4
  package.json
Due: none

PyTorch .pb detection
  src/pytorch.js
  test/models.json
Due: eslint

scikit-learn .pb detection
  src/sklearn.js
  src/view.js
  test/models.json
  test/test.js
Due: eslint

Restrict failing node@13.x versions at engines.node (#216)
  package.json
Due: none

Move engines to the beggining of the file
  package.json
Due: none

Update dependencies
  package.json
  yarn.lock
Due: none

Release 3.1.4 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update test file
  test/models.json
Due: none

Improve IE instructions
  README.md
  index.browser.js
Due: yaspeller-ci, eslint

Release 3.1.5 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update tflite-schema.js
  src/tflite-schema.js
Due: eslint

Weights HDF5 root node support
  src/chainer.js
  test/models.json
Due: eslint
