Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Update tf-metadata.json
  src/tf-metadata.json
Due: none

ML.NET prototype (#170)
  src/mlnet.js
  src/mxnet.js
  src/view-sidebar.js
Due: eslint

Update to d3 5.11.0
  package.json
Due: none

Update to eslint 6.2.1
  package.json
Due: none

Update to electron 6.0.3
  package.json
Due: none

Update sklearn-metadata.json
  src/sklearn-metadata.json
Due: none

Add Tidelift link
  README.md
  package.json
Due: yaspeller-ci

Keras error handling
  src/keras.js
Due: eslint

Update link to py-nanoid-dictionary (#138)
  README.md
Due: yaspeller-ci

Update dependencies
  package.json
  yarn.lock
Due: none

Improve React Native error message
  async/random.reactnative.js
  index.browser.js
  package.json
  test/react-native.test.js
Due: eslint

Release 2.0.4 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

ML.NET prototype (#170)
  src/mlnet.js
  src/view-sidebar.js
Due: eslint

Update to eslint 6.2.2
  package.json
Due: none

Update to electron 6.0.4
  package.json
Due: none

Update sklearn.js
  src/sklearn.js
Due: eslint

Add TensorFlow test file (#323)
  test/models.json
Due: none

Add TorchScript test file (#313)
  test/models.json
Due: none

Update to electron 6.0.5
  package.json
Due: none

Fix MXNet detection
  src/view.js
Due: eslint

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Remove workaround (pytorch/pytorch#18398)
  tools/pytorch
Due: none

Add ONNX test files
  src/view.js
  test/models.json
  test/test.js
Due: eslint

Update to electron 6.0.6
  package.json
Due: none

Add ML.NET test files (#170)
  src/mlnet.js
  test/models.json
Due: eslint

Update sharec config
  package.json
  yarn.lock
Due: none

Fix PyTorch script
  test/models.json
  tools/pytorch
  tools/pytorch-script.py
Due: none

Update caffe2-metadata.json
  src/caffe2-metadata.json
Due: none

Use expo-random for React Native
  README-cn.md
  README.md
  async/random.rn.js
  index.browser.js
  package.json
Due: yaspeller-ci, eslint

Remove outdated Chinese docs
  .npmignore
  README-cn.md
  package.json
Due: yaspeller-ci

Fix Core ML bias shape
  src/coreml.js
  test/models.json
Due: eslint

Improve description
  README.md
Due: yaspeller-ci

Clean up supports text
  README.md
Due: yaspeller-ci

Release 2.1 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update coreml-metadata.json
  src/coreml-metadata.json
Due: none

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
