Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Process TensorFlow Lite attributes during load
  src/tflite-model.js
Due: eslint

perf: preallocate buffers in nodejs. (#82)
  async.js
  random.js
  test/async.test.js
Due: eslint

Fix test coverage
  test/async.test.js
Due: eslint

Update dependencies
  package.json
  yarn.lock
Due: none

Fix benchmark output
  test/benchmark
Due: none

Update benchmark results
  README-cn.md
  README.md
Due: yaspeller-ci

Release 1.2.4 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update onnx.js
  src/onnx-model.js
  src/onnx.js
Due: eslint

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Unified attribute value render
  src/caffe-model.js
  src/caffe2-model.js
  src/cntk-model.js
  src/coreml-model.js
  src/keras-model.js
  src/mxnet-metadata.json
  src/mxnet-model.js
  src/onnx-model.js
  src/pytorch-model.js
  src/sklearn-model.js
  src/tf-model.js
  src/tflite-model.js
  src/view-sidebar.js
  src/view.js
Due: eslint

Restore support for Node.js<v6.13.0 (#84)
  async.js
  random.js
  test/async.test.js
  test/random.test.js
Due: eslint

Remove private random.async API and clean up tests
  async.js
  package.json
  random.js
  test/async.test.js
  test/random.test.js
Due: eslint

Release 1.2.5 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Fix ModelView null host
  src/view.js
Due: eslint

TensorFlow Lite attribute array support
  src/tflite-metadata.json
  src/tflite-model.js
Due: eslint

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Update caffe2.js
  src/caffe2.js
Due: eslint

Fix tf.js pbtxt primitive value maps
  src/tf.js
Due: eslint

Fix CoreML attribute visible
  src/coreml-model.js
Due: eslint

Fix TensorFlow attribute tensor
  src/tf-model.js
Due: eslint

Add scikit-learn DecisionTreeRegressor
  src/sklearn-model.js
Due: eslint

Update to 2.2.0
  package.json
Due: none

numpy.ndarray support
  src/pickle.js
  src/sklearn-metadata.json
  src/sklearn-model.js
Due: eslint

MXNet attribute int32[] defaults
  src/mxnet-metadata.json
  src/mxnet-model.js
Due: eslint

Add Nim to list of languages (#86)
  README.md
Due: yaspeller-ci

Fix spelling check
  package.json
Due: none

Caffe attribute constructor
  src/caffe-model.js
Due: eslint

Process Keras attributes on load
  src/keras-model.js
Due: eslint

Remove unused variable
  src/tflite-model.js
Due: eslint

Report load error for scikit-learn
  src/sklearn-model.js
Due: eslint

Add scikit-learn RandomForestRegressor
  src/sklearn-metadata.json
  src/sklearn-model.js
Due: eslint

Fix ONNX attribute defaults
  src/onnx-model.js
Due: eslint

Reduced size by few bytes 👾 (#87)
  index.browser.js
  non-secure.js
  package.json
Due: eslint

Update library size in docs
  README-cn.md
  README.md
  package.json
Due: yaspeller-ci

Release 1.2.6 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
