Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Update barracuda.js
  source/barracuda.js
Due: eslint

Update base binary reader
  source/base.js
Due: eslint

Update coreml.js
  source/coreml.js
Due: eslint

Update om.js
  source/om.js
Due: eslint

Update pytorch.js
  source/pytorch.js
Due: eslint

Update paddle.js
  source/paddle.js
Due: eslint

Update ncnn.js
  source/ncnn.js
Due: eslint

Update tnn.js
  source/tnn.js
Due: eslint

Update kmodel.js
  source/kmodel.js
Due: eslint

Update pytorch.js (#543)
  source/pytorch.js
Due: eslint

Update onnx-metadata.json
  source/onnx-metadata.json
Due: none

Update to eslint 8.8.0
  package.json
Due: none

Update to electron 16.0.8
  package.json
Due: none

Update tf-metadata.json
  source/tf-metadata.json
Due: none

Update to 5.5.5
  package.json
Due: none

Update kmodel.js
  source/kmodel.js
  test/models.json
Due: eslint

Update caffe.js
  source/caffe.js
Due: eslint

Update to electron 17.0.0
  package.json
Due: none

Update sklearn-metadata.json
  source/sklearn-metadata.json
Due: none

Add note about seed-based RNG
  README.md
Due: yaspeller-ci

Try to fix CI
  .github/workflows/test.yml
Due: none

Update dependencies
  package.json
  pnpm-lock.yaml
Due: none

Add TorchScript test file (#842)
  source/python.js
  source/pytorch.js
  test/models.json
Due: eslint

Update tf-proto.js
  source/tf-proto.js
Due: eslint

Update CITATION.cff (#878)
  CITATION.cff
Due: none

Update pytorch-metadata.json (#877)
  source/pytorch-metadata.json
Due: none

Update pytorch.js (#877)
  source/pytorch.js
Due: eslint

Update tflite-schema.js
  source/tflite-schema.js
Due: eslint

Switch Haskell NanoID implementation to the Community maintained implementation (#346)
  README.id-ID.md
  README.md
  README.ru.md
  README.zh-CN.md
Due: yaspeller-ci

Remove electron-builder.yml
  electron-builder.yml
  package.json
  publish/version.js
  publish/winget.js
Due: eslint

Update tflite-schema.js
  source/tflite-schema.js
  source/tflite.js
Due: eslint

Update keras.js
  source/keras.js
Due: eslint

Update to 5.5.6
  package.json
Due: none

Update Makefile
  Makefile
Due: none
