Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Update test files
  src/torchscript.js
  test/models.json
Due: eslint

Update to const
  src/pickle.js
Due: eslint

Add Python file info
  src/python.js
  src/torchscript.js
Due: eslint

Update to const
  src/coreml.js
Due: eslint

Update caffe2-metadata.json
  src/caffe2-metadata.json
Due: none

Work around pytorch/pytorch#29530
  tools/pytorch
Due: none

Fix Chainer module names
  src/chainer.js
Due: eslint

Fix Arm NN data type
  src/armnn.js
  src/view.js
  test/models.json
Due: eslint

Update sklearn.js
  src/sklearn.js
Due: eslint

Fixed layer precision retrieval for IR v7 (#371)
  src/openvino.js
Due: eslint

Update sklearn-metadata.json
  src/sklearn-metadata.json
Due: none

Reduce url.js size. Add genetic algorithm
  package.json
  test/genetic-algorithm.js
  url.js
  yarn.lock
Due: eslint

Update Caffe2 script
  tools/caffe2-script.py
Due: none

Remove TensorFlow test file
  test/models.json
Due: none

Remove Torch test files
  test/models.json
Due: none

Reduce size of index.browser.js, async/index.brwser.js and non-secure/index.js
  async/index.browser.js
  index.browser.js
  non-secure/index.js
  package.json
  test/alphabet-genetic.js
Due: eslint

Replace TensorIterator with its body (#372) (#373)
  src/openvino.js
  test/models.json
Due: eslint

Update to electron-updater 4.2.0
  package.json
Due: none

Update to handlebars 4.5.2
  package.json
Due: none

Clean up tests
  test/old-browser.test.js
  test/react-native.test.js
Due: eslint

Update dependencies
  package.json
  yarn.lock
Due: none

Update size in docs
  README.md
  package.json
Due: yaspeller-ci

Release 2.1.7 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update caffe2-proto.js
  src/caffe2-proto.js
Due: eslint

Update mnn-schema
  src/mnn-schema.js
Due: eslint

Update sklearn-metadata.json
  src/sklearn-metadata.json
  tools/sklearn-script.py
Due: none

Update to 3.5.5
  package.json
Due: none

Update sharec config
  package.json
  yarn.lock
Due: none

Update to d3 5.13.0
  package.json
Due: none

Clean up code
  test/alphabet-worker.js
Due: eslint

Normalize scripts style
  test/alphabet
  test/alphabet-genetic
Due: none

PyTorch module and type name
  src/pytorch.js
Due: eslint

Update to d3 5.13.1
  package.json
Due: none

Update test files
  test/models.json
Due: none

Update to d3 5.14.1
  package.json
Due: none

Update to handlebars 4.5.3
  package.json
Due: none

Add PyTorch test files
  src/pytorch.js
  test/models.json
  test/test.js
Due: eslint

Update to electron 7.1.2
  package.json
Due: none

Update to d3 5.14.2
  package.json
Due: none
