Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Update sklearn.js
  src/sklearn.js
Due: eslint

Update to 4.2.7
  package.json
Due: none

Update to electron 9.0.1
  package.json
Due: none

Fix output search results (#503)
  src/view-sidebar.js
Due: eslint

Update coreml.js
  src/coreml.js
Due: eslint

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Update armnn-schema.js
  src/armnn-schema.js
Due: eslint

scikit-learn pickle zlib support
  src/sklearn.js
  src/zip.js
Due: eslint

Add setup.py comma (#507)
  setup.py
Due: none

Update to electron 9.0.2
  package.json
Due: none

Build index.html version number (#509)
  Makefile
  setup.py
  src/electron.html
  src/index.html
  src/server.py
Due: none

Fix ESLint issues
  Makefile
  tools/update_pbjs.js
Due: eslint

Update tflite-schema.js
  src/tflite-schema.js
Due: eslint

Remove test files
  test/models.json
  tools/pytorch-script.py
Due: none

Update pytorch-metadata.json
  src/pytorch-metadata.json
Due: none

Added janet implementation (#223)
  README.md
Due: yaspeller-ci

Remove existing winget manifest
  Makefile
  setup/winget.js
Due: eslint

Detect invalid content (#458)
  src/view.js
Due: eslint

Update to 4.2.8
  package.json
Due: none

Update to eslint 7.2.0
  package.json
Due: none

Update python.js
  src/python.js
Due: eslint

Update pytorch.js
  src/pytorch.js
Due: eslint

TensorRT UFF detection (#511)
  setup.py
  src/tensorrt.js
  src/view.js
  test/models.json
Due: eslint

Update caffe2-metadata.json
  src/caffe2-metadata.json
Due: none

Update to 4.2.9
  package.json
Due: none

Workaround winget duplicate
  Makefile
Due: none

Update to 4.3.0
  package.json
Due: none

Fix PyTorch attribute schema
  src/pytorch.js
Due: eslint

Update to 4.3.1
  package.json
Due: none

Update publish_cask script
  Makefile
Due: none

Update to electron 9.0.3
  package.json
Due: none

Add TensorRT test file
  test/models.json
Due: none

UFF detection (#511)
  Makefile
  setup.py
  src/tensorrt.js
  src/uff-metadata.json
  src/uff-proto.js
  src/uff.js
  src/view.js
  test/models.json
  tools/uff
  tools/uff.proto
Due: eslint

Update to electron-notarize 1.0.0
  package.json
Due: none

Update pytorch-metdata.json
  src/pytorch-metadata.json
Due: none
