Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Run Python Server on background thread (#96)
  README.md
  src/__init__.py
  src/server.py
Due: yaspeller-ci

Update to 2.2.7
  package.json
Due: none

Skip `install` for older versions of Node (#96)
  .travis.yml
  test/ci-install
Due: none

Do not run install in Node.js 4 too
  .travis.yml
Due: none

Fix double Node.js 4
  .travis.yml
Due: none

Use yarn
  .npmignore
  .travis.yml
  package-lock.json
  package.json
  test/ci
  yarn.lock
Due: none

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Update cntk-metadata.json
  src/cntk-metadata.json
  src/cntk-model.js
Due: eslint

Fix Keras references documentation
  src/keras-metadata.json
  src/view-electron.js
  src/view-render.js
  src/view-sidebar.js
  src/view.js
  tools/metadata/keras-metadata.py
  tools/metadata/keras-update
Due: eslint

Support ONNX int8/uint8 and int16/uint16 tensor type (#160)
  src/onnx-model.js
Due: eslint

Fix .gitignore
  .gitignore
Due: none

Update dependencies
  package.json
  yarn.lock
Due: none

Update tflite.js
  src/tflite.js
Due: eslint

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Update caffe2.js
  src/caffe2-metadata.json
  src/caffe2.js
Due: eslint

tf-update sub commands
  tools/metadata/tf-update
Due: none

Remove transferStyleSheet
  src/view.js
Due: eslint

NumPy float16 encoding
  src/coreml-model.js
  src/keras-model.js
  src/numpy.js
  src/onnx-model.js
  src/tflite-model.js
  src/view.js
Due: eslint

Export PNG/SVG in browser (#163)
  src/view-browser.js
  src/view-electron.js
Due: eslint

Update onnx.js
  src/onnx.js
Due: eslint

Update caffe2.js
  src/caffe2.js
Due: eslint

Update to 2.2.8
  package.json
Due: none

Release 1.3.1 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Faster float16 decoding
  src/view.js
Due: eslint

Fix Firefox browser export (#163)
  src/view-browser.js
  src/view.js
Due: eslint

Update to 2.2.9
  package.json
Due: none

Add npm run server -- <args> shortcut
  DEVELOPMENT.md
  netron
  package.json
Due: yaspeller-ci

Blob export
  src/view-browser.js
  src/view-electron.js
  src/view.js
Due: eslint

Update to 2.3.0
  package.json
Due: none

Updated Chinese transaction (#97)
  README-cn.md
Due: yaspeller-ci

Fix CNTK v1 BatchNormalization count
  src/cntk-model.js
Due: eslint

Fix browser file open error handling
  src/view-browser.js
  src/view-electron.js
Due: eslint

Update to 2.3.1
  package.json
Due: none

Caffe proto forks (#165)
  src/caffe-metadata.json
  src/caffe-model.js
  src/caffe.js
  tools/metadata/caffe-update
  tools/metadata/caffe-update.js
  tools/metadata/caffe2-metadata.py
  tools/metadata/keras-metadata.py
  tools/metadata/mxnet-metadata.py
  tools/metadata/onnx-metadata.py
  tools/metadata/pytorch-metadata.py
  tools/metadata/sklearn-metadata.py
  tools/metadata/tf-metadata.py
Due: eslint

Update to 2.3.2
  package.json
Due: none

Update keras-meatdata.json
  src/keras-metadata.json
Due: none

Update to 2.3.3
  package.json
Due: none
