Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Update torch.js
  source/torch.js
Due: eslint

Update xmodel.js
  source/xmodel.js
Due: eslint

Update armnn.js
  source/armnn-metadata.json
  source/armnn.js
Due: eslint

Update barracuda.js
  source/barracuda.js
Due: eslint

Update onnx-metadata.json
  source/onnx-metadata.json
Due: none

Update tflite.js
  source/tflite.js
Due: eslint

Update bigdl.js
  source/bigdl.js
Due: eslint

Update caffe2.js
  source/caffe2.js
Due: eslint

Update tf.js
  source/tf.js
  source/view-sidebar.js
Due: eslint

Update om.js
  source/om.js
Due: eslint

Add DaVinci OM test file (#799) (#802)
  source/om.js
  source/view-sidebar.js
  test/models.json
Due: eslint

Update tf-proto.js
  source/tf-proto.js
Due: eslint

Remove dagre dependency
  DEVELOPMENT.md
  package.json
  setup.py
  source/dagre.js
  source/view-grapher.js
  test/models.json
Due: yaspeller-ci, eslint

Update view.js
  source/view.js
Due: eslint

Add chinese doc (#296)
  README.md
  README.zh-CN.md
Due: yaspeller-ci

Fix tests and do not put docs translation to npm
  .npmignore
  package.json
Due: none

Update dependencies
  package.json
  yarn.lock
Due: none

Another way to avoid speling Chinese docs
  package.json
Due: none

Try to mark current language
  README.md
  README.zh-CN.md
Due: yaspeller-ci

Update DEVELOPMENT.md
  DEVELOPMENT.md
Due: yaspeller-ci

Fix web request timeout (#805)
  source/electron.js
  test/models.js
Due: eslint

Update to 5.1.8
  package.json
Due: none

Update Makefile
  Makefile
Due: none

Update to 5.1.9
  package.json
Due: none

Update to 5.2.0
  package.json
Due: none

Fix Chinese docs TOC links
  README.zh-CN.md
Due: yaspeller-ci

Add Russian translation
  README.md
  README.ru.md
  README.zh-CN.md
  package.json
Due: yaspeller-ci

Update dagre.js (#589)
  source/dagre.js
  test/models.json
Due: eslint

Add TensorFlow.js test file (#764)
  source/tf.js
  test/models.json
Due: eslint

Typo
  README.md
  README.ru.md
Due: yaspeller-ci

Change symbols
  README.ru.md
Due: yaspeller-ci

Update keras.js
  source/keras.js
Due: eslint

Update to 5.2.1
  package.json
Due: none

Fix some word and navigation failures (#297)
  README.zh-CN.md
Due: yaspeller-ci

Electron nativeWindowOpen support
  source/app.js
Due: eslint
