Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Merge PyTorch/TorchScript support
  src/pytorch.js
Due: eslint

Add ML.NET SsaForecasting support (#404)
  src/mlnet-metadata.json
  src/mlnet.js
  test/models.json
Due: eslint

Update to handlebars 4.6.0
  package.json
Due: none

Update to electron 7.1.8
  package.json
Due: none

Update sklearn-metadata.json
  src/sklearn-metadata.json
  tools/sklearn-script.py
Due: none

Update to 3.7.4
  package.json
Due: none

Update 3.7.5
  package.json
Due: none

Update caffe2-metadata.json
  src/caffe2-metadata.json
Due: none

Update tf-metadata.json
  src/tf-metadata.json
Due: none

PyTorch formats (pytorch/pytorch#31877)
  src/pytorch.js
  test/models.json
Due: eslint

Merge PyTorch code execution
  src/pytorch.js
Due: eslint

Fix Darknet crnn inference
  src/darknet.js
Due: eslint

Update handlebars 4.7.0
  package.json
Due: none

Context entries tar support
  src/app.js
  src/armnn.js
  src/bigdl.js
  src/caffe.js
  src/chainer.js
  src/cntk.js
  src/coreml.js
  src/darknet.js
  src/dl4j.js
  src/flux.js
  src/hdf5.js
  src/keras.js
  src/mlnet.js
  src/mnn.js
  src/mxnet.js
  src/ncnn.js
  src/numpy.js
  src/onnx.js
  src/openvino.js
  src/paddle.js
  src/pytorch.js
  src/sklearn.js
  src/tf.js
  src/tflite.js
  src/torch.js
  src/view-grapher.js
  src/view-sidebar.js
  src/view.js
  src/zip.js
  test/test.js
Due: eslint

Add PyTorch Eager Zip test files
  src/pytorch.js
  test/models.json
Due: eslint

Update to 3.7.6
  package.json
Due: none

Update tflite-metadata.json
  src/tflite-metadata.json
Due: none

Merge PyTorch node implementations
  src/pytorch.js
Due: eslint

Update armnn-schema.js
  src/armnn-schema.js
  src/armnn.js
Due: eslint

Update tf-proto.js
  src/tf-proto.js
Due: eslint

Update tflite-schema.js
  src/tflite-schema.js
Due: eslint

HDF5 support fixes
  src/hdf5.js
Due: eslint

Update to handlebars 4.7.2
  package.json
Due: none

Update to electron 7.1.9
  package.json
Due: none

Update sklearn-metadata.json
  src/sklearn-metadata.json
Due: none

PyTorch formats (pytorch/pytorch#31877)
  src/pytorch.js
  src/view.js
  test/models.json
Due: eslint

Update armnn.js
  src/armnn-metadata.json
  src/armnn.js
Due: eslint

Update to 3.7.7
  package.json
Due: none

Update to const
  src/electron.js
  src/index.js
  src/mlnet.js
  src/pickle.js
  src/python.js
Due: eslint

Update sklearn.js
  src/sklearn.js
Due: eslint

Fix render error reporting
  src/view.js
Due: eslint

PyTorch formats (pytorch/pytorch#31877)
  src/pytorch.js
Due: eslint

Update mnn-schema.js
  src/mnn-schema.js
Due: eslint

Update to 3.7.8
  package.json
Due: none

Fix description
  non-secure/generate.js
  non-secure/index.js
Due: eslint

Update dependencies
  package.json
  yarn.lock
Due: none

Add .github folder
  .github/logo.png
  .github/screenshot.png
  README.md
  setup.py
Due: yaspeller-ci

Add sidebar test
  test/test.js
Due: eslint
