Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Update README.md
  README.md
Due: yaspeller-ci

Add --highlight-less to Size Limit
  package.json
  yarn.lock
Due: none

Update index.html
  source/electron.html
  source/index.html
  source/index.js
Due: eslint

Update to xmldom 0.4.0
  package.json
Due: none

Update to eslint 7.12.1
  package.json
Due: none

Detect invalid content (#458)
  source/view.js
Due: eslint

Update pytorch.js
  source/pytorch.js
Due: eslint

Update pytorch-metadata.json
  source/pytorch-metadata.json
Due: none

Fix PyTorch module expansion (#621)
  source/pytorch.js
Due: eslint

Update index.js
  source/index.js
Due: eslint

Update pytorch-metadata.json (#622)
  source/pytorch-metadata.json
Due: none

Update caffe2-metadata.json
  source/caffe2-metadata.json
Due: none

Update tf-metadata.json
  source/tf-metadata.json
Due: none

Update tflite-schema.js
  source/tflite-schema.js
Due: eslint

Detect invalid content (#458)
  source/view.js
  test/models.json
Due: eslint

Update to 4.6.0
  package.json
Due: none

Update sklearn.js
  source/sklearn.js
Due: eslint

Update sklearn-metadata.json
  source/sklearn-metadata.json
Due: none

Update electron.html
  source/electron.html
  source/electron.js
  source/index.html
Due: eslint

Add PyTorch test file (#546)
  source/pytorch-metadata.json
  source/pytorch.js
  test/models.json
Due: eslint

Add PaddlePaddle .pbtxt support (#198)
  source/paddle-proto.js
  source/paddle.js
  source/view.js
  test/models.json
  tools/paddle
Due: eslint

Update ONNX detection
  source/onnx.js
Due: eslint

Update keras-metadata.json
  source/keras-metadata.json
Due: none

Update tf-proto.js
  source/tf-proto.js
Due: eslint

Update to marked 1.2.3
  package.json
Due: none

Update mnn-schema.js
  source/mnn-schema.js
Due: eslint

Move from Travis CI to GitHub Actions
  .github/workflows/test.yml
  .travis.yml
  package.json
  yarn.lock
Due: none

Stabilize test coverage
  test/async.test.js
Due: eslint
