Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Update pytorch.js
  source/pytorch.js
Due: eslint

Update pytorch.metadata.json
  source/pytorch-metadata.json
Due: none

Detect invalid content (#458)
  source/view.js
  test/models.json
Due: eslint

Update tengine-metadata.json (#701)
  source/tengine-metadata.json
Due: none

Update tengine.js (#701)
  source/tengine.js
Due: eslint

Update README for CRA (#266)
  README.md
Due: yaspeller-ci

Clean up text
  README.md
Due: yaspeller-ci

Update dependencies
  package.json
  yarn.lock
Due: none

Update rknn.js
  source/rknn.js
Due: eslint

Update pytorch-metadata.json
  source/pytorch-metadata.json
Due: none

Update python.js
  source/python.js
Due: eslint

Update mslite-schema.js
  source/mslite-schema.js
Due: eslint

Update onnx.js
  source/onnx.js
Due: eslint

Update barracuda.js
  source/barracuda.js
Due: eslint

Update mnn.js
  source/mnn.js
Due: eslint

Fix image export flicker (#703)
  source/view.js
Due: eslint

Update mslite-schema.js
  source/mslite-metadata.json
  source/mslite-schema.js
Due: eslint

Update onnx-metadata.json
  source/onnx-metadata.json
  source/onnx.js
  source/view-sidebar.js
  tools/onnx-script.py
Due: eslint

Add Keras test file (#540)
  source/keras.js
  test/models.json
Due: eslint

Update to 4.8.3
  package.json
Due: none

Add scikit-learn test file (#182)
  source/python.js
  source/sklearn.js
  test/models.json
Due: eslint

Update pytorch.js (#637)
  source/python.js
  source/pytorch.js
Due: eslint

Update pytorch.js (#689)
  source/python.js
  source/pytorch-metadata.json
  source/pytorch.js
  test/models.json
Due: eslint

Update scikit-learn test file
  test/models.json
Due: none

Update pytorch (#689)
  source/python.js
  source/pytorch-metadata.json
  source/pytorch.js
  test/models.json
Due: eslint

Update pytorch.js
  source/python.js
Due: eslint

Update tf-metadata.json
  source/tf-metadata.json
  source/tf.js
  tools/tf-script.py
Due: eslint

Update keras-metadata.json
  source/keras-metadata.json
  source/keras.js
  tools/keras-script.py
Due: eslint

Update mlnet-metadata.json
  source/mlnet-metadata.json
  source/mlnet.js
Due: eslint

Update sklearn-metadata.json
  source/sklearn-metadata.json
  source/sklearn.js
  tools/sklearn-script.py
Due: eslint

Update caffe2-metadata.json
  source/caffe2-metadata.json
  source/caffe2.js
  tools/caffe2-script.py
  tools/pytorch-script.py
Due: eslint

Update test files
  test/models.json
Due: none

Detect invalid content (#458)
  source/view.js
Due: eslint

Add known error links
  source/view.js
Due: eslint

Fix set configuration (#706)
  source/electron.js
Due: eslint

Update tflite-schema.js
  source/tflite-schema.js
  source/tflite.js
Due: eslint

Update onnx-metadata.json
  source/onnx-metadata.json
  tools/onnx-script.py
Due: none
