Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Darknet shortcut support for new fork (#410)
  README.md
  setup.py
  src/darknet.js
  test/models.json
Due: yaspeller-ci, eslint

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Update caffe2-metadata.json
  src/caffe2-metadata.json
Due: none

Update torch-metadata.json
  src/torch-metadata.json
  src/torch.js
  src/view.js
Due: eslint

Update onnx.js
  src/onnx.js
Due: eslint

Update armnn.js
  src/armnn.js
Due: eslint

Update sklearn.js
  src/sklearn.js
Due: eslint

TorchScript 1.4 prototype (lutzroeder#281)
  src/pickle.js
  src/pytorch-metadata.json
  src/pytorch.js
Due: eslint

Update to 3.7.9
  package.json
Due: none

Fix hack description
  async/format.browser.js
  async/format.js
  format.browser.js
  format.js
Due: eslint

Update dependencies
  package.json
  yarn.lock
Due: none

Non-secure: Generate alphabet using fromCharCode (#167)
  non-secure/index.js
  package.json
Due: eslint

Remove Linux .deb support
  Makefile
Due: none

Remove Darknet test file
  test/models.json
Due: none

Fix TensorFlow Lite chain operators (#416)
  src/tflite-metadata.json
  src/tflite.js
  src/view.js
  test/models.json
  test/test.js
Due: eslint

TorchScript 1.4 prototype (#281)
  src/pytorch-metadata.json
  src/pytorch.js
Due: eslint

Update to 3.8.0
  package.json
Due: none

Use fromCharCode to generate the alphabet everywhere (#168)
  async/index.browser.js
  index.browser.js
  package.json
  url.js
Due: eslint

Update size
  README.md
  package.json
Due: yaspeller-ci

Remove old tools to pack alphabet
  package.json
  test/alphabet
  test/alphabet-genetic
  test/alphabet-worker.js
  yarn.lock
Due: eslint

Release 2.1.10 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

OpenVINO support (#307) (#418) (#419)
  src/bigdl-metadata.json
  src/bigdl.js
  src/caffe-metadata.json
  src/caffe.js
  src/openvino-metadata.json
  src/openvino.js
  src/view.js
  test/models.json
Due: eslint

Update to electron 7.1.10
  package.json
Due: none

Update armnn-schema.js
  src/armnn-schema.js
Due: eslint

Update tflite-schema.js
  src/tflite-schema.js
Due: eslint

Update mnn.js
  src/mnn.js
Due: eslint

Add PyTorch ops.quantized.conv2d_prepack (#421)
  src/pytorch.js
  test/models.json
Due: eslint

TorchScript 1.4 prototype (#281)
  src/pytorch-metadata.json
  src/pytorch.js
  test/models.json
Due: eslint

Fix DeepLearning4j Zip detection
  src/view.js
Due: eslint

Fix OpenVINO/ncnn .bin tests
  src/openvino.js
  test/models.json
Due: eslint

Fix scikit-learn tensor detection
  src/sklearn.js
Due: eslint
