Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Update tf-metadata.json
  source/tf-metadata.json
Due: none

Update Makefile
  Makefile
Due: none

Update simple-pre-commit
  package.json
  yarn.lock
Due: none

Update pytorch.js
  source/pytorch.js
Due: eslint

Update tflite-schema.js
  source/tflite-schema.js
  source/tflite.js
Due: eslint

Update pytorch-metadata.json
  source/pytorch-metadata.json
Due: none

Update onnx.js
  source/onnx.js
Due: eslint

TensorFlow.js weights support (#683)
  source/keras.js
  source/view-sidebar.js
Due: eslint

Update mslite-schema.js
  source/mslite-schema.js
Due: eslint

Update onnx-metadata.json
  source/onnx-metadata.json
Due: none

Update to 4.7.9
  package.json
Due: none

Update caffe2-proto.js
  source/caffe2-proto.js
Due: eslint

Add Python class support
  source/python.js
  source/pytorch.js
  test/models.json
Due: eslint

Update to electron 11.3.0
  package.json
Due: none

Add .zip and .tar extensions (#685)
  source/app.js
  source/index.html
Due: eslint

Update tflite-schema.js
  source/tflite-schema.js
Due: eslint

Workaround pytorch/pytorch#48525 (#630)
  source/python.js
  source/pytorch.js
  test/models.json
Due: eslint

Add PaddlePaddle test files (#554)
  electron-builder.yml
  source/app.js
  source/electron.html
  source/index.html
  source/paddle.js
  source/view.js
  test/models.json
Due: eslint

Add Darknet test file (#277)
  source/darknet.js
  test/models.json
Due: eslint

Updat rknn-metadata.json
  source/rknn-metadata.json
Due: none

Update rknn.js
  source/rknn.js
Due: eslint

Update python.js
  source/python.js
Due: eslint

Detect invalid content (#458)
  source/view.js
Due: eslint

Update FlexBuffers reader (#499)
  source/tflite.js
Due: eslint

Add PyTorch test file (#689)
  source/python.js
  source/pytorch.js
  test/models.json
Due: eslint

Add cuML test file (#550)
  test/models.json
Due: none

Update Python class support
  source/lasagne.js
  source/lightgbm.js
  source/npz.js
  source/pickle.js
  source/python.js
  source/pytorch.js
  source/sklearn.js
  source/view.js
Due: eslint

Update to 4.8.0
  package.json
Due: none

Update keras-metadata.json
  source/keras-metadata.json
Due: none

Detect invalid content (#458)
  source/acuity.js
  source/armnn.js
  source/flatbuffers.js
  source/keras.js
  source/lasagne.js
  source/lightgbm.js
  source/mxnet.js
  source/npz.js
  source/paddle.js
  source/pickle.js
  source/sklearn.js
  source/tf.js
  source/tflite.js
  source/view.js
  source/zip.js
Due: eslint

Update test files
  test/models.json
Due: none

Update README.md (#265)
  README.md
Due: yaspeller-ci
