Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Add scikit-learn test file (#182)
  src/sklearn.js
  test/models.json
Due: eslint

Fix subgraph selector font
  src/view-sidebar.css
Due: none

Text format detection
  src/tf.js
  src/view.js
Due: eslint

Update pytorch.js
  src/pytorch.js
Due: eslint

Update cntk.js
  src/cntk.js
Due: eslint

ONNX bool tensor support
  src/onnx.js
Due: eslint

Fix user id error reporting
  src/app.js
  src/electron.js
Due: eslint

Move test.js to promises
  test/models.json
  test/test.js
Due: eslint

Update to 3.2.4
  package.json
Due: none

Update keras.js
  src/keras.js
Due: eslint

TensorFlow Lite .tfl detection
  electron-builder.yml
  src/app.js
  src/index.html
  src/tflite.js
  src/view.js
Due: eslint

Add PaddlePaddle test files
  test/models.json
Due: none

Update to marked 0.7.0
  package.json
Due: none

Add TensorFlow producer
  src/tf.js
  test/models.json
Due: eslint

Add ncnn prototype (#296)
  Makefile
  electron-builder.yml
  setup.py
  src/app.js
  src/index.html
  src/ncnn-metadata.json
  src/ncnn.js
  src/view.js
  test/models.json
  tools/ncnn
Due: eslint

Caffe2 find predict_net for init_net (#140)
  src/caffe2.js
Due: eslint

Support multiple files in browser (#285)
  src/index.js
  src/view.js
Due: eslint

Update darknet.js
  src/darknet.js
Due: eslint

Update mxnet.js
  src/mxnet.js
Due: eslint

Update to 3.2.5
  package.json
Due: none

Update ncnn-metadata.json
  src/electron.js
  src/index.js
  src/ncnn-metadata.json
  src/ncnn.js
  test/models.json
  test/test.js
Due: eslint

Update to 3.2.6
  package.json
Due: none

Update pytorch.js
  src/pytorch.js
  src/view.js
Due: eslint

Add .ncnn file extension
  src/app.js
  src/index.html
Due: eslint

Fix browser accept check
  src/index.js
Due: eslint

Update to 3.2.7
  package.json
Due: none

Update pytorch.js
  src/pytorch-metadata.json
  src/pytorch.js
Due: eslint

Update torch-metadata.json
  src/torch-metadata.json
Due: none

Add ncnn .param.bin detection (#296)
  src/ncnn-metadata.json
  src/ncnn.js
  test/models.json
Due: eslint

Fix TensorFlow Lite error message
  src/tflite.js
Due: eslint

Remove scikit-learn array size check
  src/sklearn.js
Due: eslint

Add NCNN to README.md
  README.md
  setup.py
Due: yaspeller-ci

Fix CNTK v2 Convolution inputs (#298)
  src/cntk-metadata.json
  src/cntk.js
  src/coreml.js
Due: eslint

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Fix OpenVINO error message
  src/openvino.js
Due: eslint

Update caffe-metadata.json
  src/caffe-metadata.json
Due: none

Update torchscript-metadata.json
  src/torchscript-metadata.json
Due: none

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
