Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Update pytorch.js
  source/pytorch.js
Due: eslint

Fix ESLint issues
  test/models.json
Due: none

Fix whitespace
  setup.py
Due: none

Update openvino.js
  source/openvino.js
Due: eslint

Update tflite-schema.js
  source/tflite-schema.js
Due: eslint

Fix flatc.js
  tools/flatc.js
Due: eslint

Update caffe2-metadata.json
  source/caffe2-metadata.json
Due: none

Update onnx-metadata.json
  source/onnx-metadata.json
Due: none

Update tf-metadata.json
  source/tf-metadata.json
Due: none

Fix control dependency style (#617)
  source/view-grapher.css
Due: none

Fix Python urllib unquote (#615)
  source/server.py
Due: none

Fix flatbuffers.js int64 (#602)
  source/flatbuffers.js
Due: eslint

Update keras-metadata.json
  source/keras-metadata.json
Due: none

Update barracuda.js
  source/barracuda.js
Due: eslint

Update caffe.js (#618)
  source/caffe.js
Due: eslint

Fix flatbuffers.js int64[] (#602)
  source/flatbuffers.js
Due: eslint

Fix PyTorch ops.quantized (#421) (#546)
  source/pytorch-metadata.json
  test/models.json
Due: none

Update to 4.5.6
  package.json
Due: none

Update Makefile
  .github/workflows/publish.yml
  Makefile
Due: none

Update pytorch-metadata.json
  source/pytorch-metadata.json
Due: none

Fix protobuf.js
  source/protobuf.js
Due: eslint

Detect invalid content (#458)
  source/view.js
  test/models.json
Due: eslint

Update tf-metadata.json
  source/tf-metadata.json
  tools/tf-script.py
Due: none

Add MNN test files (#341)
  source/mnn-metadata.json
  source/mnn.js
  test/models.json
Due: eslint

Update sklearn.js
  source/sklearn.js
Due: eslint

Update dependencies
  .gitignore
  .npmignore
  .travis.yml
  package.json
  test/demo/index.html
  tsconfig.json
  yarn.lock
Due: none

Clean up dependencies
  package.json
  yarn.lock
Due: none

Fix build script
  test/update-prebuild.js
Due: eslint

Remove universal-analytics
  package.json
  source/electron.js
Due: eslint

Update to electron 10.1.4
  package.json
Due: none

Update onnx.js
  source/onnx.js
Due: eslint

Update pytorch.js (#547)
  source/pytorch.js
Due: eslint

Add Node.js 15 back
  .travis.yml
Due: none

Update dependencies
  package.json
  yarn.lock
Due: none

Do not allow to use with Node.js 15.0.1
  package.json
Due: none

Release 3.1.13 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci
