Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Bump node-fetch from 2.6.0 to 2.6.1 (#233)
  yarn.lock
Due: none

Fix spelling (Homebrew/homebrew-cask#89146)
  package.json
Due: none

Update pytorch-metadata.json
  source/pytorch-metadata.json
Due: none

Update ONNX detection
  source/onnx.js
Due: eslint

Update to eslint 7.9.0
  package.json
Due: none

Update keras-metadata.json
  source/keras-metadata.json
Due: none

Update PyTorch test files
  test/models.json
  tools/pytorch-script.py
Due: none

ONNX sparse tensor support
  source/onnx.js
Due: eslint

Fix MNN node type (#416)
  source/mnn.js
Due: eslint

Update protobuf.js
  source/protobuf.js
Due: eslint

Update Caffe2 detection
  source/caffe2.js
Due: eslint

Update TensorFlow detection
  source/tf.js
Due: eslint

Detect invalid content (#458)
  source/view.js
Due: eslint

Update Deeplearning4J detection
  source/dl4j.js
Due: eslint

Update TensorFlow Lite detection
  source/tflite.js
Due: eslint

Update PyTorch detection
  source/pytorch.js
Due: eslint

Update scikit-learn detection
  source/sklearn.js
Due: eslint

Update pytorch.js
  source/pytorch.js
Due: eslint

Update onnx-metadata.json
  source/onnx-metadata.json
Due: none

Update tf-metadata.json
  source/tf-metadata.json
Due: none

Update to electron 10.1.2
  package.json
Due: none

Update pytorch-metadata (#546)
  source/pytorch-metadata.json
  source/pytorch.js
  test/models.json
Due: eslint

Fix Tengine graph input and output (#598)
  source/tengine.js
  test/models.json
Due: eslint

Update to electron-builder 22.8.1
  package.json
Due: none

Update to electron-updater 4.3.5
  package.json
Due: none

Update tf-proto.js
  source/tf-proto.js
Due: eslint

Fix scikit-learn large array detection
  source/sklearn.js
Due: eslint

Remove unsafe-inline
  source/index.html
  source/index.js
Due: eslint

Update to 4.5.2
  package.json
Due: none

Update test files
  test/models.json
Due: none

Update ONNX tensor support
  source/onnx.js
Due: eslint

Update setup.py
  setup.cfg
  setup.py
Due: none

Update Tengine operator list (#602)
  source/tengine-metadata.json
  source/tengine.js
Due: eslint

Update README.md
  README.md
Due: yaspeller-ci

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
