Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Update onnx.js
  source/onnx.js
Due: eslint

Update pytorch.js
  source/pytorch-metadata.json
  source/pytorch.js
Due: eslint

Update to 5.3.7
  package.json
Due: none

Remove xmldom dependency
  package.json
  source/index.html
  source/openvino.js
  source/view.js
  source/xml.js
  test/models.js
Due: eslint

Update json.js
  source/json.js
Due: eslint

Update xml.js
  source/xml.js
Due: eslint

Add TorchScript test file (#842)
  source/pytorch-metadata.json
  source/pytorch.js
  test/models.json
Due: eslint

Update onnx-metadata.json
  source/onnx-metadata.json
Due: none

Update text.js
  source/text.js
Due: eslint

Update tflite-schema.js
  source/tflite-schema.js
Due: eslint

Add Unison library implementation (#318)
  README.md
  README.ru.md
  README.zh-CN.md
Due: yaspeller-ci

Update to electron 16.0.0
  package.json
Due: none

Update view.js
  source/view.js
Due: eslint

Update pytorch.js
  source/pytorch.js
Due: eslint

Update pytorch-metadata.json
  source/pytorch-metadata.json
Due: none

Update to electron 16.0.1
  package.json
Due: none

Update to 5.3.8
  package.json
Due: none

Update to electron-updater 4.6.1
  package.json
Due: none

Update to electron-builder 22.14.5
  electron-builder.yml
  package.json
Due: none

Update tf-metadata.json
  source/tf-metadata.json
Due: none

Update protobuf.js
  source/protobuf.js
Due: eslint

Update to eslint 8.3.0
  package.json
Due: none

Update tf.js (#844)
  source/tf.js
Due: eslint

Add no-console lint rule
  package.json
  publish/cask.js
  publish/winget.js
  source/app.js
  source/dagre.js
Due: eslint

Update tf-proto.js
  source/tf-proto.js
Due: eslint

Update darknet.js
  source/darknet.js
Due: eslint

ONNX .txt detection
  source/pytorch.js
  source/view.js
Due: eslint

Update python.js
  source/python.js
Due: eslint
