Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Update to 4.0.0
  package.json
Due: none

Update dependencies
  package.json
  yarn.lock
Due: none

do not reference secure js in non-secure js, since it will force bundler to require crypto. (#202)
  non-secure/index.js
Due: eslint

Fix non-secure size
  non-secure/index.js
Due: eslint

Release 3.0.1 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Cleanup README (#200)
  README.md
Due: yaspeller-ci

Fix bundler names
  README.md
  package.json
Due: yaspeller-ci

Add Tengine test file
  src/tengine.js
  test/models.json
Due: eslint

Handle ops.prim.NumToTensor (#429)
  src/pytorch-metadata.json
  src/pytorch.js
Due: eslint

Update sklearn.js
  src/sklearn.js
Due: eslint

Revert to electron-builder 22.3.6 (#452)
  package.json
Due: none

Update to 4.0.1
  package.json
Due: none

Update index.d.ts (#203)
  index.d.ts
Due: none

Release 3.0.2 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Fix ESLint warning
  test/async.test.js
  test/non-secure.test.js
Due: eslint

Fix import order
  test/demo/index.js
Due: eslint

Update benchmark
  README.md
Due: yaspeller-ci

Update keras-metadata.json
  src/keras-metadata.json
Due: none

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Update caffe2-metadata.json
  src/caffe2-metadata.json
Due: none

Udpate error message handlers to RegExp
  src/armnn.js
  src/bigdl.js
  src/caffe.js
  src/caffe2.js
  src/chainer.js
  src/coreml.js
  src/darknet.js
  src/dl4j.js
  src/flux.js
  src/gzip.js
  src/index.js
  src/keras.js
  src/mediapipe.js
  src/mlnet.js
  src/mnn.js
  src/mxnet.js
  src/ncnn.js
  src/onnx.js
  src/openvino.js
  src/pytorch.js
  src/sklearn.js
  src/tengine.js
  src/tf.js
  src/tflite.js
  src/torch.js
  src/view.js
Due: eslint

Update to d3 5.15.1
  package.json
Due: none

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Add CRA bug to docs
  README.md
Due: yaspeller-ci

Update error handler
  src/view.js
  test/models.json
Due: eslint

Update tflite-schema.js
  src/tflite-schema.js
Due: eslint

Update Tengine prototype (#440)
  Makefile
  src/caffe-metadata.json
  src/tengine-metadata.json
  src/tengine.js
  test/models.json
  tools/tengine
Due: eslint

Update to 4.0.2
  package.json
Due: none

Update Tengine prototype (#440)
  src/tengine-metadata.json
  src/tengine.js
Due: eslint

Add iOS Safari viewport-fit
  src/index.html
Due: none

Update tflite-schema.js
  src/tflite-schema.js
  src/tflite.js
Due: eslint

Detect invalid content (#458)
  src/tflite.js
  src/view.js
  test/models.json
Due: eslint

Update PyTorch detection
  src/view.js
Due: eslint
