Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Update pytorch.js
  src/pytorch.js
Due: eslint

Update sklearn.js
  src/sklearn.js
Due: eslint

Add Keras .hd5 detection (#293)
  electron-builder.yml
  src/app.js
  src/index.html
  src/keras.js
  src/view.js
Due: eslint

Update to electron-builder 21.0.15
  package.json
Due: none

Update to electron-updater 4.1.2
  package.json
Due: none

PyTorch array dict support
  src/pytorch.js
Due: eslint

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Update coreml-proto.js
  src/coreml-proto.js
Due: eslint

Add Core ML test file
  src/coreml.js
  test/models.json
Due: eslint

Update to 3.2.8
  package.json
Due: none

Add scikit-learn test file
  src/sklearn.js
  test/models.json
Due: eslint

Update dependencies
  package.json
  yarn.lock
Due: none

Add ToC
  README.md
  package.json
Due: yaspeller-ci

Add PouchDB example
  README.md
  package.json
Due: yaspeller-ci

Fix HDF5 int64 reader
  src/hdf5.js
  src/mxnet.js
  src/pytorch.js
  src/sklearn.js
  src/tflite.js
  src/torch.js
  src/torchscript.js
Due: eslint

Update to electron 5.0.7
  package.json
Due: none

Update sklearn-metadata.json
  src/sklearn-metadata.json
Due: none

tweaked wording for pouchdb (#133)
  README.md
Due: yaspeller-ci

Adds documentation for react-native using expo (#132)
  README.md
Due: yaspeller-ci

Update to electron-builder 21.1.1
  package.json
Due: none

Add null check in node sidebar
  src/view-sidebar.js
Due: eslint

Update to eslint 6.1.0
  package.json
Due: none

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Update tflite-schema.js
  src/tflite-schema.js
Due: eslint

Move Python reader to module
  setup.py
  src/python.js
  src/torchscript.js
Due: eslint

Update keras.js
  src/keras.js
Due: eslint

Fix ncnn .bin detection (#296)
  src/ncnn.js
Due: eslint

Add ncnn float16 support (#296)
  src/ncnn.js
Due: eslint

Add TensorFlow Lite custom operator support
  src/tflite-metadata.json
  src/tflite.js
  src/view-grapher.css
  test/models.json
Due: eslint

Update ncnn-metadata.json
  src/ncnn-metadata.json
Due: none

Clean up text
  README.md
Due: yaspeller-ci

Update to electron 5.0.8
  package.json
Due: none

Core ML kNearestNeighborsClassifier support (#193)
  src/coreml.js
  test/models.json
Due: eslint

Load TorchScript attributes.pkl (#281)
  src/torchscript.js
Due: eslint

Lint fixes
  src/python.js
Due: eslint

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
