Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Replace center tags
  src/index.html
Due: none

scikit-learn weight list support
  src/pickle.js
  src/sklearn.js
  test/models.json
Due: eslint

Add PyTorch bytearray support
  src/pytorch.js
Due: eslint

Update to const
  src/tf.js
  src/torch.js
  src/zip.js
Due: eslint

Add sidebar error handling
  src/view-sidebar.js
Due: eslint

Fix Keras weights reader (#428)
  src/keras-metadata.json
  src/keras.js
  test/models.json
  tools/keras-script.py
Due: eslint

Update to electron-updater 4.2.4
  package.json
Due: none

Update to electron 8.1.1
  package.json
Due: none

Remove Core ML test file
  test/models.json
Due: none

Update pytorch.js
  src/pytorch-metadata.json
  src/pytorch.js
Due: eslint

Update pytorch.js
  src/pytorch.js
Due: eslint

Update test files
  test/models.json
Due: none

Update to electron-builder 22.4.1
  package.json
Due: none

Update to electron-updater 4.2.5
  package.json
Due: none

Update armnn-schema.js
  src/armnn-schema.js
Due: eslint

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Update to 3.9.8
  package.json
Due: none

Update tf-proto.js
  src/tf-proto.js
Due: eslint

Update tf.js
  src/tf.js
Due: eslint

Update to flatbuffers 1.12.0
  package.json
Due: none

Bump acorn from 5.7.3 to 5.7.4 (#183)
  yarn.lock
Due: none

Update caffe2.js
  src/caffe2.js
Due: eslint

Update hdf5.js
  src/hdf5.js
Due: eslint

Update numpy.js
  src/darknet.js
  src/mxnet.js
  src/numpy.js
  src/sklearn.js
Due: eslint

bumped size-limit version, removed nodemon dependency (#184)
  package.json
  yarn.lock
Due: none

Reduce size
  README.md
  index.browser.js
  package.json
Due: yaspeller-ci, eslint

Fix ML.NET ImageClassificationPred (#439)
  src/mlnet.js
Due: eslint

Update dependencies and remove JSDoc spelling check
  .gitignore
  .npmignore
  .travis.yml
  package.json
  yarn.lock
Due: none

Move files to subdirs
  async/format/index.browser.js
  async/format/index.js
  async/generate/index.js
  async/random/index.browser.js
  async/random/index.js
  async/random/index.rn.js
  format/index.browser.js
  format/index.js
  generate/index.js
  non-secure/generate/index.js
  package.json
  random/index.browser.js
  random/index.js
  test/browser.test.js
  url/index.js
Due: eslint

Add types
  async/format/index.d.ts
  async/format/index.js
  async/generate/index.d.ts
  async/index.d.ts
  async/index.js
  async/random/index.d.ts
  format/index.d.ts
  format/index.js
  generate/index.d.ts
  generate/index.js
  index.d.ts
  index.js
  non-secure/generate/index.d.ts
  non-secure/generate/index.js
  non-secure/index.d.ts
  non-secure/index.js
  package.json
  random/index.d.ts
  url/index.d.ts
  url/index.js
  yarn.lock
Due: eslint

Mark size as an optional argument
  .npmignore
  async/format/index.d.ts
  async/generate/index.d.ts
  async/index.d.ts
  format/index.d.ts
  generate/index.d.ts
  index.d.ts
  non-secure/generate/index.d.ts
  non-secure/index.d.ts
Due: none

Update to marked 0.8.1
  package.json
Due: none

Update mnn-schema.js
  src/mnn-schema.js
Due: eslint

Update tflite-schema.js
  src/tflite-schema.js
Due: eslint

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
