Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Add Keras module exports
  setup.py
  src/keras.js
  src/view-browser.html
  src/view-electron.html
  src/view.js
Due: eslint

Fix non-macOS dark mode notification
  src/view-electron.js
Due: eslint

Update to 2.4.5
  package.json
Due: none

Add PyTorch module exports
  setup.py
  src/pytorch.js
  src/view-browser.html
  src/view-electron.html
  src/view.js
Due: eslint

Add CoreML module exports
  setup.py
  src/coreml.js
  src/view-browser.html
  src/view-electron.html
  src/view.js
Due: eslint

Add Caffe2 module exports
  setup.py
  src/caffe2.js
  src/view-browser.html
  src/view-electron.html
  src/view.js
Due: eslint

Add scikit-learn module exports
  setup.py
  src/sklearn.js
  src/view-browser.html
  src/view-electron.html
  src/view.js
Due: eslint

Add CNTK module exports
  setup.py
  src/cntk.js
  src/view-browser.html
  src/view-electron.html
  src/view.js
Due: eslint

Add TensorFlow module exports
  setup.py
  src/tf.js
  src/view-browser.html
  src/view-electron.html
  src/view.js
Due: eslint

Add TensorFlow Lite module exports
  setup.py
  src/tflite-schema.js
  src/tflite.js
  src/view-browser.html
  src/view-electron.html
  src/view.js
  tools/metadata/tflite-update
Due: eslint

Dark mode documentation links
  src/view-sidebar.css
Due: none

Replace ~ in alphabet to -
  README-cn.md
  README.md
  async/index.browser.js
  index.browser.js
  index.js
  non-secure.js
  package.json
  test/alphabet
  test/alphabet-worker.js
  url.js
Due: yaspeller-ci, eslint

Clean up debug code
  test/demo/index.js
Due: eslint

Move non-secure to subdir
  non-secure/index.js
  package.json
Due: eslint

Add non-secure/generate
  README.md
  non-secure/generate.js
  package.json
  test/non-secure-generate.test.js
Due: yaspeller-ci, eslint

Release 2.0 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Improve old Node.js tests
  test/ci
Due: none

Clean up code
  async/index.js
  test/async.test.js
Due: eslint

Add husky to devDependencies
  package.json
  yarn.lock
Due: none

Update __version__.py in make publish
  Makefile
  setup.py
Due: none

Add test/data to .gitignore
  .gitignore
Due: none

Dark mode find sidebar text color
  src/view-sidebar.css
Due: none

Electron module require
  setup.py
  src/base.js
  src/caffe.js
  src/caffe2.js
  src/cntk.js
  src/coreml.js
  src/gzip.js
  src/hdf5.js
  src/keras.js
  src/mxnet.js
  src/numpy.js
  src/onnx.js
  src/pickle.js
  src/pytorch.js
  src/sklearn.js
  src/tar.js
  src/tf.js
  src/tflite-schema.js
  src/tflite.js
  src/view-browser.html
  src/view-browser.js
  src/view-electron.html
  src/view-electron.js
  src/view-grapher.js
  src/view-sidebar.js
  src/view.js
  src/zip.js
  test/.vscode/launch.json
  test/app.js
  test/models.json
  tools/metadata/tflite-update
Due: eslint

Update to 2.4.6
  package.json
Due: none

Add TensorFlow Lite schema module exports
  src/tflite-schema.js
  src/tflite.js
  src/view-browser.html
  src/view.js
  tools/metadata/tflite-update
Due: eslint

Add model load test
  src/coreml.js
  test/app.js
  test/models.json
Due: eslint

Update inflateRaw dependencies
  src/base.js
  src/gzip.js
  src/view-browser.js
  src/view-electron.js
  src/view.js
  src/zip.js
  test/app.js
Due: eslint

Fix TensorFlow Lite int64 decode
  src/tflite.js
Due: eslint

Update caffe2-proto.js
  src/caffe2-proto.js
Due: eslint

Add model load test files
  test/app.js
  test/models.json
Due: eslint

Add PyTorch LeakyReLU
  electron-builder.yml
  src/pytorch-metadata.json
  src/pytorch.js
  tools/metadata/pytorch-metadata.py
  tools/metadata/pytorch-update
Due: eslint

Fix CoreML GRU tensor sizes
  src/coreml.js
Due: eslint

Update to 2.4.7
  package.json
Due: none

Add model load test files
  test/models.json
Due: none

Update README.md (#101)
  README.md
Due: yaspeller-ci

Improve docs
  README.md
Due: yaspeller-ci

Clean up docs
  README.md
Due: yaspeller-ci

Fix docs formating
  README.md
Due: yaspeller-ci

Improve description
  README.md
Due: yaspeller-ci

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none
