Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Update to eslint 7.3.0
  package.json
Due: none

Update GitHub publish workflow
  .github/workflows/publish.yml
Due: none

Update to 4.3.4
  package.json
Due: none

Fix link
  README.md
Due: yaspeller-ci

Update dependencies
  package.json
  yarn.lock
Due: none

Update TensorFlow script to tf-nightly
  src/keras-metadata.json
  tools/tf
Due: none

Add JavaScript shebang
  test/test.js
  tools/update_pbjs.js
Due: eslint

Workaround pytorch/pytorch#38620
  src/gzip.js
  src/mxnet.js
  src/pytorch.js
  src/zip.js
  test/models.json
Due: eslint

Update pytorch-metadata.json
  src/pytorch-metadata.json
Due: none

Update uff.js
  src/uff.js
Due: eslint

Add newline to end of winget manifest
  setup/winget.js
Due: eslint

Update cask and winget pull request titles
  Makefile
Due: none

UFF .trt detection (#511)
  src/view.js
Due: eslint

Update keras-metadata.json
  src/keras-metadata.json
  tools/keras-script.py
Due: none

Update test files
  test/models.json
  tools/keras-script.py
Due: none

Update sklearn.js
  src/sklearn.js
Due: eslint

Update keras.js
  src/keras.js
Due: eslint

Update to 4.3.5
  package.json
Due: none

Update to eslint 7.3.1
  package.json
Due: none

Update to electron 9.0.5
  package.json
Due: none

Replace kleur to colorette
  package.json
  test/benchmark
  yarn.lock
Due: none

Update caffe2-metadata.json
  src/caffe2-metadata.json
Due: none

Update tnn.js (#526)
  src/tnn.js
  test/models.json
Due: eslint

Update tf-proto.js
  src/tf-proto.js
Due: eslint

Temporary workaround (apple/coremltools#734)
  src/coreml-proto.js
  tools/coreml
Due: eslint

Update keras-metadata.json
  src/keras-metadata.json
Due: none

Fix Barracuda activation support (#486)
  src/barracuda.js
  test/models.json
Due: eslint

Update DEVELOPMENT.md
  DEVELOPMENT.md
Due: yaspeller-ci

Pickle v5 detection
  setup/icon.html
  src/pickle.js
  tools/update_icon
Due: eslint

Add TorchScript test files (#529)
  src/pytorch-metadata.json
  src/pytorch.js
  test/models.json
Due: eslint

Update README.md
  README.md
  setup.py
Due: yaspeller-ci

Update PyTorch script
  tools/pytorch-script.py
Due: none

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
