Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Browser error reporting (#114)
  src/netron.py
  src/view-browser.html
  src/view-browser.js
  src/view-electron.js
Due: eslint

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Update to 1.9.9
  package.json
Due: none

Add gzip reader
  src/mxnet-model.js
  src/view-browser.js
  src/view-electron.js
  src/zip.js
Due: eslint

Add tar reader
  src/view-browser.js
  src/zip.js
Due: eslint

Replace link to calculator (#76)
  README.md
Due: yaspeller-ci

Archive support
  src/mxnet-model.js
  src/view-browser.html
  src/view-electron.html
  src/view.js
Due: eslint

Change signature checks to PyTorchError
  src/pytorch-model.js
Due: eslint

PyTorch parameter arguments (#133)
  src/pytorch-model.js
Due: eslint

Fix TensorFlow rawData single value tensors (#136)
  src/tf-model.js
Due: eslint

Remove duplicate jshint comment
  src/zip.js
Due: eslint

Show TensorFlow Lite tensor names
  src/tflite-model.js
Due: eslint

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Add non-official callback API to async
  async.js
  package.json
  test/async.test.js
Due: eslint

Update dependencies
  package.json
  yarn.lock
Due: none

Release 1.2.1 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Search for initializer names (#37)
  src/view-render.js
  src/view-sidebar.js
  src/view.js
Due: eslint

Show Caffe2 tensor names
  src/caffe2-model.js
Due: eslint

Reset error reporting
  src/view-browser.js
  src/view-electron.js
Due: eslint

Show Keras tensor names
  src/keras-model.js
Due: eslint

File context support (#140)
  setup.py
  src/caffe-model.js
  src/caffe2-model.js
  src/coreml-model.js
  src/keras-model.js
  src/mxnet-model.js
  src/netron.py
  src/onnx-model.js
  src/pytorch-model.js
  src/tf-model.js
  src/tflite-model.js
  src/view-browser.js
  src/view-electron.js
  src/view.js
Due: eslint

Jupyter browse (#96)
  src/__init__.py
  src/netron.py
Due: none

Caffe2 large float arrays
  src/caffe2-model.js
  src/caffe2.js
  tools/caffe2-update
Due: eslint

Error reporting fixes
  src/caffe-model.js
  src/coreml-model.js
  src/onnx-model.js
  src/tf-model.js
  src/view-browser.js
  src/view-electron.js
  src/view.js
Due: eslint

Update caffe.js
  src/caffe.js
Due: eslint

PyTorch buffer support (#133)
  src/pytorch-model.js
Due: eslint

Update to 2.0.0
  package.json
Due: none

Fix Python launch script
  src/__init__.py
  src/netron.py
Due: none

Upadte to 2.0.1
  package.json
Due: none

Fix tar.gz loader
  src/view.js
Due: eslint

Update to 2.0.2
  package.json
Due: none

Update to 2.0.3
  package.json
Due: none

Add pako for browser inflateRaw
  package.json
  setup.py
  src/netron.py
  src/numpy.js
  src/view-browser.html
  src/view-browser.js
  src/view.js
  src/zip.js
Due: eslint

Update to 2.0.4
  package.json
Due: none

Fix endsWith in browser
  src/view-browser.js
Due: eslint

Update to 2.0.5
  package.json
Due: none
