Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint",
  ".svg": [
    "svgo",
    "git add"
  ]
}

Update to 3.0.6
  package.json
Due: none

Add ONNX test files
  test/models.json
Due: none

Update TensorFlow.js loader (#270)
  src/keras-metadata.json
  src/keras.js
  test/models.json
  test/test.js
Due: eslint

Update to 3.0.7
  package.json
Due: none

Change section order
  README-cn.md
  README.md
Due: yaspeller-ci

Improve UUID comparison
  README-cn.md
  README.md
Due: yaspeller-ci

Typo
  README.md
Due: yaspeller-ci

Clean up titles
  README-cn.md
  README.md
Due: yaspeller-ci

Remove unnecessary note
  README-cn.md
  README.md
Due: yaspeller-ci

Update dependencies
  package.json
  yarn.lock
Due: none

Release 2.0.2 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Load PyTorch weights only files (#236)
  src/pytorch.js
  test/models.json
Due: eslint

Update caffe2-proto.js
  src/caffe2-proto.js
Due: eslint

Update tf-metadata.json
  src/tf-metadata.json
Due: none

Update tflite-schema.js
  src/tflite-schema.js
Due: eslint

Allow to pass string as ID size
  async/format.js
  format.js
  package.json
  test/async-generate.test.js
  test/async.test.js
  test/generate.test.js
  test/index.test.js
  test/non-secure-generate.test.js
  test/non-secure.test.js
Due: eslint

Clean up ESLint config
  package.json
Due: none

Clean up Yaspeller config
  package.json
Due: none

Handle OpenVINO blob getAttribute (#191)
  src/openvino.js
Due: eslint

Update to 3.0.8
  package.json
Due: none

Release 2.0.3 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update torch.js
  src/torch.js
  test/models.json
Due: eslint

Update onnx-metadata.json
  src/onnx-metadata.json
Due: none

Add note to other languages section
  README.md
Due: yaspeller-ci

Update to electron 5.0.2
  package.json
Due: none

Add Sponsor button on GitHub
  .github/FUNDING.yml
Due: none

Update pytorch.js
  src/pytorch.js
Due: eslint

Fix a typo (#124)
  README.md
Due: yaspeller-ci

Move to promises
  src/caffe.js
  src/caffe2.js
  src/cntk.js
  src/coreml.js
  src/darknet.js
  src/keras.js
  src/mxnet.js
  src/onnx.js
  src/openvino.js
  src/paddle.js
  src/pytorch.js
  src/sklearn.js
  src/tf.js
  src/tflite.js
  src/torch.js
  src/view-browser.js
  src/view-electron.js
  src/view.js
  test/models.json
  test/test.js
Due: eslint

Update to electron-builder to 20.41.0
  package.json
Due: none

Clearify docs
  README.md
Due: yaspeller-ci

Update sklearn-metadata.json
  src/sklearn-metadata.json
Due: none

Update to 3.0.9
  package.json
Due: none

Exact ONNX attribute types (#188)
  src/onnx-metadata.json
  src/onnx.js
  tools/onnx-script.py
Due: eslint
