Repository gurusoftdev/netron: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint, svgo

Update rknn.js
  source/rknn.js
Due: eslint

Update tf.js
  source/tf.js
Due: eslint

Update to 5.7.3
  package.json
Due: none

Update CI and dependencies
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
Due: none

Add ONNX test file (#6)
  source/base.js
  source/onnx.js
  test/models.json
Due: eslint

Add PyTorch test file (#720)
  source/pytorch.js
  test/models.json
Due: eslint

Update to 5.7.4
  package.json
Due: none

Update ONNX test file (#6)
  test/models.json
Due: none

Update PyTorch test file (#720)
  test/models.json
Due: none

Update base.js
  source/base.js
Due: eslint

Update onnx.js
  source/onnx.js
Due: eslint

Update pytorch.js
  source/pytorch.js
Due: eslint

Update index.js
  source/index.js
Due: eslint

Update NumPy dtype support
  source/flax.js
  source/keras.js
  source/lasagne.js
  source/numpy.js
  source/paddle.js
  source/python.js
  source/sklearn.js
Due: eslint

Add Flax test file (#850)
  test/models.json
Due: none

Add kmodel test file (#871)
  source/kmodel.js
  test/models.json
Due: eslint

Update caffe2-proto.js
  source/caffe2-proto.js
Due: eslint

Update om-metadata.json
  source/om-metadata.json
Due: none

Update tnn-metadata.json
  source/tnn-metadata.json
Due: none

Update paddle.js
  source/paddle.js
Due: eslint

Update python.js
  source/python.js
Due: eslint

Add ONNX test file (#905)
  source/base.js
  source/onnx.js
  source/python.js
  test/models.json
Due: eslint

Update onnx-metadata.json
  source/onnx-metadata.json
Due: none

Update pytorch-metadata.json
  source/pytorch-metadata.json
Due: none

Update ONNX detection (#6)
  source/onnx.js
  source/view.js
Due: eslint

Added postgres extension to various README files (#359)
  README.id-ID.md
  README.md
  README.ru.md
  README.zh-CN.md
Due: yaspeller-ci

bench: add back @napi-rs/uuid (#360)
  package.json
  pnpm-lock.yaml
  test/benchmark.js
Due: eslint

Fix benchmark order
  test/benchmark.js
Due: eslint

Update dependencies
  package.json
  pnpm-lock.yaml
Due: none

Update mslite-schema.js
  source/mslite-metadata.json
  source/mslite-schema.js
Due: eslint

Fix view attributes menu (#906)
  source/app.js
Due: eslint

Update to electron 18.2.0
  package.json
Due: none

Update to 5.7.5
  package.json
Due: none

Detect invalid content (#458)
  source/view.js
Due: eslint

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
  svgo: any of: .svg
